{% extends "SiteCartronBundle::layout.html.twig" %}
{% block title %}JOSEPH CARTRON{% endblock %}
{% block body %}

<div id="contact">
    <div class="main">
        <div class="espacePro">
        	<h2 class="contact">{{"Contact"|trans}}</h2>
		    {% if save == 'yes' %}
        	<p class="address">{{ "Votre message a bien été envoyé" |trans }}</p>
			{% endif %}
            <form id="formContact" name="formContact" action="" method="post">
              <input type="text" name="nom" id="nom" class="input" value="{{"Nom"|trans}}" />
              <input type="text" name="prenom" id="prenom" class="input" value="{{"Prénom"|trans}}" />
              <input type="text" name="email" id="email" class="input" value="{{"Mail"|trans}}" />
              <input type="text" name="societe" id="societe" class="input" value="{{"Société"|trans}}" />
              <textarea name="message" id="message" cols="1" rows="1">{{"Message"|trans}}</textarea>
              <br clear="all" />
              <div class="valider">
                <input type="button" id="ok_new_pro" name="ok" value="{{"VALIDER"|trans}}" class="submit" />
              </div>
            </form>
            <p class="address">25, RUE DU DOCTEUR LEGRAND –  CS 30028   /   21701 NUITS-SAINT-GEORGES CEDEX - FRANCE<br />
			  TEL : +33 (0)3 80 62 00 90   /   MAIL : cartron [at] cartron.fr</p>
        </div>    
    </div>
</div>
{% endblock %}
