{% extends "SiteCartronBundle::layout.html.twig" %}
{% block title %}JOSEPH CARTRON{% endblock %}
{% block body %}

<script type="text/javascript" src="{{ asset('bundles/sitecartron/js/jquery.cycle2.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sitecartron/js/jquery.cycle2.carousel.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sitecartron/js/jquery.cycle2.tile.js') }}"></script>

<script type="text/javascript">
	$(function() 
	{
  		$('.desconly').jScrollPane({scrollbarWidth: 4, autoReinitialise: true});
  		$('.subMenu').jScrollPane({scrollbarWidth: 6});

	  	$('.next').hover(function() { $('#degustation .main').stop().animate({backgroundPosition: '45% 0px'}, 2000) }, 
	  	function() { $('#degustation .main').stop().animate({backgroundPosition: '50% 0'}, 2000) });

		
	
		
		$('.imprimer').click(function(){ window.print() })

	})
</script>

<style>
  .desconly{
  width: 400px;
  height: 370px;
  overflow: auto;
  }
  .jspDrag{
  background:#7C8184;
  }
  .jspTrack{
  background:#FFF;
  }
  .menu_degustation .jspDrag{
  background:#FFF !important;
  }
</style>
<div id="degustation-produits">
  <div class="main">
    <div class="degustation-home">
      <div class="menu_degustation">
        <ul>

          {% for article in degustation %}
          <li class="menuLiWithSubMenu">
            {{ render(controller('SiteCartronBundle:Default:lienMenuPageDegustation', {'id':article.id,'titreEn':article.titreEn,'titreFr':article.titreFr})) }}
            <div class="scrollMenu">
              <ul class="subMenu">
                {% for sm in sousMenu %}
                {% if(sm.idDegustation.id == article.id) %}
                <li>
                  <a href="{{ path('site_cartron_degustation_produit',{id:sm.id}) }}">
                    {% if(app.session.get('_locale')=='en') %} {{ sm.titreEn }} {% else %} {{ sm.titreFr }} {% endif %}
                  </a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </li>
          {% endfor %}

        </ul>
      </div> <!-- # end menu degustation -->
      <div class="content">

        <div id="slideshow-1">

          <a href="#" class="cycle-prev"></a>
          <a href="#" class="cycle-next"></a>
          
          <div id="cycle-1" data-cycle-slides=".cycle" data-cycle-fx="scrollHorz"  data-cycle-timeout="0" data-cycle-prev="#slideshow-1 .cycle-prev" data-cycle-next="#slideshow-1 .cycle-next" data-cycle-caption="#slideshow-1 .custom-caption">
			
            {% for article in sousMenu2 %}
            <div class="article_{{ article.id }} cycle {% if(article.couleurArrierePlan=='noir') %} {{ "imageNoir" }} {% endif %} {% if article.id == app.request.get('id') %}cycle-slide-active{% endif %}">
              <img src="{{ asset('upload/'~article.image) }}" width="977" height="577" alt="" />
              <a href="javascript:window.history.back()" class="back">{{ "Retour" | trans }}</a>
              <div class="description">
                <h3>{% if(app.session.get('_locale')=='en') %} {{ article.titreEn }} {% else %} {{ article.titreFr }} {% endif %}</h3>
                <div class="desconly">
  
                  <div class="text txtScroll">
                    {% if(app.session.get('_locale')=='en') %} {{ article.descriptionEn|raw }} {% else %} {{ article.descriptionFr|raw }} {% endif %}
                  </div>
                  <div class="sep"></div>
				  {% if app.session.get('_locale')=='en' and article.noteDegustationEn|trim != '' %}
                  <h4>Tasting Tip</h4>
                  <div class="text">
                    {% if(app.session.get('_locale')=='en') %} {{ article.noteDegustationEn|raw }} {% else %} {{ article.noteDegustationFr|raw }} {% endif %}
                  </div>
				  {% endif %}
                  
				  {% if app.session.get('_locale')=='fr' and article.noteDegustationFr|trim != '' %}
                  <h4>Note de Dégustation</h4>
                  <div class="text">
                    {% if(app.session.get('_locale')=='en') %} {{ article.noteDegustationEn|raw }} {% else %} {{ article.noteDegustationFr|raw }} {% endif %}
                  </div>
				  {% endif %}
                  
                </div>
                <div class="icons">
                  <a href="http://www.facebook.com/sharer.php?u=http://www.cartron.fr" class="facebook"></a>
                  <a href="#" class="telecharger"></a>
                  <a href="javascript:window.print();" class="imprimer"></a>
                </div>
              </div>
            </div>
            {% endfor %}



          </div>
        </div>

      </div> <!-- # end content degustation -->            
    </div>    
  </div>
</div>
<style>
  .text p {color: #2F383E}
</style>

<script>
$(document).ready(function() { 
	
	$(".cycle").each(function() {
		var $links = $(this).find(".text a");
		var ids = "#";
		$links.each(function() {
			ids += $(this).attr("href") + ",";
		});
		$links.each(function() {
			var url = "{{ path('site_cartron_degustation_produit', {id: 'id'}) }}";
			url = url.replace("id", $(this).attr("href"));
			$(this).attr("href", url + ids);
		});		
	});




   /*
   $(".content .text a").each(function() {
      var links = $(this).parent().find("a");
      links.each(function() {
         ids += $(this).attr("href") + ",";
      });
   });

   $(".content .text a").each(function() {
     var url = "{{ path('site_cartron_degustation_produit', {id: 'id'}) }}";
     var id = $(this).attr("href");
     url = url.replace("id", $(this).attr("href"));
     $(this).attr("href", url + ids);
   });
   */



	if(document.location.hash){
		var elements = [];
		var parameters = document.location.hash;
		parameters = parameters.substring(1,parameters.length);
		parameters = parameters.split(",");
		console.log(parameters);
		for(var i= 0; i < parameters.length; i++) {
			elements.push($(".article_"+parameters[i]));
		}
		$("#cycle-1").html(elements);
	} 
	
	var position = $('#cycle-1 .cycle').index( $('.article_{{articleDefault.id}}') );
	$('#cycle-1').show().cycle({'startingSlide':position, 'log':false});
});

</script>



{% endblock %}
