{% extends "SiteCartronBundle::layout.html.twig" %}
{% block title %}JOSEPH CARTRON{% endblock %}
{% block body %}

<script type="text/javascript">
$(function(){
	$('.scroll').jScrollPane({scrollbarWidth:4});
	$("#nav").menu();
	$('#mycarousel').jcarousel({
        scroll: 1
    });
})
</script> 
    <div id="pro">
        <div class="main">
            <div class="pro-home">
        {{ render(controller('SiteCartronBundle:Default:menuPro')) }}

                    <div class="content">
                        <h2>Les liqueurs de création</h2>
                        <ul class="jcarousel-skin-tango" id="mycarousel">
                         
                            <li>
                                <ul>  
                                    {% for article in produits %}
                                    <li>
                                        <h3>{% if(app.session.get('_locale')=='en') %} {{ article.titreEn }} {% else %} {{ article.titreFr }} {% endif %}</h3>
                                        <div class="visuel">
                                            <a href="{{ path("site_cartron_detail_produit_pro",{'id':article.id}) }}">
                                                <img src="{{ asset('upload/'~article.image) }}" width="201" height="104" alt="" />
                                                <span class="lienProduit">voir le produit</span>
                                            </a>
                                        </div>
                                    </li>
                                    {% if( loop.index==9) %}
                                     </ul>
                                </li>
                                <li>
                                    <ul>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            
                        </ul>
                    </div> <!--end carousel-->
                    <br clear="all" />
            
            <div class="blockTelecharge">
            	<a href="{{ path('site_cartron_archive',{'demande':'packshots'}) }}">Télécharger tous les packshots</a>
            	<a href="#">Télécharger toutes les fiches produits</a>
            	<a href="#">Télécharger toutes les recettes</a>
            	<a href="#">Télécharger toutes les fiches logistiques</a>
            </div>
                </div>    
            </div>
        </div>

{% endblock %}
