<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Test Application{% endblock %}</title>
        <link href="{{ asset('bundles/sitecartron/css/style.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/sitecartron/css/skin.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/sitecartron/css/jqtransform.css') }}" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="{{ asset('bundles/sitecartron/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sitecartron/js/jquery.toggleval.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sitecartron/js/jquery.jcarousel.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sitecartron/js/jquery.jqtransform.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sitecartron/js/main.js') }}"></script>
    </head>
    <body id="agegate">
        <input type="hidden" id="path_login" value="{{ path("site_cartron_login_pro") }}" />
        <input type="hidden" id="path_mpo" value="{{ path("site_cartron_mpo_pro") }}" />
            {% block body %}{% endblock %}
    </body>
</html>