<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Cartron{% endblock %}</title>
        <link href="{{ asset('bundles/sitecartron/css/style.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/sitecartron/css/skin.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/sitecartron/css/camera.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/sitecartron/css/jScrollPane.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/sitecartron/css/jqtransform.css') }}" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="{{ asset('bundles/sitecartron/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sitecartron/js/jquery-ui.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sitecartron/js/jquery.toggleval.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sitecartron/js/jquery.jcarousel.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sitecartron/js/jquery.jqtransform.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sitecartron/js/jquery.easing.1.3.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sitecartron/js/camera.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sitecartron/js/jquery.jscrollpane.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sitecartron/js/jquery.mousewheel.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sitecartron/js/jquery.hoverflow.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sitecartron/js/jquery.hoverIntent.minified.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sitecartron/js/jquery.backgroundpos.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sitecartron/js/main.js') }}"></script>

    </head>
    <body>
        <div class="site">
            <div class="header">
                <a href="{{ path('site_cartron_homepage') }}" class="logo dn"><span>JESEPH CARTRON</span></a>
                <div class="nav-top">
                    <div class="header-content">
                        <ul class="menu-top">
                            <li><a class="patrimoine" href="{{ path('site_cartron_page_statique',{'page':'Patrimoine'}) }}">{{ "Patrimoine" |trans }}</a></li>
                            <li><a class="savoir-faire" href="{{ path('site_cartron_page_statique',{'page':'Savoir-faire'}) }}">{{ "Savoir-faire"| trans }}</a></li>
                            <li><a {% if app.request.get('_route') == 'site_cartron_collection' %}class="active"{% endif %} href="{{ path('site_cartron_collection') }}">{{ "Collection"| trans }}</a></li>
                            <li><a {% if app.request.get('_route') == 'site_cartron_degustation' %}class="active"{% endif %} href="{{ path('site_cartron_degustation') }}">{{ "Dégustation" | trans }}</a></li>
                        </ul>
                        <br clear="all" />
                        <a href="{{ path('site_cartron_creer_compte_pro') }}" class="espace-pro-header">{{ "Espace" | trans }}<br /><strong>{{ "professionnel" | trans }}</strong></a>
                        <form action="" method="post" class="recherche-form">
                            <input type="text" name="recherche" value="" />
                        </form>
                    </div>
                </div>
            </div>
                <input type="hidden" id="path_login" value="{{ path("site_cartron_login_pro") }}" />
                <input type="hidden" id="path_mpo" value="{{ path("site_cartron_mpo_pro") }}" />
            {% block body %}{% endblock %}
            {% include 'SiteCartronBundle:Statique:footer.html.twig'  %}   
        </div>
    </body>
</html>