{% block footer %}
<div class="footer">
    <div class="langues-reseaux">
        <div class="langues">
            <dl id="sample" class="dropdown">
                <dt><a href="#0"><span>
                            {% if app.request.locale == "en" %}
                            EN <img class="flag" src="{{ asset('site/images/gb.png') }}" alt="" />
                            {% else %}
                            FR <img class="flag" src="{{ asset('site/images/fr.jpg') }}" alt="" />
                            {% endif %}
                        </span></a></dt>
                <dd>
                    <ul>
                    {% if app.request.locale == "en" %}
                        <li><a href="{{ path('choose_locale', {'locale' : 'fr'}) }}">FR <img class="flag"
                                    src="{{ asset('site/images/fr.jpg') }}" alt="" /></a></li>
                    {% else %}
                        <li><a href="{{ path('choose_locale', {'locale' : 'en'}) }}">EN <img class="flag"
                                    src="{{ asset('site/images/gb.png') }}" alt="" /></a></li>
                    {% endif %}
                    </ul>
                </dd>
            </dl>
        </div>
        <ul class="reseaux">
            <li><a href="/contact" class="contactez-nous">Contactez-nous</a></li>
            <li><a href="https://www.facebook.com/jcartron" class="facebook" title="Facebook">Facebook</a></li>
        </ul>
        <br clear="all">
    </div>

    <div class="menu-footer menu-footer-01">
        <ul>
            <li><a href="#0" class="mentions-legales">Mentions légales</a></li>
        </ul>
    </div>

    <p class="mention">
        L’abus d’alcool est dangereux pour la santé. A consommer avec modération.
        <a target="_blank" href="http://www.2340.fr"><img style="margin-left:5px;" src="/site/images/logo_2340.png"></a>
    </p>
    <div class="overlay-demande-envoyee">
        <div class="pop-up-mentions">
            <a href="" class="close dn"><span>Fermer</span></a>
            <h1>mentions légales</h1>
            <p>Propriétaire du Site Internet: Joseph Cartron<br>
                Adresse: 25, Rue du Docteur Legrand – CS 30028<br>
                21701 nuits-Saint-Georges Cedex - France<br>
                Email: cartron@cartron.fr<br>
                Téléphone : +33 (0)3 80 62 00 90<br>
                Design &amp; Development &amp; technical maintenance: BIGGERBAND<br>
                Crédits Images: Images&amp;Associés et Joseph Cartron <br>
                Conditions d'utilisation et propriétés:<br>
                Toute représentation totale ou partielle de ce site et de son contenu, par quelques procédés que ce
                soient, sans autorisation préalable est interdite et constituerait une contrefaçon sanctionnée par les
                articles L335-2 et suivants du Code de la Propriété Intellectuelle. Les utilisateurs du site sont tenus
                de respecter les dispositions de la Loi Informatique, Fichiers et Libertés, dont la violation est
                passible de sanctions pénales. Ils doivent notamment s'abstenir, s'agissant des informations nominatives
                auxquelles ils accèdent, de toute collecte, de toute utilisation détournée, et d'une manière générale,
                de tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes.<br>
                Hébergeur: OVH<br>
                <a href="https://clients.fr.oleane.com" target="_blank">https://clients.fr.oleane.com</a></p>
        </div>
    </div>
</div>
{% endblock %}