{% block menu %}
    <div id="menu-left">
        <ul id="menu">
            {% set index = 1 %}
            {% for category in categoriesMenu %}
                {%  if category.lvl == 0 %}
                {% if index >= 8 %}
                <li class="last_{{index}}">
                {% else %}
                <li>
                {% endif %}
                    <div class="sub sub-1">
                        <ul>
                            {% for subCategory in categoriesMenu %}
                                {% if subCategory.parent is not null and subCategory.parent.id == category.id %}
                                    {% set nomArr = subCategory.nom|split(' ') %}
                                    {% set length = nomArr|length %}
                                    <li>
                                        {# {% if  resources%} #}
                                        <div class="sub sub-2">
                                            <ul>
                                            {% for resource in resourcesMenu %}
                                                {% if resource.category.id == subCategory.id %}
                                                    
                                                    <li>
                                                        <a href="{{ path('pro_resource', { 'id': resource.id }) }}">
                                                            {{ resource.title  }}
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                            </ul>
                                        </div>
                                        <a href="{{ path('pro_list_resources', { 'id': subCategory.id }) }}">
                                            {% if length <= 2 %}
                                                <span>{{ subCategory.nom  }}</span>
                                            {% else %}
                                                {% for nom in 0..length - 3 %}
                                                    {{ nomArr[nom] }}
                                                {% endfor %}
                                                    <br>
                                                    <span>{{ nomArr[length-2] }} {{ nomArr[length-1] }}</span>
                                            {% endif %}   
                                            </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div><a>{{ category.nom }}</a>
                </li>
                {% set index = index + 1 %}
                {% endif %}
                
            {% endfor %}
        </ul>
    </div>
{% endblock %}