{% block menu %}
    <div id="menu-left">
        <ul id="menu">
            {% for category in categories %}
                {%  if category.lvl == 0 %}
                <li>
                    <div class="sub sub-1">
                        <ul>
                            {% for subCategory in categories %}
                                {% if subCategory.parent is not null %}
                                    {%  if subCategory.parent.id == category.id %}
                                        <li>
                                            <div class="sub sub-2">
                                                <ul>
                                                {% for resource in resources %}
                                                    {% if resource.category.id == subCategory.id %}
                                                        <li><a
                                                                {# href="{{ path('admin_pro_resource', { 'idResource': resource.id }) }}"> #}
                                                                href="#">
                                                                {{ resource.title  }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                                </ul>
                                            </div><a
                                                {# href="{{ path('admin_pro_resource_category', { 'idCategory': subCategory.id }) }}"> #}
                                                href="#">
                                                {{ subCategory.nom  }}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div><a>{{ category.nom }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}