{% extends "admin/layout.html.twig" %}
{% block body %}
<!-- start content -->
<div id="content">

    <!--  start page-heading -->
    <div id="page-heading">
        <h1>Ajouter resource </h1>
        {% if isEdition %}
            {% if locale == 'fr' %}
                <a href="{{ path('admin_edit_resource', { 'resource': resource.id, 'locale': 'en' }) }}">Modifier en anglais</a>
            {% else %}
                <a href="{{ path('admin_edit_resource', { 'resource': resource.id, 'locale': 'fr' }) }}">Modifier en français</a>
            {% endif %}
        {% endif %}
    </div>
    <!-- end page-heading -->

    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
        <tr>
            <th rowspan="3" class="sized"><img src="{{ asset('admin/images/shared/side_shadowleft.jpg')}}" width="20"
                    height="300" alt="" /></th>
            <th class="topleft"></th>
            <td id="tbl-border-top">&nbsp;</td>
            <th class="topright"></th>
            <th rowspan="3" class="sized"><img src="{{ asset('admin/images/shared/side_shadowright.jpg')}}" width="20"
                    height="300" alt="" /></th>
        </tr>
        <tr>
            <td id="tbl-border-left"></td>
            <td>
                <!--  start content-table-inner ...................................................................... START -->
                <div id="content-table-inner">
                    {{ form_start(form)}}
                    <table cellspacing="0" cellpadding="0" border="0" id="id-form">
                        <tbody>
                            <tr>
                                <th valign="top">Categorie:</th>
                                <td>{% autoescape false %}{{ form_widget(form.category) }}{% endautoescape %}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th valign="top">Titre :</th>
                                <td>{{ form_widget(form.title) }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th valign="top">Description:</th>
                                <td>{% autoescape false %}{{ form_widget(form.description) }}{% endautoescape %}</textarea>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th valign="top">TitreSEO :</th>
                                <td>{{ form_widget(form.titleSEO) }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th valign="top">Photo :</th>
                                <td>{{ form_widget(form.picture) }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th valign="top">Miniature :</th>
                                <td>{{ form_widget(form.miniature) }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <hr>
                                </td>
                                <td>
                                    <hr>
                                </td>
                                <td>
                                    <hr>
                                </td>
                            </tr>
                            {% for download in form.downloads %}
                                {% if locale == 'en' %}
                                    {% if download.children['locale'].vars['value'] == 'en' %}
                                        <tr>
                                            <th valign="top">Titre du fichier :</th>
                                            <td>{{ form_widget(download.title) }}</td>
                                        </tr>
                                        <tr class="download">
                                            <th valign="top">fichier :</th>
                                            <td>{{ form_widget(download.file) }}</td>
                                            {{ form_widget(download.locale) }}
                                        </tr>
                                        <tr>
                                            <th valign="top">lien :</th>
                                            <td><a href="{{ asset('upload/'~download.file.vars.data)}}"
                                                    target="_blank">{{ asset('upload/'~download.file.vars.data)}}</a></td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <hr>
                                            </td>
                                            <td>
                                                <hr>
                                            </td>
                                            <td>
                                                <hr>
                                            </td>
                                        </tr>
                                    {% else %}
                                        {{ form_widget(download.title, { 'attr': {'class': 'hidden'} }) }}
                                        {{ form_widget(download.file, { 'attr': {'class': 'hidden'} }) }}
                                        {{ form_widget(download.locale, { 'attr': {'class': 'hidden'} }) }}
                                    {% endif %}
                                {% else %}
                                    {% if download.children['locale'].vars['value'] == 'fr' %}
                                        <tr>
                                            <th valign="top">Titre du fichier :</th>
                                            <td>{{ form_widget(download.title) }}</td>
                                        </tr>
                                        <tr class="download">
                                            <th valign="top">fichier :</th>
                                            <td>{{ form_widget(download.file) }}</td>
                                            {{ form_widget(download.locale) }}
                                        </tr>
                                        <tr>
                                            <th valign="top">lien :</th>
                                            <td><a href="{{ asset('upload/'~download.file.vars.data)}}"
                                                    target="_blank">{{ asset('upload/'~download.file.vars.data)}}</a></td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <hr>
                                            </td>
                                            <td>
                                                <hr>
                                            </td>
                                            <td>
                                                <hr>
                                            </td>
                                        </tr>
                                    {% else %}
                                        {{ form_widget(download.title, { 'attr': {'class': 'hidden'} }) }}
                                        {{ form_widget(download.file, { 'attr': {'class': 'hidden'} }) }}
                                        {{ form_widget(download.locale, { 'attr': {'class': 'hidden'} }) }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
            <td></td>
        <tr class="downloads" data-prototype="{{ form_widget(form.downloads.vars.prototype)|e('html_attr') }}">

        </tr>
        <tr>
            <th>&nbsp;</th>
            <td valign="top">
                {{ form_widget(form.submit) }}
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>
    {{ form_end(form) }}
</div>
<!--  end content-table-inner ............................................END  -->
</td>
<td id="tbl-border-right"></td>
</tr>
<tr>
    <th class="sized bottomleft"></th>
    <td id="tbl-border-bottom">&nbsp;</td>
    <th class="sized bottomright"></th>
</tr>
</table>
<div class="clear">&nbsp;</div>
</div>
<!--  end content -->

<script type="text/javascript">
    $('tr.download').each(function () {
        addDownloadFormDeleteLink($(this), true);
    });

    var $collectionHolder;

    // setup an "add a download" link
    var $addDownloadButton = $('<button type="button" class="add_download_link">Ajouter un fichier</button>');
    var $newLinkLi = $('').after($addDownloadButton);
    var nbDownload = $('.download').length;
    $(document).ready(function () {

        $('.styledselect_form_1').selectbox({
            inputClass: "styledselect_form_1"
        });

        // Get the ul that holds the collection of downloads
        $collectionHolder = $('tr.downloads');

        // add a delete link to all of the existing download form li elements
        $collectionHolder.find('li').each(function () {
            addDownloadFormDeleteLink($(this), false);
        });

        // add the "add a download" anchor and li to the downloads ul
        $collectionHolder.append($newLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addDownloadButton.click(function (e) {
            // add a new download form (see next code block)
            addDownloadForm($collectionHolder, $newLinkLi);
        });
    });

    function addDownloadForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.attr('data-prototype');

        // get the new index
        var index = $collectionHolder.data('index') + nbDownload + 7;
        nbDownload = 0;

        var newForm = prototype;
        // You need this only if you didn't set 'label' => false in your downloads field in TaskType
        // Replace '__name__label__' in the prototype's HTML to
        // instead be a number based on how many items we have
        // newForm = newForm.replace(/__name__label__/g, index);

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        newForm = newForm.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a download" link li
        var $newFormLi = $('<th valign="top">Titre du fichier :</th>').after('<td></td>').append(newForm);
        $addDownloadButton.before($newFormLi);

        // add a delete link to the new form
        addDownloadFormDeleteLink($newFormLi, false);
    }

    function addDownloadFormDeleteLink($downloadFormLi, $canNext) {
        var $removeFormButton = $('<button type="button">Supprimer ce fichier</button>');
        $downloadFormLi.append($removeFormButton);

        $removeFormButton.click(function (e) {
            // remove the li for the download form
            if ($canNext) {
                $downloadFormLi.prev().remove();
                $downloadFormLi.next().remove();
            }
            $downloadFormLi.remove();
        });
    }
</script>
{% endblock %}