{% extends "SiteCartronBundle::layout.html.twig" %}
{% block title %}JOSEPH CARTRON{% endblock %}
{% block body %}
<script type="text/javascript">
    $(function() {
        $('#camera_wrap_1').camera({
            thumbnails: true,
            barDirection: 'rightToLeft',
            fx: 'scrollLeft',
            autoAdvance: false,
            height: '575px'
        });
        $('.scroll').jScrollPane({scrollbarWidth: 4});
    })
</script>


<div id="collection-produits">
 <style>
                                .collection-home .menu_collection #marc_{{ idcollection }} a{
                                    border-bottom:2px solid #{{ defaultColor }};
                                }
                                </style>
    <div class="main">
        <div class="collection-home">
            <div class="menu_collection">
                <ul>                    
                     {% for article in collections %}
                                <li id="marc_{{ article.id }}">
                                   {{ render(controller('SiteCartronBundle:Default:lienMenuPageCollection', {'id':article.id,'titreEn':article.titreEn,'titreFr':article.titreFr,'rid':rid})) }}
                                </li>
                                <style>
                                .collection-home .menu_collection #marc_{{ article.id }} a:hover, .collection-home .menu_collection li a.active{
                                    border-bottom:2px solid #{{ article.color }};
                                }
                                </style>
                                {% endfor %}
                        </ul>
                    </div> <!-- # end menu collection -->

                    <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">

                        <div data-thumb="{{ asset('upload/'~articleDefault.icone) }}" data-src="{{ asset('bundles/sitecartron/images/trans.png') }}">
                            <div class="camera_effected">
                                <div class="visuel">
                                    <h2><a href="#0" onclick="return false" class="acc-produit">{% if(app.session.get('_locale')=='en') %} {{ articleDefault.titreEn }} {% else %} {{ articleDefault.titreFr }} {% endif %}</a></h2>
                                    <img src="{{ asset('upload/'~articleDefault.image) }}" alt="">
                                </div>
                                <div class="description">
                                    <div class="accueil-produits">
                                    {% if(app.session.get('_locale')=='en') %} {{ articleDefault.descriptionEn|raw }} {% else %} {{ articleDefault.descriptionFr|raw }} {% endif %}
                                            <p class="marge9"><span>Degré :</span> {{ articleDefault.degre }}%</p>
                                            <p class="marge9"><span>Contenance :</span>{% if(app.session.get('_locale')=='en') %} {{ articleDefault.contenanceEn }} {% else %} {{ articleDefault.contenanceFr }} {% endif %}</p>
                                            <p class="marge9"><span>Conserver</span>{% if(app.session.get('_locale')=='en') %} {{ articleDefault.conserverEn }} {% else %} {{ articleDefault.conserverFr }} {% endif %}</p>
                                        </div>
                                        <div class="note-degustation">
                                            <h3>Note de dégustation</h3>
                                    {% if(app.session.get('_locale')=='en') %} {{ articleDefault.noteDegustationEn|raw }} {% else %} {{ articleDefault.noteDegustationFr|raw }} {% endif %}
                                        </div>
                                        <div class="note-elaboration">
                                            <h3>Elaboration</h3>
                                    {% if(app.session.get('_locale')=='en') %} {{ articleDefault.elaborationEn|raw }} {% else %} {{ articleDefault.elaborationFr|raw }} {% endif %}
                                        </div>
                                        <div class="link-produits">
                                            <a href="{% if(app.session.get('_locale')=='en') %} {{ articleDefault.recetteEn }} {% else %} {{ articleDefault.recetteFr }} {% endif %}"><span>Recettes</span></a>
                                            <a href="#0" onclick="return false" class="degustation"><span>Note de Dégustation</span></a>
                                            <a href="#0" onclick="return false" class="elaboration"><span>Elaboration</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div> 


                         {% for article in sousMenu %}
                            {% if(article.id != articleDefault.id) %}
                            <div data-thumb="{{ asset('upload/'~article.icone) }}" data-src="{{ asset('bundles/sitecartron/images/trans.png') }}">
                                <div class="camera_effected">
                                    <div class="visuel">
                                        <h2><a href="#0" onclick="return false" class="acc-produit">{% if(app.session.get('_locale')=='en') %} {{ article.titreEn }} {% else %} {{ article.titreFr }} {% endif %}</a></h2>
                                        <img src="{{ asset('upload/'~article.image) }}" alt="">
                                    </div>
                                    <div class="description">
                                        <div class="accueil-produits">
                                    {% if(app.session.get('_locale')=='en') %} {{ article.descriptionEn|raw }} {% else %} {{ article.descriptionFr|raw }} {% endif %}
                                                <p class="marge9"><span>Degré :</span> {{ article.degre }}%</p>
                                                <p class="marge9"><span>Contenance :</span>{% if(app.session.get('_locale')=='en') %} {{ article.contenanceEn }} {% else %} {{ article.contenanceFr }} {% endif %}</p>
                                                <p class="marge9"><span>Conserver</span>{% if(app.session.get('_locale')=='en') %} {{ article.conserverEn }} {% else %} {{ article.conserverFr }} {% endif %}</p>
                                            </div>
                                            <div class="note-degustation">
                                                <h3>Note de dégustation</h3>
                                    {% if(app.session.get('_locale')=='en') %} {{ article.noteDegustationEn|raw }} {% else %} {{ article.noteDegustationFr|raw }} {% endif %}
                                            </div>
                                            <div class="note-elaboration">
                                                <h3>Elaboration</h3>
                                    {% if(app.session.get('_locale')=='en') %} {{ article.elaborationEn|raw }} {% else %} {{ article.elaborationFr|raw }} {% endif %}
                                            </div>
                                            <div class="link-produits">
                                                <a href="{% if(app.session.get('_locale')=='en') %} {{ article.recetteEn }} {% else %} {{ article.recetteFr }} {% endif %}"><span>Recettes</span></a>
                                                <a href="#0" onclick="return false" class="degustation"><span>Note de Dégustation</span></a>
                                                <a href="#0" onclick="return false" class="elaboration"><span>Elaboration</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                        {% endif %}
                        {% endfor %}


                            </div>
                        </div>    
                    </div>
                </div>
{% endblock %}
