<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Joseph Cartron{% endblock %}</title>
    <meta name="description" content="Joseph Cartron - Crèmes de Fruits – Liqueurs – Eaux-de-Vie. Maison familiale fondée en 1882 à Nuits-Saint-Georges."/>
    <link href="{{ asset('site/css/style.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('site/css/skin.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('site/css/jqtransform.css') }}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{{ asset('site/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('site/js/jquery.toggleval.js') }}"></script>
    <script type="text/javascript" src="{{ asset('site/js/jquery.jcarousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('site/js/jquery.jqtransform.js') }}"></script>
    <script type="text/javascript" src="{{ asset('site/js/main.js') }}"></script>
    <script type="text/javascript" src="{{ asset('site/js/tarteaucitron/tarteaucitron.js') }}"></script>
</head>
<body id="agegate">
    <input type="hidden" id="path_login" value="{{ path("create_pro_account") }}" />
    <input type="hidden" id="path_mpo" value="{{ path("reset_pro_password") }}" />
    {% block body %}{% endblock %}
	<script>
      // Script to manage cookies
      tarteaucitron.init({
          "privacyUrl": "{{ path('privacy_policy') }}",
          "hashtag": "#tarteaucitron",
          "cookieName": "tarteaucitron",
          "orientation": "bottom",
          "showAlertSmall": true,
          "cookieslist": true,
          "adblocker": false,
          "AcceptAllCta" : false,
          "highPrivacy": true,
          "handleBrowserDNTRequest": true,
          "removeCredit": true,
          "moreInfoLink": true
      });

      tarteaucitron.user.analyticsUa = 'UA-44915246-1';
      (tarteaucitron.job = tarteaucitron.job || []).push('analytics');
	</script>

    </body>
</html>
