<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Joseph Cartron{% endblock %}</title>
    <meta name="description" content="Joseph Cartron - Crèmes de Fruits – Liqueurs – Eaux-de-Vie. Maison familiale fondée en 1882 à Nuits-Saint-Georges."/>
    <link href="{{ asset('site/css/style.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('site/css/skin.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('site/css/jqtransform.css') }}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{{ asset('site/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('site/js/jquery.toggleval.js') }}"></script>
    <script type="text/javascript" src="{{ asset('site/js/jquery.jcarousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('site/js/jquery.jqtransform.js') }}"></script>
    <script type="text/javascript" src="{{ asset('site/js/main.js') }}"></script>
</head>
<body id="agegate">
    <input type="hidden" id="path_login" value="{{ path("create_pro_account") }}" />
    <input type="hidden" id="path_mpo" value="{{ path("reset_pro_password") }}" />
    {% block body %}{% endblock %}
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  
	  ga('create', 'UA-44915246-1', 'cartron.fr');
	  ga('send', 'pageview');  
	</script>

    </body>
</html>
