{% block footer %}
<script>
$( document ).ready(function() {
    $('.mentions-legales').click(function() {
        $(".overlay-mentions").show();
        $(".menu-top").removeClass('active');
    })
      $('.overlay-mentions .close').click(function(e) {
          e.preventDefault();
        $(".overlay-mentions").hide();
    })

    $("#languesIcon").click(function() {
      $("#languesContainer").toggle();
    })
});
</script>
<div class="footer">
<div class="langues-reseaux">
    <div class="langues">
            <span id="languesIcon">
            {% if app.request.locale == "en" %}
                <img class="flag" src="{{ asset('site/images/gb.png') }}" alt="" />
                <span class="" >EN </span>
            {% else %}
                <img class="flag" src="{{ asset('site/images/fr.jpg') }}" alt="" />
                <span class=""> FR </span>
            {% endif %}
            </span>
            <ul id="languesContainer">
                {% if app.request.locale == "en" %}
                <li>
                    <a href="{{ path('choose_locale', {'locale' : 'fr'}) }}">
                        <img class="flag" src="{{ asset('site/images/fr.jpg') }}" alt="" />
                        <span class=""> FR </span>
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{{ path('choose_locale', {'locale' : 'en'}) }}">
                        <img class="flag" src="{{ asset('site/images/gb.png') }}" alt="" />
                        <span class=""> EN </span>
                    </a>
                </li>
                {% endif %}
            </ul>
            </div>
            <ul class="reseaux">
                <li><a href="{{ path('contact') }}" class="contactez-nous">{{ "Contactez-nous" | trans }}</a></li>
                <li><a href="https://www.facebook.com/jcartron" class="facebook" title="Facebook">Facebook</a></li>
                <li><a href="https://www.instagram.com/joseph.cartron/" class="instagram" title="instagram">Instagram</a></li>
            </ul>
            <br clear="all" />
        </div>

        <div class="menu-footer menu-footer-01">
            <ul>
                <li><a href="{{ path('static_page',{'page':'Patrimoine'}) }}">{{ "Patrimoine" |trans }}</a></li>
                <li><a href="{{ path('static_page',{'page':'Savoir-faire'}) }}">{{ "Savoir-faire"| trans }}</a></li>
                <li><a href="{{ path('collection') }}">{{ "Collection"| trans }}</a></li>
                <li><a href="{{ path('tasting') }}">{{ "Dégustation" | trans }}</a></li>
            </ul>
        </div>

        <div class="menu-footer menu-footer-02">
            <ul>
              <li><a href="{{ path('collection_product', { id:3 }) }}">{{ "CREMES DE CASSIS DE BOURGOGNE" | trans }}</a></li>
                <li><a href="{{ path('collection_product', { id:5 }) }}">{{ "CREMES DE FRUITS de création" | trans }}</a></li>
                <li><a href="{{ path('collection_product', { id:11 }) }}">{{ "LIQUEURS de création" | trans }}</a></li>
                <li><a href="{{ path('collection_product', { id:64 }) }}">{{ "LES T DE CARTRON" }}</a></li>
                <li><a href="{{ path('collection_product', { id:49 }) }}">{{ "APERITIFS DE tradition" | trans }}</a></li>
                <li><a href="{{ path('collection_product', { id:57 }) }}">{{ "EAUX DE VIE de tradition" | trans }}</a></li>
                <li><a href="{{ path('collection_product', { id:53 }) }}">{{ "MARC ET FINE DE BOURGOGNE" | trans }}</a></li>
                <li><a href="#0" id="mentions-legales" class="mentions-legales">{{ "Mentions légales" | trans }}</a></li>
                <li><a href="{{ path('privacy_policy') }}">{{ "privacy_policy" | trans }}</a></li>
            </ul>
        </div>

        <p class="mention">
		  {{ "L’abus d’alcool est dangereux pour la santé. Consommer avec modération." | trans | raw }}
		</p>

        <div class="links">
            <a href="http://info-calories-alcool.org/">info-calories-alcool.org</a> - 
            <a href="http://www.spiritueux.fr/">spiritueux.fr</a>
        </div>

    <div class="overlay-mentions">
        <div class="pop-up-mentions">
            <div style="width: 80%;margin:0 auto;">
                <a href="#" class="close dn TEST"><span>{{ "Fermer" | trans }}</span></a>
                <h1>{{ "mentions légales" | trans }}</h1>
                <div class="scrollMention">
                    <div style="width: 80%;margin:0 auto;">
                        <p>
                            <b>Raison sociale :</b> <br>Joseph Cartron<br>
                            Capital de 638 400,00 Euros<br>
                            RCS DIJON B 035 780 253<br>
                            <b>Directeur de la publication :</b> Judith Cartron<br>
                        <hr style="border-bottom: 1px rgba(255,255,255,0.15) solid;margin: 10px;"/>
                        </p>
                        <p>
                            <b>Adresse :</b><br>
                            Joseph Cartron <br>
                            25, Rue du Docteur Louis Legrand – CS 30028<br>
                            21701 Nuits-Saint-Georges Cedex - France<br>
                            <b>Email :</b> cartron@cartron.fr<br/>
                            <b>Téléphone :</b> +33 (0)3 80 62 00 90
                        <hr style="border-bottom: 1px rgba(255,255,255,0.15) solid;margin: 10px;"/>
                        </p>
                        <p>
                            <b>Design & Développement :</b> <br>BIGGERBAND<br>
                            1 rue de Paradis <br/>75010 Paris<br>
                            <b>Maintenance technique :</b> <br>LOGOMOTION<br>
                            19, rue Champ Passavent - BP2 <br/>21380 Messigny et Vantoux<br>
                            <b>Hébergeur :</b><br>
                            http://www.ovh.com<br>
                            Ce site est hébergé sur les serveurs de la société :<br>
                            OVH SAS (http://www.ovh.com)<br>
                            140 Quai du Sartel 59100 ROUBAIX<br>
                            Tél : +33 (0)3 20 45 36 80<br>
                        <hr style="border-bottom: 1px rgba(255,255,255,0.15) solid;margin: 10px;"/>
                        </p>
                        <p>
                            <b>Crédits Images :</b> Joseph Cartron
                        <hr style="border-bottom: 1px rgba(255,255,255,0.15) solid;margin: 10px;"/>
                        </p>
                        <p>
                            <b>Conditions d'utilisation et propriétés :</b><br>
                            Toute représentation totale ou partielle de ce site et de son contenu, par quelques procédés que ce soient, sans autorisation préalable est interdite et constituerait une contrefaçon sanctionnée par les articles L335-2 et suivants du Code de la Propriété Intellectuelle. Les utilisateurs du site sont tenus de respecter les dispositions de la Loi Informatique, Fichiers et Libertés, dont la violation est passible de sanctions pénales. Ils doivent notamment s'abstenir, s'agissant des informations nominatives auxquelles ils accèdent, de toute collecte, de toute utilisation détournée, et d'une manière générale, de tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes.
                            <br>
                            <br>
                            <b>L’abus d’alcool est dangereux pour la santé. <br>Consommer avec modération.</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
		
        <div class="overlay-demande-envoyee">
          <div class="pop-demande-envoyee">
            <a href="" class="close dn"><span>{{ "Fermer"| trans }}</span></a>
			
            <p>{{ "Votre demande a bien été envoyée"| trans }}.</p>
          </div>
        </div>
</div>
{% endblock %}
