<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	  <meta name="description" content="Maison Joseph Cartron Crèmes de Fruits – Liqueurs – Eaux-de-Vie. Maison familiale fondée en 1882 à Nuits-Saint-Georges." />
    <title>{% block title %}Joseph Cartron{% endblock %}</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro" />
    <link rel="stylesheet" href="{{ asset('site/css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('site/css/skin.css') }}" />
    <link rel="stylesheet" href="{{ asset('site/css/camera.css') }}" />
    <link rel="stylesheet" href="{{ asset('site/css/jScrollPane.css') }}" />
    <link rel="stylesheet" href="{{ asset('site/css/jqtransform.css') }}" />
    <link rel="stylesheet" href="{{ asset('site/css/owl.carousel.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('site/css/owl.theme.default.min.css') }}" />
    <script src="{{ asset('site/js/jquery.js') }}"></script>
    <script src="{{ asset('site/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('site/js/jquery.toggleval.js') }}"></script>
    <script src="{{ asset('site/js/jquery.jcarousel.min.js') }}"></script>
    <script src="{{ asset('site/js/jquery.jqtransform.js') }}"></script>
    <script src="{{ asset('site/js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ asset('site/js/camera.min.js') }}"></script>
    <script src="{{ asset('site/js/jquery.jscrollpane.js') }}"></script>
    <script src="{{ asset('site/js/jquery.mousewheel.js') }}"></script>
    <script src="{{ asset('site/js/jquery.hoverflow.js') }}"></script>
    <script src="{{ asset('site/js/jquery.hoverIntent.minified.js') }}"></script>
    <script src="{{ asset('site/js/jquery.backgroundpos.min.js') }}"></script>
    <script src="{{ asset('site/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('site/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('site/js/simplebar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('site/js/tarteaucitron/tarteaucitron.js') }}"></script>
    <!--script src="{{ asset('site/js/main1.js') }}"></script-->
  </head>
  <body>
    <div class="site">
      <div class="header">
        <a class="facebook" href="https://www.facebook.com/jcartron">
          <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z"/></svg>
        </a>
        <span class="toggle">
          <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill-rule="evenodd" clip-rule="evenodd"><path d="M24 18v1h-24v-1h24zm0-6v1h-24v-1h24zm0-6v1h-24v-1h24z" fill="#1040e2"/><path d="M24 19h-24v-1h24v1zm0-6h-24v-1h24v1zm0-6h-24v-1h24v1z"/></svg>
        </span>
        <script>
          $('.header .toggle').on('click', function() { $('.header .menu-top').toggleClass('active'); });
        </script>
        <a class="logo" href="{{ path('homepage') }}">
          <img src="{{ asset('site/images/logo-header.png') }}" alt="Joseph Cartron" />
        </a>
        {% set targetLocale = app.request.locale == 'fr' ? 'en' : 'fr' %}
        <div class="menu-lang" >
          {{ app.request.locale }}
          <a class="choose-lang" href="{{ path('choose_locale', {'locale' : targetLocale}) }}">{{ targetLocale }}</a>
        </div>
        <a class="menu-pro" href="/pro{% if (app.request.locale  == 'en') %}/en{% endif %}">
          {{ 'Espace pro' | trans | raw }}
        </a>
        <div class="menu-top">
          <a class="patrimoine" href="{{ path('static_page',{'page':'Patrimoine'}) }}">{{ "Patrimoine" |trans }}</a>
          <a class="savoir-faire" href="{{ path('static_page',{'page':'Savoir-faire'}) }}">{{ "Savoir-faire"| trans }}</a>
          <a {% if app.request.get('_route') == 'collection' or  app.request.get('_route') == 'collection_produit' %}class="active"{% endif %} href="{{ path('collection') }}">{{ "Collection"| trans }}</a>
          <a {% if app.request.get('_route') == 'degustation' or app.request.get('_route') == 'degustation_produit' %}class="active"{% endif %} href="{{ path('tasting') }}">{{ "Dégustation" | trans }}</a>
          <div class="menu-plus">
            <a href="{{ path('contact') }}">{{ "Contactez-nous" | trans }}</a>
            <a href="#mentions-legales" class="mentions-legales">{{ "Mentions légales" | trans }}</a>
          </div>
        </div>
        <div class="menu-top-right">
          <a href="{{ path('contact') }}" class="contactez-nous">{{ "Contactez-nous" | trans }}</a>
          <a href="/pro{% if(app.request.locale =='en') %}/en{%endif %}" class="espace-pro-header">{{ "Espace" | trans }}<br /><strong>{{ "professionnel" | trans }}</strong></a>
        </div>
      </div>
      {% block body %}{% endblock %}
      {% include 'footer.html.twig'  %} 
      {% if app.request.locale == "fr" %} 
        <div class="overlay-mentions">
          <div class="pop-up-mentions">
            <div style="width: 80%;margin:0 auto;">
              <a href="#" class="close dn TEST"><span>{{ "Fermer" | trans }}</span></a>
              <h1>{{ "mentions légales" | trans }}</h1>
              <p>
                <b>Raison sociale :</b> <br>Joseph Cartron<br>
                Capital de 638 400,00 Euros<br>
                RCS DIJON B 035 780 253<br>
                <b>Directeur de la publication :</b> Judith Cartron<br>
              <hr style="border-bottom: 1px rgba(255,255,255,0.15) solid;margin: 10px;"/>
              </p>
              <p>
                <b>Adresse:</b><br>
                Joseph Cartron <br>
                25, Rue du Docteur Louis Legrand – CS 30028<br>
                21701 Nuits-Saint-Georges Cedex - France<br>
                <b>Email:</b> cartron@cartron.fr<br/>
                <b>Téléphone:</b> +33 (0)3 80 62 00 90
              <hr style="border-bottom: 1px rgba(255,255,255,0.15) solid;margin: 10px;"/>
              </p>
              <p>
                <b>Design & Développement:</b> <br>BIGGERBAND<br>
                1 rue de Paradis <br/>75010 Paris<br>
                <b>Maintenance technique:</b> <br>LOGOMOTION<br>
                19, rue Champ Passavent - BP2 <br/>21380 Messigny et Vantoux<br>
                <b>Hébergeur:</b><br>
                http://www.ovh.com<br>
                Ce site est hébergé sur les serveurs de la société :<br>
                OVH SAS (http://www.ovh.com)<br>
                140 Quai du Sartel 59100 ROUBAIX<br>
                Tél : +33 (0)3 20 45 36 80<br>
              <hr style="border-bottom: 1px rgba(255,255,255,0.15) solid;margin: 10px;"/>
              </p>
              <p>
                <b>Crédits Images:</b> Joseph Cartron
              </p>
              <p>
                <b>Conditions d'utilisation et propriétés:</b><br>
                Toute représentation totale ou partielle de ce site et de son contenu, par quelques procédés que ce soient, sans autorisation préalable est interdite et constituerait une contrefaçon sanctionnée par les articles L335-2 et suivants du Code de la Propriété Intellectuelle. Les utilisateurs du site sont tenus de respecter les dispositions de la Loi Informatique, Fichiers et Libertés, dont la violation est passible de sanctions pénales. Ils doivent notamment s'abstenir, s'agissant des informations nominatives auxquelles ils accèdent, de toute collecte, de toute utilisation détournée, et d'une manière générale, de tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes.
                <br>
                <br>
                <b>L’abus d’alcool est dangereux pour la santé. Consommer avec modération.</b>
              </p>
            </div>
          </div>
        </div>
      {% else %}
        <div class="overlay-mentions">
          <div class="pop-up-mentions">
            <a href="" class="close dn"><span>Fermer</span></a>
            <h1>legal terms</h1>
            <div class="scrollMention">
              <p>
                Raison sociale : SOCIETE DES ETABLISSEMENTS CARTRON (S.E.C.) <br>
                Capital de 638 400,00 Euros<br>
                RCS DIJON B 035 780 253<br>
                Directeur de la publication : Judith Cartron<br>
              </p>
              <p>
                <b>Adresse:</b><br>
                Joseph Cartron - 25, Rue du Docteur Louis Legrand – CS 30028<br>
                21701 Nuits-Saint-Georges Cedex - France<br>
                <b>Email:</b> cartron@cartron.fr
                <b>Téléphone:</b> +33 (0)3 80 62 00 90
              </p>
              <p>
                <b>Design & Développement:</b> BIGGERBAND<br>
                1 rue de Paradis 75010 Paris<br>
                <b>Maintenance technique:</b> LOGOMOTION<br>
                19, rue Champ Passavent - BP2 - 21380 Messigny et Vantoux<br>
                <b>Hébergeur:</b><br>
                Ce site est hébergé sur les serveurs de la société :<br>
                OVH SAS (http://www.ovh.com)<br>
                140 Quai du Sartel 59100 ROUBAIX<br>
                Tél : +33 (0)3 20 45 36 80<br>
              </p>
              <p>
                <b>Crédits Images:</b> Joseph Cartron
              </p>
              <p>
                <b>Conditions d'utilisation et propriétés:</b><br>
                Toute représentation totale ou partielle de ce site et de son contenu, par quelques procédés que ce soient, sans autorisation préalable est interdite et constituerait une contrefaçon sanctionnée par les articles L335-2 et suivants du Code de la Propriété Intellectuelle. Les utilisateurs du site sont tenus de respecter les dispositions de la Loi Informatique, Fichiers et Libertés, dont la violation est passible de sanctions pénales. Ils doivent notamment s'abstenir, s'agissant des informations nominatives auxquelles ils accèdent, de toute collecte, de toute utilisation détournée, et d'une manière générale, de tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes.
                L’abus d’alcool est dangereux pour la santé. Consommer avec modération.

              </p>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    <script>
      // Script to manage cookies
      tarteaucitron.init({
        "privacyUrl": "{{ path('privacy_policy') }}",
        "hashtag": "#tarteaucitron",
        "cookieName": "tarteaucitron",
        "orientation": "bottom",
        "showAlertSmall": true,
        "cookieslist": true,
        "adblocker": false,
        "AcceptAllCta" : false,
        "highPrivacy": true,
        "handleBrowserDNTRequest": true,
        "removeCredit": true,
        "moreInfoLink": true
      });

      tarteaucitron.user.analyticsUa = 'UA-44915246-1';
      (tarteaucitron.job = tarteaucitron.job || []).push('analytics');
      $(".menu-lang").click(function(event) {
        $(this).toggleClass("hover");
        event.stopPropagation();
      });
    </script>
  </body>
</html>