{% extends 'base.html.twig' %}
{% block title %}Joseph Cartron{% endblock %}
{% block body %}
<style>
  html{ 
  margin:0;
  padding:0;

  }
  body{ 
  background: none;
  }


</style>

<script>

  $(window).resize(function()
  {
  var $popup = $('.overlay-espace-pro .popup-espace-pro');
  $popup.css('margin-top', ( $(window).height() - $popup.outerHeight() )/2  )	
  });
  
  $(document).ready(function(){ $(window).resize()});

</script>

<div class="site">

  <div class="form-visite-content">
      {{ form_start(form, {'attr': { 'class': 'form-visite jqtransform'} }) }}
      <div class="form-lanque">
        <a href="{{ path('choose_locale', {'locale' : 'fr'}) }}" {% if(app.session.get('_locale')=='fr') %} class="active" {% endif %}>FR</a>
        <a href="{{ path('choose_locale', {'locale' : 'en'}) }}" {% if(app.session.get('_locale')=='en') %} class="active" {% endif %}>EN</a>
      </div>
      <div class="content-form">
        <p class="pour-visiter">{{ "Pour visiter"|trans }} <strong>CARTRON.FR</strong><br />
          {{ "vous devez avoir l’âge légal dans votre pays" | trans }}.</p>

        {{ form_widget(form.pays, { 'attr': {'style': 'width:278px;'} }) }}
        <span class="label" style="margin-left:8px">
          {{ "premier_connexion.datenaissance"|trans }} :
        </span>
        {{ form_widget(form.dateNaissance) }}
        <br clear="all" />
        <div class="se-souvenir">
          {{ form_widget(form.sesevenire) }}
          <span>
            {{ form_label(form.sesevenire) }}
          </span><br clear="all" /></div>
      </div>
      <div class="bt-content">
        {{ form_rest(form) }} 
        <input type="submit" value="{{ "entrez sur le site"|trans }}" class="bt" />
      </div>
    </form>
    <form id="formIdentification" 
		  action="http://www.cartron.fr/pro/wp-login.php" 
		  method="post"
		  name="formIdentification" method="post" class="acces-espace-pro">
      <p class="acces-direct">{{ "Accéder directement à votre"|trans }} <span>{{ "ESPACE PRO"|trans }}</span></p>
      <input type="text" name="log" id="identification" class="input" value="{{ 'IDENTIFIANT' | trans }}" />
      <input type="password" name="pwd" id="password" class="input" value="{{ 'mot de passe' | trans }}" onclick="$(this).val('');" />
      <p class="submit-form">
        <input type="button" id="ok_login" name="ok" value="OK" class="submit" onclick="$('#formIdentification').submit(); return false;"/>
      </p>
      <a href="#0" id="demand-d-acces_p" class="demand-d-acces">{{ "Demande d’accès à l’espace professionnel"|trans }}</a>
      <p class="mention">{{ "L’abus d’alcool est dangereux pour la santé"|trans }},<br />
        {{ "à consommer avec modération"|trans }}</p>
	  <input type="hidden" name="redirect_to" value="http://www.cartron.fr/pro">
    </form>
  </div>
</div>

<div class="overlay-passe-oublie">
  <div class="pop-up-passe-oublie">
    <a href="" class="close dn"><span>Fermer</span></a>
    <label>Votre Email</label>
    <input type="text" name="emailenvoie" id="emailenvoie" class="input" value="" />
    <input type="submit" id="ok" name="ok" value="OK" class="submit" />
  </div>
</div>


<div class="overlay-espace-pro overlay">
  <div class="popup-espace-pro">
    <a href="" class="close dn"><span>Fermer</span></a>
    <div class="espacePro">
      <h2><img src="{{ asset('site/images/lines_gradient.png') }}"/>{{"Demande_access_pro"|trans}}<img src="{{ asset('site/images/lines_gradient2.png') }}"/></h2>
      <form id="formAcces" name="formAcces" action="{{ path('create_pro_account') }}" method="post" class="jqtransform">
        <input type="text" name="prenom" id="prenom" class="input" value="{{"Prénom"|trans}}" />
        <input type="text" name="nom" id="nom" class="input" value="{{"Nom"|trans}}" />
        <input type="text" name="email" id="email" class="input" value="{{"Mail"|trans}}" />

        <h3 class="noCenter profil">{{"Votre_profil"|trans}}</h3>
        <input type="radio" name="profil" id="agent" value="agent" class="checkbox" />
        <label for="agent">{{"Agent"|trans}}</label>
        <input type="radio" name="profil" id="importateur" value="importateur" class="checkbox" />
        <label for="importateur">{{"Importateur"|trans}}</label>
        <input type="radio" name="profil" id="professionnel" value="professionnel" class="checkbox" />

        <label for="professionnel" class="last">{{"Professionnel"|trans}}</label>
        <br clear="all" />
        <input type="text" name="societe" id="societe" class="input" value="{{"Société"|trans}}" />
        <h3 class="noCenter message">{{"Message"|trans}}</h3>
        <textarea name="message" id="message" cols="1" rows="1"></textarea>
        <input type="checkbox" name="conditions" id="conditions" class="checkbox" />
        <span class="conditions">{{"En_cliquant_sur_OK_vous_reconnaissez"|trans}}</span>
        <br clear="all" />
        <input type="button" id="ok_new_pro" name="ok" value="OK" class="submit" />
      </form>
    </div>
  </div>
</div>
<div class="overlay-passe-oublie">
  <div class="pop-up-passe-oublie">
    <a href="" class="close dn"><span>Fermer</span></a>
    <label>Votre Email</label>
    <input type="text" name="emailenvoie" id="mop" class="input" value="" />
    <input type="submit" id="ok_mop" name="ok" value="OK" class="submit" />
  </div>
</div>

{% endblock %}
