{% extends "layout.html.twig" %}
{% block title %}JOSEPH CARTRON{% endblock %}
{% block body %}
<script type="text/javascript">
    $(function() 
    {
    	
        $('#liste-news').owlCarousel({
            items: 2,
            margin: 20,
            nav: true,
            dots: false,
            autoHeight: true
        });

        $('#liste-news li').click(function() {
            var index = $('#liste-news li').index(this);
            $('#liste-news-full').trigger('to.owl.carousel', index);
        });

        $('#liste-news-full').owlCarousel({
            items: 1,
            dots: false,
            autoHeight: true,
            navText: [
                '<div class="owl-prev"><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd"><path d="M20 .755l-14.374 11.245 14.374 11.219-.619.781-15.381-12 15.391-12 .609.755z"/></svg></div>',
                '<div class="owl-next"><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd"><path d="M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z"/></svg></div>'
            ],
            responsive: {
                0: { nav: true },
                768: { nav: false }
            }
        });

    });
    </script>
    <div id="home">
        <div class="main">

        </div>
    </div>
    <div class="caroussel-home">
        <div class="video-news-home">
            <div class="video-home">
                <a href="#0" class="voir-video lanch_video" onclick="return false"><img  src="{{ asset('site/images/img-video-home.jpg') }}" alt="" /></a>
                <div class="txt-video-news-home">
                    <h2><a href="#" class="lanch_video"><span id="s_vd">{{ "Vidéo" | trans }} / </span>{% if(app.session.get('_locale')=='en') %} {{ video.0.titreEn  }} {% else %} {{ video.0.titreFr }} {% endif %}</a></h2>
                    <a href="#" class="voir-video lanch_video">{{ "voir la vidéo" | trans }}</a>
                </div>
            </div>
            <div class="news-home">
                <a href="#" class="lanch_news" ><img width="109" height="59" src="{{ asset('upload/'~articles.0.image) }}" alt="" /></a>
                <div class="txt-video-news-home">
                    <h2><a href="#" class="lanch_news"><span id="s_news">{{ "NEWS" | trans }} / </span>{% if(app.session.get('_locale')=='en') %} {{ articles.0.titreEn }} {% else %} {{ articles.0.titleFr }} {% endif %}</a></h2>
                    <p>{% if(app.session.get('_locale')=='en') %} {{ articles.0.descEn|striptags|truncate(100, true, '...')|raw }} {% else %} {{ articles.0.descFr|striptags|truncate(100, true, '...')|raw }} {% endif %}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay-news overlay">
        <div class="pop-news-content">
            <span class="close"><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"/></svg></span>
            <ul id="liste-news-full" class="owl-carousel">
                {% for article in articles %}
                    <li>
                        <img src="{{ asset('upload/'~article.image) }}" />
                        {% if(app.session.get('_locale')=='en') %} {{ article.descEn|raw }} {% else %} {{ article.descFr|raw }} {% endif %}
                        <div class="share"><a class="facebook" href="">facebook</a><a class="twitter" href="">twitter</a><br clear="all"></div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <ul id="liste-news" class="owl-carousel">
            {% for article in articles %}
                <li class="news_hp" id="news_hp_{{ article.id }}" style=" cursor: pointer">
                    <img src="{{ asset('upload/'~article.image) }}" />
                    <h3>{% if(app.session.get('_locale')=='en') %} {{ article.titreEn|raw }} {% else %} {{ article.titleFr|raw }} {% endif %}</h3>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="overlay-videos overlay">
        <div class="pop-videos-content">
            <span class="close"><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"/></svg></span>
            <video controls preload="none" poster="{{ asset('site/images/video-home.jpg') }}">
                {% if(app.session.get('_locale')=='fr') %}
                <source src="{{ asset('upload/video_hp/cartron_fr.mp4')  }}" type='video/mp4' />
                <source src="{{ asset('upload/video_hp/cartron_fr.webm')  }}" type='video/webm' />
                <source src="{{ asset('upload/video_hp/cartron_fr.ogv')  }}" type='video/ogg' />
                <track kind="captions" src="demo.captions.vtt" srclang="en" label="English" />
                {% else %}
                <source src="{{ asset('upload/video_hp/cartron_en.mp4')  }}" type='video/mp4' />
                <source src="{{ asset('upload/video_hp/cartron_en.webm')  }}" type='video/webm' />
                <source src="{{ asset('upload/video_hp/cartron_en.ogv')  }}" type='video/ogg' />
                <track kind="captions" src="demo.captions.vtt" srclang="en" label="English" />
                {% endif %}
            </video>
        </div>
    </div>
{% endblock %}
