

{% extends "layout.html.twig" %}
{% block title %}JOSEPH CARTRON{% endblock %}
{% block body %}
<script type="text/javascript">
    $(function() 
    {
        $('#liste-news').owlCarousel({
            items: 2,
            margin: 20,
            nav: true,
            dots: false,
            autoHeight: true
        });

        $('#liste-news li').click(function() {
            var index = $('#liste-news li').index(this);
            $('#liste-news-full').trigger('to.owl.carousel', index);
        });

        $('#liste-news-full').owlCarousel({
            items: 1,
            dots: false,
            autoHeight: true,
            navText: [
                '<div class="owl-prev"><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd"><path d="M20 .755l-14.374 11.245 14.374 11.219-.619.781-15.381-12 15.391-12 .609.755z"/></svg></div>',
                '<div class="owl-next"><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd"><path d="M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z"/></svg></div>'
            ],
            responsive: {
                0: { nav: true },
                768: { nav: false }
            }
        });

        $('[id^="carousel-"]').owlCarousel({
            items: 1,
            dots: true,
            margin: 20,
            animateOut: 'fadeOut',
            animateIn: 'fadeIn',
            mouseDrag: false,
            touchDrag: false,
            nav: false
        });
        
    });
</script>
<script>
$( document ).ready(function() {
    $('.lanch_video').click(function() {
        $(".overlay-news").css("display","none");
        $(".overlay-videos").css("display","block");
    })
    $('.overlay-videos .close').click(function() {
        $(".overlay-videos").css("display","none");
        $(".overlay-videos video").get(0).pause();
        $(".overlay").css("display","none");
    })
    $('.lanch_news').click(function() {
        $(".overlay-videos").css("display","none");
        $(".overlay-videos video").get(0).pause();
        $(".overlay-news").css("display","block");
    })
    $('.overlay-news .close').click(function() {
        $(".overlay-news").css("display","none");
        $(".overlay").css("display","none");
    })
});
</script>
    <div id="home">
        <div class="main">

        </div>
    </div>
    <div class="caroussel-home">
        <div class="video-news-home">
            <div class="video-home">
                <a href="#0" class="voir-video lanch_video" onclick="return false"><img  src="{{ asset('site/images/img-video-home.jpg') }}" alt="" /></a>
                <div class="txt-video-news-home">
                    <h2><a href="#" class="lanch_video"><span id="s_vd">{{ "Vidéo" | trans }} / </span>{% if(app.request.locale =='en') %} {{ video.0.titreEn  }} {% else %} {{ video.0.titreFr }} {% endif %}</a></h2>
                    <a href="#" class="voir-video lanch_video">{{ "voir la vidéo" | trans }}</a>
                </div>
            </div>
            <div class="news-home">
                <a href="#" class="lanch_news" ></a>              
                {% if articles.0.type == "VIDEO" %}
                    <img width="109" height="59" src="{{ asset(articles.0.miniatureVideo) }}" alt="" />      
                {% elseif articles.0.type != NULL and articles.0.type != "VIDEO" %}
                    <img width="109" height="59" src="{{ asset(articles.0.image) }}" alt="" />
                {% else %}
                    <img width="109" height="59" src="{{ asset('upload/'~articles.0.image) }}" alt="" />
                {% endif %}
                </a>
                <div class="txt-video-news-home">
                    <h2><a href="#" class="lanch_news"><span id="s_news">{{ "NEWS" | trans }} / </span>{% if(app.request.locale =='en') %} {{ articles.0.titreEn }} {% else %} {{ articles.0.titleFr }} {% endif %}</a></h2>
                    <p>{% if(app.request.locale =='en') %} {{ articles.0.descEn|striptags|truncate(100, true, '...')|raw }} {% else %} {{ articles.0.descFr|striptags|truncate(100, true, '...')|raw }} {% endif %}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay-news overlay">
        <div class="pop-news-content">
            <span class="close"><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"/></svg></span>
            <div id="liste-news-full" class="owl-carousel">
                {% for article in articles %}
                    {% if article.type != "CAROUSEL_ALBUM" and article.instagram == 1 %}
                        <div class="item">
                            <div class="instagram">
                                {% if article.type == "VIDEO" %}
                                    <div class="visuel"> <video controls width= "100%" src="{{ asset(article.image)~'&autoplay=false' }}" /></video> </div>                      
                                {% elseif article.type == "IMAGE" %}
                                    <div class="visuel"><img  width= "100%" src="{{ asset(article.image) }}" /></div>
                                {% endif %}
                                <div class="description">
                                    {% if(app.request.locale =='en') %} <p>{{ article.descEn|nl2br }}</p> {% else %} <p>{{ article.descFr|nl2br }}</p> {% endif %}
                                </div>
                                <div class="share"><a class="facebook" href="">facebook</a><a href="https://www.instagram.com/joseph.cartron/" class="instagram" title="instagram">Instagram</a><br clear="all"></div>

                            </div>
                        </div>
                    {% elseif article.type == "CAROUSEL_ALBUM" %}
                        <div id="carousel-{{ random(0, 10000) }}" class="owl-carousel owl-loaded owl-drag">
                            
                            {% for slider in article.instagramSlider %}
                                <div class="item">
                                    <div class="instagram">
                                        {% if slider.type == "VIDEO" %}
                                        <div class="visuel"> <video controls="true" width= "100%" src="{{ asset(slider.url)~'&autoplay=false' }}" /></video> </div>          
                                        {% else %}
                                        <div class="visuel">  <img  width= "100%" src="{{ asset(slider.url) }}" /> </div>
                                        {% endif %}
                                        <div class="description">
                                            {% if(app.request.locale =='en') %} <p>{{ article.descEn|nl2br }}</p> {% else %} <p>{{ article.descFr|nl2br }}</p> {% endif %}
                                        </div>
                                        <div class="share"><a class="facebook" href="https://www.facebook.com/jcartron">facebook</a><a href="https://www.instagram.com/joseph.cartron/" class="instagram" title="instagram">Instagram</a><br clear="all"></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="item">
                            <img src="{{ asset('upload/'~article.image) }}" />
                            {% if(app.request.locale =='en') %} {{ article.descEn|raw }} {% else %} {{ article.descFr|raw }} {% endif %}
                            <div class="share"><a class="facebook" href="https://www.facebook.com/jcartron">facebook</a><a href="https://www.instagram.com/joseph.cartron/" class="instagram" title="instagram">Instagram</a><br clear="all"></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <ul id="liste-news" class="owl-carousel">
            {% for article in articles %}
                <li class="news_hp" id="news_hp_{{ article.id }}" style=" cursor: pointer">
                    {% if article.type == "VIDEO" %}
                        <img width="109" height="59" src="{{ asset(article.miniatureVideo) }}" alt="" />                         
                    {% elseif article.type != NULL and article.type != "VIDEO" %}
                        <img src="{{ asset(article.image) }}" />
                    {% else %}
                        <img src="{{ asset('upload/'~article.image) }}" />
                    {% endif %}
                    <h3>{% if(app.request.locale =='en') %} {{ article.titreEn|raw }} {% else %} {{ article.titleFr|raw }} {% endif %}</h3>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="overlay-videos overlay">
        <div class="pop-videos-content">
            <span class="close"><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"/></svg></span>
            <video controls preload="none" poster="{{ asset('site/images/video-home.jpg') }}">
                {% if(app.request.locale =='fr') %}
                <source src="{{ asset('upload/video_hp/cartron_fr.mp4')  }}" type='video/mp4' />
                <track kind="captions" src="demo.captions.vtt" srclang="fr" label="Français" />
                {% else %}
                <source src="{{ asset('upload/video_hp/cartron_en.mp4')  }}" type='video/mp4' />
                <track kind="captions" src="demo.captions.vtt" srclang="en" label="English" />
                {% endif %}
            </video>
        </div>
    </div>


    <style>
        @font-face {
            font-family: 'sanFrancisco';
            src: url('../../../../web/site/css/fonts/sansFrancisco.ttf');
        }
        .instagram {
            height: 335px;
        }

        .instagram .visuel {
            float: left;
            width: 395px;
        }
    
         .description {
            float: left;
            width: 225px;
            background: white;       
            height: 395px; 
        }

        .description p {
            color: black;
            padding: 0 13px 13px 13px;
            font-family: 'sanFrancisco';
        }

        @media (max-width: 767px){
            .instagram {
                height: 335px;
            }
    
            .instagram .visuel {
                float: left;
                width: 100%;
            }
        
             .description {
                float: left;
                width: 100%;
                background: white;       
                height: max-content; 
            }
    
            .description p {
                color: black;
                padding: 0 13px 13px 13px;
                font-family: 'sanFrancisco';
            }
        }
    </style>

{% endblock %}


