<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Cartron: Admin{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('admin/css/screen.css') }}" type="text/css" media="screen" title="default" />
        <script src="{{ asset('admin/js/jquery/jquery-1.4.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('admin/js/jquery/jquery.selectbox-0.5.js') }}" type="text/javascript"></script>
        <script src="{{ asset('admin/js/jquery/jquery.selectbox-0.5_style_2.js') }}" type="text/javascript"></script>
        <script src="{{ asset('admin/js/main.js') }}" type="text/javascript"></script>

        <!--[if IE]>
        <link rel="stylesheet" media="all" type="text/css" href="css/pro_dropline_ie.css" />
        <![endif]-->
    </head>
    <body>
        <div id="page-top-outer">
            <div id="page-top">
                <div id="logo">
                    <a href="{{ path('admin_homepage') }}"><img src="{{ asset('admin/images/shared/logo.png')}}"  height="44" alt="" /></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear">&nbsp;</div>
        <div class="nav-outer-repeat"> 
            <!--  start nav-outer -->
            <div class="nav-outer"> 

                <!-- start nav-right -->
                <div id="nav-right">
                    <div class="nav-divider">&nbsp;</div>
                    <a href="{{ path('logout') }}" id="logout"><img src="{{ asset('admin/images/shared/nav/nav_deconnexion.gif')}}" width="110" height="14" alt="" /></a>
                    <div class="clear">&nbsp;</div>
                </div>
                <!--  start nav -->
                <div class="nav">
                    <div class="table">

                        <ul {% if (app.request.get('_route') == 'admin_homepage' or app.request.get('_route') == 'admin_homepage_add_article' or app.request.get('_route') == 'admin_homepage_add_video') %} class="current" {% else %} class="select" {% endif %}><li><a href="{{ path('admin_homepage') }}"><b>Page d'accueil</b><!--[if IE 7]><!--></a><!--<![endif]-->
                                <!--[if lte IE 6]><table><tr><td><![endif]-->
                                <div class="select_sub show">
                                    <ul class="sub">
                                        <li {% if app.request.get('_route') == 'admin_homepage' %}class="sub_show"{% endif %}><a href="{{ path('admin_homepage') }}">Liste des articles</a></li>
                                        <li {% if app.request.get('_route') == 'admin_homepage_add_article' %}class="sub_show"{% endif %}><a href="{{ path('admin_homepage_add_article') }}">Ajouter un article</a></li>
                                        <li {% if app.request.get('_route') == 'admin_homepage_add_video' %}class="sub_show"{% endif %}><a href="{{ path('admin_homepage_add_video', { 'id': 1 }) }}">Video</a></li>
                                    </ul>
                                </div>
                                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                            </li>
                        </ul>

                        <div class="nav-divider">&nbsp;</div>

                        <ul {% if (app.request.get('_route') == 'admin_sous_menu' or app.request.get('_route') == 'admin_add_sous_menu' or app.request.get('_route') == 'admin_collection' or app.request.get('_route') == 'admin_add_collection') %} class="current" {% else %} class="select" {% endif %} ><li><a href="{{ path('admin_collection') }}"><b>Collection</b><!--[if IE 7]><!--></a><!--<![endif]-->
                                <!--[if lte IE 6]><table><tr><td><![endif]-->
                                <div class="select_sub show">
                                    <ul class="sub">
                                        <li {% if app.request.get('_route') == 'admin_collection' %}class="sub_show"{% endif %}><a href="{{ path('admin_collection') }}">Collection</a></li>
                                        <li {% if app.request.get('_route') == 'admin_add_collection' %}class="sub_show"{% endif %}><a href="{{ path('admin_add_collection') }}">Ajouter une collection</a></li>
                                        <li {% if app.request.get('_route') == 'admin_sous_menu' %}class="sub_show"{% endif %}><a href="{{ path('admin_sous_menu') }}">Sous menu collection</a></li>
                                        <li {% if app.request.get('_route') == 'admin_add_sous_menu' %}class="sub_show"{% endif %}><a href="{{ path('admin_add_sous_menu') }}">Ajouter un sous menu collection</a></li>
                                    </ul>
                                </div>
                                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                            </li>
                        </ul>

                        <div class="nav-divider">&nbsp;</div>


                        <ul {% if (app.request.get('_route') == 'admin_sous_menu_degustation' or app.request.get('_route') == 'admin_add_sous_menu_degustation' or app.request.get('_route') == 'admin_degustation' or app.request.get('_route') == 'admin_add_degustation') %} class="current" {% else %} class="select" {% endif %} ><li><a href="{{ path('admin_degustation') }}"><b>Dégustation</b><!--[if IE 7]><!--></a><!--<![endif]-->
                                <!--[if lte IE 6]><table><tr><td><![endif]-->
                                <div class="select_sub show">
                                    <ul class="sub">
                                        <li {% if app.request.get('_route') == 'admin_degustation' %}class="sub_show"{% endif %}><a href="{{ path('admin_degustation') }}">Dégustation</a></li>
                                        <li {% if app.request.get('_route') == 'admin_add_degustation' %}class="sub_show"{% endif %}><a href="{{ path('admin_add_degustation') }}">Ajouter une Dégustation</a></li>
                                        <li {% if app.request.get('_route') == 'admin_sous_menu_degustation' %}class="sub_show"{% endif %}><a href="{{ path('admin_sous_menu_degustation') }}">Sous menu dégustation</a></li>
                                        <li {% if app.request.get('_route') == 'admin_add_sous_menu_degustation' %}class="sub_show"{% endif %}><a href="{{ path('admin_add_sous_menu_degustation') }}">Ajouter un sous menu dégustation</a></li>
                                    </ul>
                                </div>
                                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                            </li>
                        </ul>

                        {#<div class="nav-divider">&nbsp;</div>


                        <ul {% if (app.request.get('_route') == 'admin_menu_pro' or app.request.get('_route') == 'admin_manage_sous_menu_degustation_pro' or app.request.get('_route') == 'admin_manage_sous_menu_produit_pro' or app.request.get('_route') == 'admin_produit_pro' or app.request.get('_route') == 'admin_manage_produits_pro' or app.request.get('_route') == 'admin_manage_degustation_pro' or app.request.get('_route') == 'admin_degustation_pro' or app.request.get('_route') == 'admin_sous_menu_produit_pro' or app.request.get('_route') == 'admin_manage_menu_pro') %} class="current" {% else %} class="select" {% endif %} ><li><a href="{{ path('admin_sous_menu_produit_pro') }}"><b>Espace pro</b><!--[if IE 7]><!--></a><!--<![endif]-->
                                <!--[if lte IE 6]><table><tr><td><![endif]-->
                                <div class="select_sub show">
                                    <ul class="sub">
                                        <li {% if (app.request.get('_route') == 'admin_produit_pro' or app.request.get('_route') == 'admin_manage_produits_pro' or app.request.get('_route') == 'admin_sous_menu_produit_pro' or app.request.get('_route') == 'admin_manage_sous_menu_produit_pro') %}class="sub_show"{% endif %}><a href="{{ path('admin_sous_menu_produit_pro') }}">Produits</a></li>
                                        <li {% if (app.request.get('_route') == 'admin_degustation_pro' or app.request.get('_route') == 'admin_manage_degustation_pro' or app.request.get('_route') == 'admin_manage_sous_menu_degustation_pro') %}class="sub_show"{% endif %}><a href="{{ path('admin_degustation_pro') }}">Dégustation</a></li>
                                        <li {% if (app.request.get('_route') == 'admin_menu_pro') %}class="sub_show"{% endif %}><a href="{{ path('admin_menu_pro') }}">Autres Menu</a></li>
                                    </ul>
                                </div>
                                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                            </li>
                        </ul>#}
                        
                        <div class="nav-divider">&nbsp;</div>

                        <ul {% if (app.request.get('_route') == 'liste_pays' or app.request.get('_route') == 'add_pays') %} class="current" {% else %} class="select" {% endif %} ><li><a href="{{ path('liste_pays') }}"><b>Pays</b><!--[if IE 7]><!--></a><!--<![endif]-->
                                <!--[if lte IE 6]><table><tr><td><![endif]-->
                                <div class="select_sub show">
                                    <ul class="sub">
                                        <li {% if (app.request.get('_route') == 'liste_pays')%}class="sub_show"{% endif %}><a href="{{ path('liste_pays') }}">Pays</a></li>
                                        <li {% if (app.request.get('_route') == 'add_pays')  %}class="sub_show"{% endif %}><a href="{{ path('add_pays') }}">Ajouter un pays</a></li>
                                    </ul>
                                </div>
                                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                            </li>
                        </ul>

                        <div class="nav-divider">&nbsp;</div>

                        <ul {% if (app.request.get('_route') == 'admin_category' or app.request.get('_route') == 'admin_add_category' or app.request.get('_route') == 'admin_edit_category') %} class="current" {% else %} class="select" {% endif %} ><li><a href="{{ path('admin_category') }}"><b>Catégorie</b><!--[if IE 7]><!--></a><!--<![endif]-->
                                <!--[if lte IE 6]><table><tr><td><![endif]-->
                                <div class="select_sub show">
                                    <ul class="sub">
                                        <li {% if (app.request.get('_route') == 'admin_category')%}class="sub_show"{% endif %}><a href="{{ path('admin_category') }}">Catégorie</a></li>
                                        <li {% if (app.request.get('_route') == 'admin_add_category')  %}class="sub_show"{% endif %}><a href="{{ path('admin_add_category') }}">Ajouter une catégorie</a></li>
                                    </ul>
                                </div>
                                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                            </li>
                        </ul>

                        <div class="nav-divider">&nbsp;</div>

                        <ul {% if (app.request.get('_route') == 'admin_resource' or app.request.get('_route') == 'admin_add_resource' or app.request.get('_route') == 'admin_edit_resource') %} class="current" {% else %} class="select" {% endif %} ><li><a href="{{ path('admin_resource') }}"><b>Ressource</b><!--[if IE 7]><!--></a><!--<![endif]-->
                                <!--[if lte IE 6]><table><tr><td><![endif]-->
                                <div class="select_sub show">
                                    <ul class="sub">
                                        <li {% if (app.request.get('_route') == 'admin_resource')%}class="sub_show"{% endif %}><a href="{{ path('admin_resource') }}">Ressource</a></li>
                                        <li {% if (app.request.get('_route') == 'admin_add_resource')  %}class="sub_show"{% endif %}><a href="{{ path('admin_add_resource') }}">Ajouter une ressource</a></li>
                                    </ul>
                                </div>
                                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                            </li>
                        </ul>

                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <!--  start nav -->

            </div>
            <div class="clear"></div>
            <!--  start nav-outer -->
        </div>
        <div class="clear"></div>
            {% block body %}{% endblock %}
        <div class="clear">&nbsp;</div>
        <!--  end content-outer........................................................END -->

        <div class="clear">&nbsp;</div>

        <!-- start footer -->         
        <div id="footer">
            <!--  start footer-left -->
            <div id="footer-left">

                Admin Cartron &copy; Copyright Internet Dreams Ltd. <span id="spanYear"></span> <a href="">www.cartron.fr</a>. All rights reserved.</div>
            <!--  end footer-left -->
            <div class="clear">&nbsp;</div>
        </div>
    </body>
</html>
