{% extends "layout.html.twig" %}
{% block title %}Cartron: {{ page }}{% endblock %}
{% block body %}
{% if page== "Savoir-faire" %}
<script type="text/javascript">
  $(function() {
  var myPlayer = _V_("example_video_1");

  $('.close').click(function() {  
      myPlayer.pause();
  });
  $('.desc-licornes').jScrollPane({scrollbarWidth: 4});

  $('.savoir-faire-home li a')
  .hover(function(e) {
  $(this).next('.captionShine').hoverFlow(e.type, {left: 214}, 'slow');
  }, function(e) {
  $(this).next('.captionShine').hoverFlow(e.type, {left: -214}, 0);
  });
  $('.savoir-faire').addClass("active");
  })
</script>
<link href="{{ asset('site/css/video-js.css') }}" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{{ asset('site/js/video.js') }}"></script>
<div id="savoir-faire">
  <div class="main">
    <div class="savoir-faire-home">
      <ul>
        <li>
          <img alt="" src="{{ asset('site/images/savoir-faire_04.jpg') }}">      
        </li>
        <li>
          <img alt="" src="{{ asset('site/images/savoir-faire-05.jpg') }}">           
        </li>
        <li>
          <img alt="" src="{{ asset('site/images/savoir-faire-06.jpg') }}">             
        </li>
        <li>
		  {% if app.request.locale == 'fr' %}
          <a href="{{ path('static_page',{'page':'Savoir-faire-fruits'}) }}"><img alt="" src="{{ asset('site/images/selection-fruits.png') }}">         </a>  
		  {% else %}
          <a href="{{ path('static_page',{'page':'Savoir-faire-fruits'}) }}"><img alt="" src="{{ asset('site/images/selection-fruits-en.png') }}">         </a>  
		  {% endif %}

          <div class="captionShine"></div>  
        </li>
        <li>
          <img alt="" src="{{ asset('site/images/savoir-faire-07.jpg') }}">           
        </li>
        <li>
		  {% if app.request.locale == 'fr' %}
          <a href="{{ path('static_page',{'page':'Savoir-faire-elaboration'}) }}"><img alt="" src="{{ asset('site/images/elaboration-gout.png') }}">      </a>
		  {% else %}
          <a href="{{ path('static_page',{'page':'Savoir-faire-elaboration'}) }}"><img alt="" src="{{ asset('site/images/elaboration-gout-en.png') }}">      </a>
		  {% endif %}
          <span class="captionShine"></span>
        </li>
        <li>
		  {% if app.request.locale == 'fr' %}
          <img alt="" src="{{ asset('site/images/cartron-savoir-faire.png') }}">      
		  {% else %}
          <img alt="" src="{{ asset('site/images/cartron-savoir-faire-en.png') }}">      
		  {% endif %}
        </li>
        <li>
          <img alt="" src="{{ asset('site/images/savoir-faire-08.jpg') }}">             
        </li>
        <li>
          <img alt="" src="{{ asset('site/images/savoir-faire-09.jpg') }}">            
        </li>
        <li>
          <img alt="" src="{{ asset('site/images/savoir-faire-10.jpg') }}">             
        </li>
        <li>
          <img alt="" src="{{ asset('site/images/savoir-faire-11.jpg') }}">            
        </li>
        <li>
          <img alt="" src="{{ asset('site/images/savoir-faire-12.jpg') }}">          
        </li>
        <li>
		  {% if app.request.locale == 'fr' %}
          <a href="#0" class="lanch_video"><img alt="" src="{{ asset('site/images/esprit-maison.png') }}">        </a> 
		  {% else %}
          <a href="#0" class="lanch_video"><img alt="" src="{{ asset('site/images/esprit-maison-en.png') }}">        </a> 
		  {% endif %}
          <div class="captionShine" style="left: -214px;"></div>  
        </li>
        <li>
          <img alt="" src="{{ asset('site/images/savoir-faire-13.jpg') }}">         
        </li>
        <li>
          <img alt="" src="{{ asset('site/images/savoir-faire-14.jpg') }}">          
        </li>
        <li>
		  {% if app.request.locale == 'fr' %}
          <a href="{{ path('static_page',{'page':'Savoir-faire-creation'}) }}"><img alt="" src="{{ asset('site/images/laboratoire-creation.png') }}"></a>
		  {% else %}
          <a href="{{ path('static_page',{'page':'Savoir-faire-creation'}) }}"><img alt="" src="{{ asset('site/images/laboratoire-creation-en.png') }}"></a>
		  {% endif %}
          <div class="captionShine"></div>  
        </li>
      </ul>
	  <div style="clear:both;"></div>	  
    </div>    
  </div>
</div>
<div class="overlay-videos overlay">
  <div class="pop-up-videos">
    <div class="pop-videos-content">
      <a href="#" class="close">fermer</a>

      <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="739" height="486"
             poster="{{ asset('site/images/video-home.jpg') }}"
             data-setup="{}">
        {% if(app.session.get('_locale')=='fr') %}
        <source src="{{ asset('upload/video_hp/cartron_fr.mp4')  }}" type='video/mp4' />
        <source src="{{ asset('upload/video_hp/cartron_fr.webm')  }}" type='video/webm' />
        <source src="{{ asset('upload/video_hp/cartron_fr.ogv')  }}" type='video/ogg' />
        <track kind="captions" src="demo.captions.vtt" srclang="en" label="English" />
        {% else %}
        <source src="{{ asset('upload/video_hp/cartron_en.mp4')  }}" type='video/mp4' />
        <source src="{{ asset('upload/video_hp/cartron_en.webm')  }}" type='video/webm' />
        <source src="{{ asset('upload/video_hp/cartron_en.ogv')  }}" type='video/ogg' />
        <track kind="captions" src="demo.captions.vtt" srclang="en" label="English" />
        {% endif %}

      </video>

    </div>
  </div>
</div>
{% elseif page== "savoir-faire-elaboration-creme" %}
<script type="text/javascript">
  $(function() {
  $('.desc-creation').jScrollPane({scrollbarWidth: 4});
  $('.savoir-faire').addClass("active");
  })
</script>
<div id="savoir-faire">
  <div class="main">
    <div class="savoir-faire-home">

      <div class="savoir-faire-creation">
        <a href="{{ path('static_page',{'page':'Savoir-faire'}) }}" class="retour dn"><span>Retour</span></a>
        <img src="{{ asset('site/images/img-elaboration.jpg') }}" alt="" />
        <h2><span>{{ "l’élaboration" | trans }}</span> {{ "du goût" | trans }}</h2>
        <div class="desc-creation">
		  {% if app.request.locale == 'fr' %}
          <h3>{{ "Les Crèmes et les Liqueurs de création" | trans }}</h3>
          <p>{{ "Les opérations, délicates, sont menées de façon artisanale, dans le respect de procédés de fabrication et de recettes éprouvés par le temps :1" | trans }}</p>
          <p>{{ "Pour les crèmes et les liqueurs, les fruits, une fois récoltés à pleine maturité, sont mis en cuve de macération avec l’alcool surfin. Le temps de macération est défini pour chaque fruit en fonction de sa capacité à transférer parfaitement son parfum sur l’alcool1." | trans }}</p>

          <p>{{ "C’est en effet en trouvant le juste équilibre entre le fruit, l’alcool et le sucre, que se révélera pleinement l’authenticité du fruit. Cet équilibre est unique pour chacun des différents produits et a été obtenu après de multiples essais en laissant parler le coeur et le palais1." | trans }}</p>
          <p>{{ "Pour la fabrication des liqueurs d’agrumes (triple sec, curaçao, mandarine), de cacao et de café, les huiles essentielles d’orange et de mandarine, les grains de café ou les fèves de cacao sont encore distillés par nos soins, dans un alambic traditionnel appelé poire à parfum. Sa forme spécifique permet de concentrer les arômes et de donner à la liqueur un parfum incomparable1." | trans }}</p>
		  {% else %}
          <h3>{{ "Les Crèmes et les Liqueurs de création" | trans }}</h3>
          <p>The delicate operations are carried out in an artisanal fashion, with respect to the process techniques and the longstanding successful recipes:</p>
		  <p>For the Crèmes and the Liqueurs, the fruits, once harvested at full maturity, are put to macerate in stainless steel vats with pure alcohol. Maceration time is defined for each fruit according to its capacity to perfectly transfer its perfume to the alcohol.</p>
		  <p>It is by finding the perfect balance between the fruit, the alcohol and the sugar, that the authenticity of the fruit will be fully revealed. This balance is unique for each different product and has been obtained after series of tests, letting both the heart and the palate express themselves.</p>
		  <p>For the production of Citrus fruit Liqueurs (Triple Sec, Curaçao, Mandarine), Cacao and Café, essential oils of orange and tangerine, coffee beans or cocoa beans are still distilled by our company, in a traditional pot-still - a pear shaped retort. Its specific form perfectly concentrates the aromas giving the liqueur its incomparable perfume.</p>
		  {% endif %}

        </div>

        <a href="{{ path('static_page',{'page':'savoir-faire-elaboration-eau'}) }}" class="link-eau-vie">{{ "Les Eaux de vie de tradition >" | trans }}</a>

        <div class="link-creation-bt">
          <a href="{{ path('static_page',{'page':'Savoir-faire-creation'}) }}"><span>{{ "le laboratoire" | trans }}</span> {{ "de création" | trans }}</a>
          <a href="{{ path('static_page',{'page':'Savoir-faire-fruits'}) }}"><span>{{ "la sélection" | trans }}</span> {{ "des fruits" | trans }}</a>
        </div>
      </div>
    </div>    
  </div>
</div>
{% elseif page== "savoir-faire-elaboration-eau" %}
<script type="text/javascript">
  $(function() {
  $('.desc-creation').jScrollPane({scrollbarWidth: 4});
  })
</script>
<div id="savoir-faire">
  <div class="main">
    <div class="savoir-faire-home">
      <div class="savoir-faire-creation">
        <a href="{{ path('static_page',{'page':'Savoir-faire'}) }}" class="retour dn"><span>Retour</span></a>
        <img src="{{ asset('site/images/img-elaboration-eau.jpg')}}" alt="" />

		{% if app.request.locale == 'fr' %}
        <h2><span>l’élaboration</span> du goût</h2>
        <div class="desc-creation">
          <h3>Les Eaux-de-vie de tradition</h3>
          <p>Les opérations, délicates, sont menées de façon artisanale, dans le respect de procédés de fabrication et de recettes éprouvés par le temps :</p>

          <p>Pour ses eaux-de-vie, la Maison Joseph Cartron travaille depuis des décennies avec les mêmes familles de distillateurs ambulants. Ces derniers distillent la Poire Williams, le Marc et la Fine dans des alambics bourguignons de cuivre.
		  </p>
		  <p>
            Ensuite, l’eau-de-vie de Poire Williams est conservée dans des bonbonnes de verre recouvertes d’osier. Elle vieillit de façon ancestrale, dans le grenier de la Maison ouvert à tous vents, en subissant des variations de température extrêmes. Quant au Marc et à la Fine de Bourgogne, le vieillissement se fait en foudres de chêne à la cave.
          </p>

          <p>Puis leur assemblage est fait au palais par les 3 dégustateurs de la Maison qui y apportent un soin tout particulier.<br /><br/>
            Enfin, tous les produits, crèmes, liqueurs et eaux-de-vie, sont goûtés à chaque étape de fabrication car la Maison a une grande exigence quant à l’excellence et à la constance du produit dans le temps.<br />
            « Laisser faire la nature, se laisser le temps d’exprimer au mieux la saveur du fruit »<br />
			C’est là l’esprit de la Maison Joseph Cartron.
          </p>
        </div>
        <a href="{{ path('static_page',{'page':'savoir-faire-elaboration-creme'}) }}" class="link-eau-vie">Les crèmes et les liqueurs de création</a>
		{% else %}
        <h2><span>Creating</span> taste</h2>
        <div class="desc-creation">
          <h3>Les Eaux-de-vie de tradition</h3>
          <p>For its Eaux-de-Vie, the Joseph Cartron Company has been working for dozens of years with the same families of itinerant distillers. They distill the Poire Williams, the Marc and the Fine in Burgundian copper pot-stills.</p>

          <p>Then, the Eau-de-Vie de Poire Williams is stocked in demijohns protected by wicker baskets. It ages according to ancestral methods in the attic of the Company open to all winds; it allows the Eaux-de-Vie to benefit from the thermal shocks during the different seasons and over the years. For the Marc and the Fine de Bourgogne, ageing is carried out in oak casks in the cellars.</p>

          <p>Then blending is carried out by the Company's 3 tasters according to their palate, a delicate and very meticulous task.</p>

		  <p>Finally, all the products, Crèmes, Liqueurs and Eaux-de-Vie, are tasted at each stage of production because the Company pays great attention to the excellence and the regularity of the product over the years.</p>

		  <p>"Let nature do its work and let time best express the savour of the fruit" this is the spirit of the Joseph Cartron Company.</p>
       </div>
        <a href="{{ path('static_page',{'page':'savoir-faire-elaboration-creme'}) }}" class="link-eau-vie">Les crèmes et les liqueurs de création</a>
		{% endif %}

        <div class="link-creation-bt">
          <a href="{{ path('static_page',{'page':'Savoir-faire-creation'}) }}"><span>{{ "le laboratoire" | trans }}</span> {{ "de création" | trans }}</a>
          <a href="{{ path('static_page',{'page':'Savoir-faire-fruits'}) }}"><span>{{ "la sélection" | trans }}</span> {{ "des fruits" | trans }}</a>
        </div>
      </div>
    </div>    
  </div>
</div>
{% elseif page== "Savoir-faire-elaboration" %}
<div id="savoir-faire">
  <div class="main">
    <div class="savoir-faire-home">
      <div class="savoir-faire-creation">
        <a href="{{ path('static_page',{'page':'Savoir-faire'}) }}" class="retour dn"><span>Retour</span></a>
        <img src="{{ asset('site/images/img-elaboration-home.jpg') }}" alt="" />
		{% if app.request.locale == 'fr' %}
        <h2><span>l’élaboration</span> du goût</h2>                
        <a href="{{ path('static_page',{'page':'savoir-faire-elaboration-creme'}) }}" class="link-liqueur">Les Crèmes et les Liqueurs de création</a>
        <a href="{{ path('static_page',{'page':'savoir-faire-elaboration-eau'}) }}" class="link-eau-vie-home">Les Eaux-de-vie de tradition</a>
        <div class="link-creation-bt">
          <a href="{{ path('static_page',{'page':'Savoir-faire-creation'}) }}"><span>{{ "le laboratoire" | trans }}</span> {{ "de création" | trans }}</a>
          <a href="{{ path('static_page',{'page':'Savoir-faire-fruits'}) }}"><span>{{ "la sélection" | trans }}</span> {{ "des fruits" | trans }}</a>
        </div>
		{% else %}
        <h2><span>Creating </span>taste</h2>                
        <a href="{{ path('static_page',{'page':'savoir-faire-elaboration-creme'}) }}" class="link-liqueur">Les Crèmes et les Liqueurs de création</a>
        <a href="{{ path('static_page',{'page':'savoir-faire-elaboration-eau'}) }}" class="link-eau-vie-home">Les Eaux-de-vie de tradition</a>
        <div class="link-creation-bt">
          <a href="{{ path('static_page',{'page':'Savoir-faire-creation'}) }}"><span>{{ "le laboratoire" | trans }}</span> {{ "de création" | trans }}</a>
          <a href="{{ path('static_page',{'page':'Savoir-faire-fruits'}) }}"><span>{{ "la sélection" | trans }}</span> {{ "des fruits" | trans }}</a>
        </div>
		{% endif %}
      </div>
    </div>    
  </div>
</div>
{% elseif page== "Savoir-faire-creation" %}
<script type="text/javascript">
  $(function() {
  $('.desc-creation').jScrollPane({scrollbarWidth: 4});
  $('.savoir-faire').addClass("active");
  })
</script>
<div id="savoir-faire">
  <div class="main">
    <div class="savoir-faire-home">
      <div class="savoir-faire-creation">
        <a href="{{ path('static_page',{'page':'Savoir-faire'}) }}" class="retour dn"><span>Retour</span></a>
        <img src="{{ asset('site/images/img-creation.jpg') }}" alt="" />
        <h2><span>{{ "le laboratoire" | trans }}</span> {{ "de création" | trans }}</h2>
        <div class="desc-creation">
          <p>{{ "Les coulisses de fabrication renferment un concentré de talent, de recettes, d'exigence et de savoir-faire que chaque génération aime à se transmettre et à cultiver" | trans }}.</p>

          <p>{{ "En effet, l'ensemble des processus de fabrication est en parfait équilibre et harmonie : Sélection et cueillette du fruit à pleine maturité, macération dans l'alcool neutre, infusion, mélange et ajout de sucre, filtrage, distillation , vieillissement, assemblage... restent artisanaux" | trans }}.</p>

          <p>{{ "De plus, chaque production avant commercialisation fait l'objet de tests de goûts par les équipes de production et les nez de la Maison. La justesse de ce patrimoine, de ce savoir-faire, c'est ce qui identifie lapromesse de la marque Joseph Cartron : l'explosion de toutes ses notes gustatives sur le fruit" | trans }}.</p>


        </div>
        <div class="link-creation-bt">
          <a href="{{ path('static_page',{'page':'Savoir-faire-elaboration'}) }}"><span>{{ "l'élaboration" | trans }}</span> {{ "du goût" | trans }}</a>
          <a href="{{ path('static_page',{'page':'Savoir-faire-fruits'}) }}"><span>{{ "la sélection" | trans }}</span> {{ "des fruits" | trans }}</a>
        </div>
      </div>
    </div>    
  </div>
</div>
{% elseif page== "Savoir-faire-fruits" %}
<script type="text/javascript">
  $(function() {
  $('.desc-creation').jScrollPane({scrollbarWidth: 4});
  $('.savoir-faire').addClass("active");
  })
</script>
<div id="savoir-faire">
  <div class="main">
    <div class="savoir-faire-home">
      <div class="savoir-faire-creation">
        <a href="{{ path('static_page',{'page':'Savoir-faire'}) }}" class="retour dn"><span>Retour</span></a>
        <img src="{{ asset('site/images/img-fruits.jpg') }}" alt="" />
        <h2><span>{{ "La séléction" | trans }}</span> {{ "des fruits" | trans }}</h2>
        <div class="desc-creation">
          <p>{{ "Choisir avec soin les meilleurs matières premières" | trans }}</p>
          <p>{{ "La sélection des fruits est draconienne , c’est le début de l’expression du savoir-faire de la maison, c’est sans doute la raison pour laquelle la maison Joseph Cartron travaille depuis plusieurs générations avec les mêmes producteurs de fruits" | trans }}.</p>

          <p>{{ "C’est également à ce stade que peut débuter la création et l’innovation , en fonction de la parfaite connaissance des fruits et de leur ramassage au moment idoine, puis de la maturation nécessaire à l’expression de goûts et de parfums" | trans }}.</p>

          <p>{{ "Traiter les fruits avec respect grâce au savoir-faire de la maison" | trans }}.</p>

          <p>{{ "En effet, Les opération sont menées de façon artisanale, dans le respect de recettes éprouvées par le temps" | trans }}.</p> 

        </div>

        <div class="link-creation-bt">
          <a href="{{ path('static_page',{'page':'Savoir-faire-creation'}) }}"><span>{{ "le laboratoire" | trans }}</span> {{ "de création" | trans }}</a>
          <a href="{{ path('static_page',{'page':'Savoir-faire-elaboration'}) }}"><span>{{ "l‘élaboration" | trans }}</span> {{ "du goût" | trans }}</a>
        </div>
      </div>
    </div>    
  </div>
</div>
{% elseif page== "Savoir-faire-fruits" %}
<script type="text/javascript">
  $(function() {
  $('.desc-creation').jScrollPane({scrollbarWidth: 4});
  $('.savoir-faire').addClass("active");
  })
</script>
<div id="savoir-faire">
  <div class="main">
    <div class="savoir-faire-home">
      <div class="savoir-faire-creation">
        <a href="{{ path('static_page',{'page':'Savoir-faire'}) }}" class="retour dn"><span>Retour</span></a>
        <img src="{{ asset('site/images/img-fruits.jpg') }}" alt="" />
        <h2><span>{{ "La séléction" | trans }}</span> {{ "des fruits" | trans }}</h2>
        <div class="desc-creation-noScroll">
          <p>{{ "Choisir avec soin les meilleurs matières premières" | trans }}</p><p>
            {{ "La sélection des fruits est draconienne , c’est le début de l’expression du savoir-faire de la maison, c’est sans doute la raison pour laquelle la maison Joseph Cartron travaille depuis plusieurs générations avec les mêmes producteurs de fruits" | trans }}.</p>

          <p>{{ "C’est également à ce stade que peut débuter la création et l’innovation , en fonction de la parfaite connaissance des fruits et de leur ramassage au moment idoine, puis de la maturation nécessaire à l’expression de goûts et de parfums" | trans }}.</p>

          <p>{{ "Traiter les fruits avec respect grâce au savoir-faire de la maison" | trans }}.</p>

          <p>{{ "En effet, Les opération sont menées de façon artisanale, dans le respect de recettes éprouvées par le temps" | trans }}.
          </p>



        </div>

        <div class="link-creation-bt">
          <a href="{{ path('static_page',{'page':'Savoir-faire-creation'}) }}"><span>{{ "le laboratoire" | trans }}</span> {{ "de création" | trans }}</a>
          <a href="{{ path('static_page',{'page':'Savoir-faire-elaboration'}) }}"><span>{{ "l‘élaboration" | trans }}</span> {{ "du goût" | trans }}</a>
        </div>
      </div>
    </div>    
  </div>
</div>
{% elseif page== "Savoir-faire-esprit" %}
<script type="text/javascript">
  $(function() {
  $('.desc-creation').jScrollPane({scrollbarWidth: 4});
  $('.savoir-faire').addClass("active");
  })
</script>
<div id="savoir-faire">
  <div class="main">
    <div class="savoir-faire-home">
      <div class="savoir-faire-creation">
        <a href="{{ path('static_page',{'page':'Savoir-faire'}) }}" class="retour dn"><span>Retour</span></a>
        <img src="{{ asset('site/images/img-fruits.jpg') }}" alt="" />
        <h2><span>{{ "La séléction" | trans }}</span> {{ "des fruits" | trans }}</h2>
        <div class="desc-creation-noScroll">
          <p>{{ "Choisir avec soin les meilleurs matières premières" | trans }} :
            {{ "La sélection des fruits est draconienne , c’est le début de l’expression du savoir-faire de la maison, c’est sans doute la raison pour laquelle la maison Joseph Cartron travaille depuis plusieurs générations avec les mêmes producteurs de fruits" | trans }}.</p>

          <p>{{ "C’est également à ce stade que peut débuter la création et l’innovation , en fonction de la parfaite connaissance des fruits et de leur ramassage au moment idoine, puis de la maturation nécessaire à l’expression de goûts et de parfums" | trans }}.</p>

          <p>{{ "Traiter les fruits avec respect grâce au savoir-faire de la maison" | trans }}.</p>

          <p>{{ "En effet, Les opération sont menées de façon artisanale, dans le respect de recettes éprouvées par le temps" | trans }}.
            {{ "Laisser faire la nature , laisser le temps au produit d’exprimer au mieux la saveur du fruit dans le juste équilibre entre le fruit, l’alcool et le sucre" | trans }}.</p>

          <p>{{ "Créer des saveurs de tradition et d’innovation grâce à des assemblages nouveaux élaborés en collaboration avec de grands mixologues" | trans }}.</p>    

        </div>

        <div class="link-creation-bt">
          <a href="{{ path('static_page',{'page':'Savoir-faire-creation'}) }}"><span>{{ "le laboratoire" | trans }}</span> {{ "de création" | trans }}</a>
          <a href="{{ path('static_page',{'page':'Savoir-faire-elaboration'}) }}"><span>{{ "l‘élaboration" | trans }}</span> {{ "du goût" | trans }}</a>
        </div>
      </div>
    </div>    
  </div>
</div>
{% elseif page== "Patrimoine" %}

{% include "page/patrimoine.html.twig" %}

{% elseif page== "histoire" %}
<div id="histoire">
  <div class="main">
    <div class="content-histoire">
      <a href="{{ path('static_page',{'page':'Patrimoine'}) }}" class="retour dn"><span>{{ "Retour"|trans }}</span></a>
      <h1><a href="{{ path('static_page',{'page':'Patrimoine'}) }}">{{ "L’HISTOIRE"|trans }}<span> {{ "Cartron, créateur de saveur depuis"|trans }} 1882</span></a></h1>
      <p class="intro">{{ "En 1882 Joseph Cartron fonde la maison éponyme à Nuits St Georges" |trans}}...</p>
      <ul>
        <li><a href="{{ path('static_page',{'page':'joseph-cartron'}) }}"><span class="annee">1882</span> <span class="nom">JOSEPH <br /><strong>CARTRON</strong></span></a></li>
        <li><a href="{{ path('static_page',{'page':'armand-cartron'}) }}"><span class="annee">1940</span> <span class="nom">ARMAND <br /><strong>CARTRON</strong></span></a></li>
        <li><a href="{{ path('static_page',{'page':'xavier-cartron'}) }}"><span class="annee">1990</span> <span class="nom">XAVIER <br /><strong>CARTRON</strong></span></a></li>
        <li><a href="{{ path('static_page',{'page':'judith-cartron'}) }}"><span class="annee">2011</span> <span class="nom">JUDITH <br /><strong>CARTRON</strong></span></a></li>
      </ul>

    </div>
  </div>
</div>
{% elseif page== "la-bourgogne" %}
<div id="bourgogne">
  <div class="main">
    <div class="content-histoire">
      <a href="{{ path('static_page',{'page':'Patrimoine'}) }}" class="retour dn"><span>Retour</span></a>
      <h1><a href="{{ path('static_page',{'page':'Patrimoine'}) }}">{{ 'LA BOURGOGNE' | trans }}<span> {{ 'En Héritage' | trans }}</span></a></h1>
      <p class="intro"><em>{{ 'La bourgogne fait partie intégrante de l’histoire de la famille Cartron depuis plus de trois siècles' | trans }}</em></p>
      <ul>
        <li><a href="{{ path('static_page',{'page':'la-bourgogne-histoire'}) }}"><span>{{ 'L’histoire de la famille cartron' | trans }}</span><br />
            {{ 'en bourgogne depuis plus de 3 siècles' | trans }}</a></li>
        <li><a href="{{ path('static_page',{'page':'la-bourgogne-et-le-coeur'}) }}"><span>{{ 'la bourgogne est le coeur' | trans }}</span><br />
            {{ "et l'inspiration de la maison joseph cartron" | trans }}</a></li>
      </ul>
    </div>

  </div>
</div>
{% elseif page== "licornes" %}
<div id="licornes">
  <div class="main">
    <div class="content-histoire">
      <a href="{{ path('static_page',{'page':'Patrimoine'}) }}" class="retour dn"><span>Retour</span></a>
      <h1><a href="{{ path('static_page',{'page':'Patrimoine'}) }}">{{ 'les licornes' | trans }}<span> {{ 'L’emblème de la maison Cartron' | trans }}</span></a></h1>
      <img src="{{ asset('site/images/img-licornes.jpg') }}" alt="" />
      <div class="desc-licornes">
        <p>{{ 'Les Licornes, Emblème de la Maison Joseph Cartron.' | trans | raw }}</p>

        <p style="line-height:16px;">{{ 'Amateur d’art et de littérature' | trans | raw }}</p>
      </div>
    </div>
  </div>
</div>
{% elseif page== "joseph-cartron" %}
<script type="text/javascript">
  $(function() {
      $('.desc-histoire').jScrollPane({scrollbarWidth: 4});
  })
</script>
<div id="histoire">
  <div class="main">
    <div class="content-histoire">
      <a href="{{ path('static_page',{'page':'histoire'}) }}" class="retour dn"><span>Retour</span></a>
      <h1><a href="{{ path('static_page',{'page':'histoire'}) }}">{{ "L’HISTOIRE" |trans}}<span> {{ "Cartron, créateur de saveur depuis"|trans}} 1882</span></a></h1>
      <ul>
        <li><a href="{{ path('static_page',{'page':'joseph-cartron'}) }}"><span class="annee">1882</span> <span class="nom">JOSEPH <br /><strong>CARTRON</strong></span></a></li>
      </ul>
      <img src="{{ asset('site/images/img-joseph-cartron.jpg') }}" alt="" />
      <div class="desc-histoire">
        <p>{{ "En 1882 Joseph Cartron fonde la maison éponyme à Nuits St Georges, fournissant les débits de boissons, la jeune société distribuait les incontournables limonades et eau de Seltz et fabriquait en outre des liqueurs d’anthologie comme la Prunelle, le Marasquin, le Cacao, le Kummel , l’Idéal Bourguignon ou encore la Bisette" |trans}}.</p>

        <p>{{ "Mais ce qui distingua dés le départ cette petite entreprise familiale , c’est la création de la crème de cassis Double crème appelée à l’époque «Double crème de cassis Cartron» comme une reconnaissance naturelle de l’authenticité et de l’originalité de ce produit dans le berceau même de la crème de cassis" |trans}}.</p>
        <p>{{ "Sans enfant, Joseph, le fondateur" |trans}}.</p>   
        <p>{{ "L’entreprise, bien implantée localement" |trans}}.</p> 
      </div>
    </div>
    <div class="menu-bt-histoire">
      <ul>
        <li><a href="{{ path('static_page',{'page':'joseph-cartron'}) }}" class="dn active"><span>JOSEPH CARTRON</span></a><p><span class="annee">1882</span> <span class="nom">JOSEPH <br /><strong>CARTRON</strong></span></p></li>
        <li><a href="{{ path('static_page',{'page':'armand-cartron'}) }}" class="dn"><span>ARMAND CARTRON</span></a><p><span class="annee">1940</span> <span class="nom">ARMAND <br /><strong>CARTRON</strong></span></p></li>
        <li><a href="{{ path('static_page',{'page':'xavier-cartron'}) }}" class="dn"><span>XAVIER CARTRON</span></a><p><span class="annee">1990</span> <span class="nom">XAVIER <br /><strong>CARTRON</strong></span></p></li>
        <li><a href="{{ path('static_page',{'page':'judith-cartron'}) }}" class="dn"><span>JUDITH CARTRON</span></a><p><span class="annee">2011</span> <span class="nom">JUDITH <br /><strong>CARTRON</strong></span></p></li>
      </ul>
    </div>
  </div>
</div>
{% elseif page== "armand-cartron" %}
<script type="text/javascript">
  $(function() {
  $('.desc-histoire').jScrollPane({scrollbarWidth: 4});
  })
</script>
<div id="histoire">
  <div class="main">
    <div class="content-histoire">
      <a href="{{ path('static_page',{'page':'histoire'}) }}" class="retour dn"><span>{{ "Retour" |trans}}</span></a>
      <h1><a href="{{ path('static_page',{'page':'histoire'}) }}">{{ "L’HISTOIRE" |trans}}<span> {{ "Cartron, créateur de saveur depuis"|trans}} 1882</span></a></h1>
      <ul>
        <li><a href="{{ path('static_page',{'page':'armand-cartron'}) }}"><span class="annee">1940</span> <span class="nom">ARMAND <br /><strong>CARTRON</strong></span></a></li>
      </ul>
      <img src="{{ asset('site/images/img-armand-cartron.jpg') }}" alt="" />
      <div class="desc-histoire">
		{% if app.request.locale == 'fr' %}
        <p>C’est Armand, le fils d’Henri, entré  dans la société  dans les années 30, qui va diriger l’entreprise de 1940 à 1985 et la marquer de son empreinte. En effet, il cesse l’activité de grossiste -et donc la fabrication de limonade- pour se consacrer au développement de ses produits à forte valeur ajoutée, sur le marché français bien sûr, mais aussi à l’international.</p>
		<p>En visionnaire, il implante sa marque dans la grande distribution alors qu’elle n’en est qu’à ses balbutiements en France. Il développe l’entreprise au Canada, au Japon, au Luxembourg, en Belgique, en Allemagne, en Italie et aux Etats­-Unis. Il voyage beaucoup et sa maison ne désemplit pas de clients amis qui viennent déguster ses produits.</p>
        <p>C’est sous son règne que les murs de l’entreprise ont été repoussés pour l’agrandir et que le conditionnement des bouteilles a été mécanisé.</p>
        <p>Armand est un créatif, gastronome, lettré et pianiste émérite. Il est aussi un nez et un palais très fins. Il va donc développer largement la gamme des produits en s’attachant à la qualité des saveurs et des parfums.</p>
        <p>La Maison lui doit de nombreuses recettes originales, notamment le n°7, septième essai d’une rare   alchimie   destinée  à  partager   la   Bourgogne   des   fruits   rouges   grâce  à  l’harmonie particulière de ses 15 composants.</p>
        <p>Ces créations, consignées par écrit dans un cahier d’écolier, sont aujourd’hui encore jalousement gardées.</p>
		{% else %}
		<p>Armand, Henri's son, joined the company in the thirties. With a real impact, he managed the company from 1940 to 1985. He stopped the wholesaler activity -and thus the production of Lemonade- in order to concentrate on the development of products with an important added value, on the French market of course, but also on the international market.</p>
		<p>With great foresight, he implants the brand on the large retail market which is just beginning in France. He also develops the company in Canada, Japan, Luxemburg, Belgium, Germany, Italy and the United States. He travels considerably and his house is always full of client-friends who come in to taste his products.</p>
		<p>It is during his management that the buildings of the company were enlarged and that bottling was mechanized.</p>
		<p>Armand was a creative man, a gourmet, a scholar and a talented pianist. He also had a very fine nose and palate. He therefore largely developped the range of products paying great attention to the quality of both the savours and perfumes.</p>
		<p>The Company is thankful to him for the creation of many original recipes, namely the  N° 7, the seventh trial of a rare alchemy aimed to share the red berries of Burgundy thanks to the original harmony of its 15 components.</p>
		<p>These various creations, handwritten in a school book, are still today jealously kept.</p>
		{% endif %}
      </div>	  
    </div>
    <div class="menu-bt-histoire">
      <ul>
        <li><a href="{{ path('static_page',{'page':'joseph-cartron'}) }}" class="dn"><span>JOSEPH CARTRON</span></a><p><span class="annee">1882</span> <span class="nom">JOSEPH <br /><strong>CARTRON</strong></span></p></li>
        <li><a href="{{ path('static_page',{'page':'armand-cartron'}) }}" class="dn active"><span>ARMAND CARTRON</span></a><p><span class="annee">1940</span> <span class="nom">ARMAND <br /><strong>CARTRON</strong></span></p></li>
        <li><a href="{{ path('static_page',{'page':'xavier-cartron'}) }}" class="dn"><span>XAVIER CARTRON</span></a><p><span class="annee">1990</span> <span class="nom">XAVIER <br /><strong>CARTRON</strong></span></p></li>
        <li><a href="{{ path('static_page',{'page':'judith-cartron'}) }}" class="dn"><span>JUDITH CARTRON</span></a><p><span class="annee">2011</span> <span class="nom">JUDITH <br /><strong>CARTRON</strong></span></p></li>
      </ul>
    </div>
  </div>
</div>
{% elseif page== "xavier-cartron" %}
<script type="text/javascript">
  $(function() {
  $('.desc-histoire').jScrollPane({scrollbarWidth: 4});
  })
</script>
<div id="histoire">
  <div class="main">
    <div class="content-histoire">
      <a href="{{ path('static_page',{'page':'histoire'}) }}" class="retour dn"><span>{{ "Retour"|trans}}</span></a>
      <h1><a href="{{ path('static_page',{'page':'histoire'}) }}">{{ "L’HISTOIRE"|trans}}<span> {{ "Cartron, créateur de saveur depuis"|trans}} 1882</span></a></h1>
      <ul>
        <li><a href="{{ path('static_page',{'page':'joseph-cartron'}) }}"><span class="annee">1990</span> <span class="nom">XAVIER <br /><strong>CARTRON</strong></span></a></li>
      </ul>
      <img src="{{ asset('site/images/img-xavier-cartron.jpg') }}" alt="" />
      <div class="desc-histoire">
		{% if app.request.locale == 'fr' %}
		<p>En 1990, succédant à son père, Xavier Cartron prend la direction de la société familiale. Après HEC et une carriére de 22 années dans la finance, c'est un nouveau regard qu'il pose sur la Maison, mais toujours avec le souci de faire fructifier ce patrimoine.</p>
		<p>Il va définir une stratégie claire quant au positionnement haut de gamme de ses produits, lancer un vaste programme de modernisation de l'outil de production et développer une stratégie de distribution sélective offensive en France et à l'international.</p>
		<p>A ces fins, Xavier étoffe le réseau d'agents multicartes et s'entoure d'une véritable équipe de direction. Il crée une organisation aux rouages bien huilés de façon à toujours offrir un produit de qualité et à être à l'écoute de ses clients. Le développement à l'export s'accélère alors fortement. Les produits de la Maison Joseph Cartron s'établissent  légitimement dans les restaurants étoilés et font leur apparition sur les étagères des bars des hôtels de luxe.</p>
		<p>La transmission familiale étant partie intégrante de l'ADN de la Maison Joseph Cartron, c'est bien naturellement qu'à son tour, Xavier passe la main à sa fille Judith en 2011.</p>
		{% else %}
		<p>In 1990, after his father, Xavier Cartron takes on the management of the family business. After graduating from HEC (Ecole des Hautes Etudes Commerciales) and a career of 22 years in finance, he sets a new eye on the Company, but always with the firm idea of developing the inheritance.</p>
		<p>He defines a clear strategy concerning the high quality positioning of the products. He launches a vast modernisation program for the production unit and develops a selective and offensive distribution strategy both in France and on the international market.</p>
		<p>To reach these aims, Xavier increases the number of multicard agents and takes on a real management team. He organizes a setup that ticks over beautifully, which both guarantees products of quality and pays great attention to the clients. Export development then flourishes considerably. The products of the Joseph Cartron Company legitimately find their place in the starred restaurants and appear on the shelves of the Luxury Hotel Bars.</p>
		<p>Family transmission being part of the DNA of the Joseph Cartron Company, it is quite naturally that Xavier transmits the commands to his daugther Judith in 2011.</p>
		{% endif %}
      </div>
    </div>
    <div class="menu-bt-histoire">
      <ul>
        <li><a href="{{ path('static_page',{'page':'joseph-cartron'}) }}" class="dn"><span>JOSEPH CARTRON</span></a><p><span class="annee">1882</span> <span class="nom">JOSEPH <br /><strong>CARTRON</strong></span></p></li>
        <li><a href="{{ path('static_page',{'page':'armand-cartron'}) }}" class="dn"><span>ARMAND CARTRON</span></a><p><span class="annee">1940</span> <span class="nom">ARMAND <br /><strong>CARTRON</strong></span></p></li>
        <li><a href="{{ path('static_page',{'page':'xavier-cartron'}) }}" class="dn active"><span>XAVIER CARTRON</span></a><p><span class="annee">1990</span> <span class="nom">XAVIER <br /><strong>CARTRON</strong></span></p></li>
        <li><a href="{{ path('static_page',{'page':'judith-cartron'}) }}" class="dn"><span>JUDITH CARTRON</span></a><p><span class="annee">2011</span> <span class="nom">JUDITH <br /><strong>CARTRON</strong></span></p></li>
      </ul>
    </div>
  </div>
</div>
{% elseif page== "judith-cartron" %}
<script type="text/javascript">
  $(function() {
  $('.desc-histoire').jScrollPane({scrollbarWidth: 4});
  })
</script>
<div id="histoire">
  <div class="main" id="main">
    <div class="content-histoire">
      <a href="{{ path('static_page',{'page':'histoire'}) }}" class="retour dn"><span>{{ "Retour"|trans}}</span></a>
      <h1><a href="{{ path('static_page',{'page':'histoire'}) }}">{{ "L’HISTOIRE"|trans}}<span> {{ "Cartron, créateur de saveur depuis"|trans}} 1882</span></a></h1>
      <ul>
        <li><a href="{{ path('static_page',{'page':'joseph-cartron'}) }}"><span class="annee">2011</span> <span class="nom">JUDITH <br /><strong>CARTRON</strong></span></a></li>
      </ul>
      <img src="{{ asset('site/images/img-judith-cartron.jpg') }}" alt="" />
      <div class="desc-histoire">
        <p>{{ "A l’âge de 38 ans, Judith Cartron prend un virage important : Elle quitte une carrière professionnelle bien tracée et Paris pour rejoindre l’entreprise familiale"|trans}}.</p> 

        <p>{{ "Judith Cartron a pris progressivement les rênes de l’entreprise aux côtés de son père qui pendant 3 ans lui transmet les valeurs et le savoir-faire de l’entreprise"|trans}}.</p>

        <p>{{ "Passionnée par ce  nouveau challenge"|trans}}.
        </p> <p>{{ "Depuis juillet 2011, Judith Cartron est présidente de la Maison Joseph Cartron devenant ainsi la première femme, et la 5ème génération de cette fameuse lignée de distillateurs liquoristes, à diriger l’entreprise"|trans}}.
        </p>
        <p>{{ "Elle développe aujourd’hui"|trans}}.
        </p>
      </div>
    </div>
    <div class="menu-bt-histoire">
      <ul>
        <li><a href="{{ path('static_page',{'page':'joseph-cartron'}) }}" class="dn"><span>JOSEPH CARTRON</span></a><p><span class="annee">1882</span> <span class="nom">JOSEPH <br /><strong>CARTRON</strong></span></p></li>
        <li><a href="{{ path('static_page',{'page':'armand-cartron'}) }}" class="dn"><span>ARMAND CARTRON</span></a><p><span class="annee">1940</span> <span class="nom">ARMAND <br /><strong>CARTRON</strong></span></p></li>
        <li><a href="{{ path('static_page',{'page':'xavier-cartron'}) }}" class="dn"><span>XAVIER CARTRON</span></a><p><span class="annee">1990</span> <span class="nom">XAVIER <br /><strong>CARTRON</strong></span></p></li>
        <li><a href="{{ path('static_page',{'page':'judith-cartron'}) }}" class="dn active"><span>JUDITH CARTRON</span></a><p><span class="annee">2011</span> <span class="nom">JUDITH <br /><strong>CARTRON</strong></span></p></li>
      </ul>
    </div>
  </div>
</div>
{% elseif page== "la-bourgogne-histoire" %}

<div id="bourgogne">
  <div class="main">
    <div class="content-histoire">
      <a href="{{ path('static_page',{'page':'la-bourgogne'}) }}" class="retour dn" style="cursor:default;"><span>{{ "Retour"|trans}}</span></a>
      <h1><a style="cursor:default;" href="{{ path('static_page',{'page':'la-bourgogne'}) }}">{{ "LA BOURGOGNE"|trans}}<span> {{ "En Héritage"|trans}}</span></a></h1>
      <ul class="titre-bourgogne">
        <li><a href="#" style="cursor:default;"><span>{{ "L’histoire de la famille cartron"|trans}}</span><br />
            {{ "en bourgogne depuis plus de 3 siècles"|trans}}</a></li>
      </ul>
      <img src="{{ asset('site/images/img-bourgogne-histoire.jpg') }}" alt="" />
      <script type="text/javascript">
        $(function() {
        $('.desc-histoire').jScrollPane({scrollbarWidth: 4});
        })
      </script>
      <div class="desc-histoire">
        <p>{{ "La Bourgogne fait partie intégrante de l’histoire de la famille Cartron depuis plus de trois siècles"|trans}}.<br /><br />
          {{ "En effet, Jean Cartron quitte l’ouest de la France, et plus précisément la Vendée, au moment de la Révolution Française pour venir s’installer en Bourgogne, à Argilly, à quelques kilomètres de Nuits-Saint-Georges. Il devient rapidement propriétaire terrien grâce à son mariage avec une Bourguignonne"|trans}}.</p>

        <p>{{ "Par la suite, son petit-fils, Pierre Cartron, le père de Joseph, s’installe à Nuits-Saint-Georges au début des années 1870. C’est dans cette ville que Joseph créera la société éponyme en 1882 où elle est toujours ancrée"|trans}}.<br /><br />
          {{ "C’est aussi la Bourgogne qui lui a donné ses armes en lieu et place des licornes et l’envie de rechercher l’excellence du goût"|trans}}.<br /><br />
          {{ "Depuis cette date, Nuits-Saint-Georges et la Bourgogne ont toujours été le berceau de la famille Cartron"|trans}}.</p>
      </div>
    </div>
    <div class="menu-bt-histoire">
      <ul>
        <li><a href="{{ path('static_page',{'page':'la-bourgogne-histoire'}) }}" class="dn active"><span>JOSEPH CARTRON</span></a><p><span>{{ "L’histoire de la famille cartron"|trans}}</span><br />
            {{ "en bourgogne depuis plus de 3 siècles"|trans}}</p></li>
        <li><a href="{{ path('static_page',{'page':'la-bourgogne-et-le-coeur'}) }}" class="dn"><span>JOSEPH CARTRON</span></a><p><span>{{ "la bourgogne est le coeur"|trans}}</span><br />
            {{ "et l’inspiration de la maison joseph cartron"|trans}}</p></li>
      </ul>
    </div>
  </div>
</div>
{% elseif page== "la-bourgogne-et-le-coeur" %}
<script type="text/javascript">
  $(function() {
  $('.desc-histoire').jScrollPane({scrollbarWidth: 4});
  })
</script>
<div id="bourgogne">
  <div class="main">
    <div class="content-histoire">
      <a href="{{ path('static_page',{'page':'la-bourgogne'}) }}" class="retour dn"><span>{{ "Retour"|trans}}</span></a>
      <h1><a href="{{ path('static_page',{'page':'la-bourgogne'}) }}">{{ "LA BOURGOGNE"|trans}}<span> {{ "En Héritage"|trans}}</span></a></h1>
      <ul class="titre-bourgogne">
        <li><a href="" style="cursor:default;"><span>{{ "la bourgogne est le coeur"|trans}}</span><br />
            {{ "et l’inspiration de la maison joseph cartron"|trans}}</a></li>
      </ul>
      <img src="{{ asset('site/images/img-la-bourgogne-et-le-coeur.jpg') }}" alt="" />
      <div class="desc-histoire">
        <p>{{ "La Bourgogne est le coeur et l’inspiration de la Maison Joseph Cartron."|trans}}</p>
        <p>
          {{ "Les produits Joseph Cartron s'inscrivent dans la tradition des produits bourguignons : les liens étroits et durables créés avec les producteurs et distillateurs du terroir depuis plusieurs générations ont permis à la Maison Joseph Cartron de construire de véritables partenariats, d'acquérir une connaissance intime du fruit et de travailler ses créations avec les variétés de fruits les plus aromatiques, dans le respect des recettes originales"|trans}}.</p>

        <p>{{ "Aujourd'hui encore, la Maison Joseph Cartron achète 70% de ses fruits en Bourgogne, ce qui lui permet de choisir elle-même le moment de la récolte et de travailler les fruits à un stade de maturité optimum"|trans}}.</p>
        <p>{{ "L'utilisation de ces variétés de fruits locales, souvent à faible rendement comme le cassis Noir de Bourgogne, permet des créations typiquement bourguignonnes absolument incomparables en terme de goût telles que"|trans}} :</p>
        <ul>
          <li>{{ "La Crème de Cassis de Bourgogne qui a toujours été le fer de lance de la Maison"|trans}}</li>
          <li>{{ "Les Crèmes de Pêche de Vigne, de Framboise, de Cerise de Bourgogne"|trans}}</li>
          <li>{{ "Le Ratafia et le Guignolet de Bourgogne"|trans}}</li>
          <li>{{ "La Poire Williams des Monts de la Côte d'Or"|trans}}</li>
          <li>{{ "Le Marc et la Fine de Bourgogne"|trans}}...</li>
        </ul>
      </div>
    </div>
    <div class="menu-bt-histoire">
      <ul>
        <li><a href="{{ path('static_page',{'page':'la-bourgogne-histoire'}) }}" class="dn"><span>JOSEPH CARTRON</span></a><p><span>{{ "L’histoire de la famille cartron"|trans}}</span><br />
            {{ "en bourgogne depuis plus de 3 siècles"|trans}}</p></li>
        <li><a href="{{ path('static_page',{'page':'la-bourgogne-et-le-coeur'}) }}" class="dn active"><span>JOSEPH CARTRON</span></a><p><span>{{ "la bourgogne est le coeur"|trans}}</span><br />
            {{ "et l’inspiration de la maison joseph cartron"|trans}}</p></li>
      </ul>
    </div>
  </div>
</div>
{% endif %}


<style>
  .footer {
      position:static;
  }
</style>

{% endblock %}
