{% extends "layout.html.twig" %}
{% block title %}JOSEPH CARTRON{% endblock %}
{% block body %}
<div id="collection">
  <div class="main">
    <div class="collection-home">
      <div class="owl-carousel">
        {% set collectionIndex = -1 %}
        {% set carouselStartPosition = 0 %}
        {% for collection in collections %}
        {% set collectionIndex = collectionIndex + 1 %}
        <div class="collection" id="marc_{{ collection.id }}">
          <span class="close">
            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"/></svg>
          </span>
          {% set break = false %}
          {% for sousMenu in sousMenus if not break %}
          {% if collection.id == sousMenu.idCollection.id %}
          <a class="title" href="{{ path('collection_product', { id: sousMenu.id }) }}" style="border-color: #{{ collection.color }};">
            {% if app.request.locale  == 'en' %}{{ collection.titreEn | raw }}{% else %}{{ collection.titreFr | raw }}{% endif %}
          </a>
          {% set break = true %}
          {% endif %}
          {% endfor %}
          <div class="block">
            <img src="{{ asset('upload/' ~ collection.image) }}" alt="{{ collection.titreFr | raw }}" />
            <div class="blockDesc">
              <ul>
                {% set productIndex = 0 %}
                {% for sousMenu in sousMenus %}
                {% if sousMenu.idCollection.id == collection.id %}
                  {% if app.request.query.get('id')|number_format == sousMenu.id %}

                    {% set carouselStartPosition = collectionIndex %}
                  {% endif %}

                <li>
                  <a href="{{ path('collection_product', { id: sousMenu.id }) ~ '#' ~ productIndex }}">
                    {% if app.request.locale  == 'en' %}{{ sousMenu.titreEn }}{% else %}{{ sousMenu.titreFr }}{% endif %}
                  </a>
                </li>
                {% set productIndex = productIndex + 1 %}
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
          <style>
            #collection .collection-home #marc_{{ collection.id }} .block .blockDesc li a:hover {
              color: #{{ collection.color }};
            }
          </style>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var carouselStartPosition = {{ carouselStartPosition }};
    var elementsToSimplyBar = document.querySelectorAll('.blockDesc');
    elementsToSimplyBar.forEach(function(elementToSimplyBar) { new SimpleBar(elementToSimplyBar, { autoHide: true }); })

    var owl = $('.owl-carousel');
    var up = false;
    var options = {
      startPosition: carouselStartPosition,
      nav: true,
      dots: false,
      autoWidth: true,
      center: true,
      loop: true,
      navText: [
        '<div class="owl-prev"><svg width="40" height="40" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd"><path d="M20 .755l-14.374 11.245 14.374 11.219-.619.781-15.381-12 15.391-12 .609.755z"/></svg></div>',
        '<div class="owl-next"><svg width="40" height="40" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd"><path d="M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z"/></svg></div>'
      ]
    };

    function initOwlCarousel() {
      owl.owlCarousel(options);
      up = true;
    }

    var width = $(window).width();
    $(window).bind('load', function()
    {
      if (width < 1440) {
        initOwlCarousel();
      }
    })
  
    $(window).resize(function() {
      width = $(window).width();
    
      if (width < 1440 && !up) {
        initOwlCarousel();
      } else if (width >= 1440 && up) {
        owl.trigger('destroy.owl.carousel');
        up = false;
      }
    
    });

    function hoverOn() {
      $('.center .collection', owl).addClass('hover');
      owl.addClass('hover');
    }

    function hoverOff() {
      $('.collection').removeClass('hover');
      owl.removeClass('hover');
    }

    owl.on('changed.owl.carousel', function() {
      hoverOff()
    });

    $('.collection').on('click', 'img', function() {
      if ($(this).get(0) === $('.center img', owl).get(0)) {
        hoverOn()
      }
    });

    $('.collection').on('click', '.close', function() {
      hoverOff()
    });

    $(document).keyup(function(event) {
      if (event.key === 'Escape') hoverOff();
      if (event.key === 'ArrowRight') owl.trigger('next.owl.carousel');
      if (event.key === 'ArrowLeft') owl.trigger('prev.owl.carousel');
      if (event.key === 'Enter') hoverOn();
    });

  </script>
{% endblock %}