{% extends "layout.html.twig" %}
{% block title %}JOSEPH CARTRON{% endblock %}
{% block body %}
<div id="collection">
  <div class="main">
    <div class="collection-home">
      <div class="owl-carousel">
        {% for collection in collections %}
        <div class="collection" id="marc_{{ collection.id }}">
          {% set break = false %}
          {% for sousMenu in sousMenus if not break %}
            {% if collection.id == sousMenu.idCollection.id %}
            <a class="title" href="{{ path('collection_product', { id: sousMenu.id }) }}" style="border-color: #{{ collection.color }};">
              {% if app.session.get('_locale') == 'en' %}{{ collection.titreEn | raw }}{% else %}{{ collection.titreFr | raw }}{% endif %}
            </a>
            {% set break = true %}
            {% endif %}
          {% endfor %}
          <div class="block">
            <img src="{{ asset('upload/' ~ collection.image) }}" alt="{{ collection.titreFr | raw }}" />
            <div class="blockDesc">
              <ul>
                {% for sousMenu in sousMenus %}
                {% if sousMenu.idCollection.id == collection.id %}
                <li>
                  <a href="{{ path('collection_product', { id: sousMenu.id }) }}">
                    {% if app.session.get('_locale') == 'en' %}{{ sousMenu.titreEn }}{% else %}{{ sousMenu.titreFr }}{% endif %}
                  </a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
          <style>
            #marc_{{ collection.id }} .blockDesc ul li a:hover {
              color: #{{ collection.color }};
            }
          </style>
          <script>
            new SimpleBar(document.querySelector('#marc_{{ collection.id }} .blockDesc'), { autoHide: false });
          </script>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <script type="text/javascript">

    var owl = null;
    var up = false;
    var options = {
      startPosition: 1,
      dots: false,
      autoWidth: true,
      center: true,
      loop: true
    };

    function initOwlCarousel() {
      owl = $('.owl-carousel').owlCarousel(options);
      up = true;
    }

    var width = $(window).width();

    if (width < 1440) {
      initOwlCarousel();
      up = true;
    }
  
    $(window).resize(function() {
    
      width = $(window).width();
    
      if (width < 1440 && !up) {
        initOwlCarousel();
        up = true;
      } else if (width >= 1440 && up) {
        owl.trigger('destroy.owl.carousel');
        up = false;
      }
    
    });

  </script>
{% endblock %}