{% extends "layout.html.twig" %}
{% block title %}JOSEPH CARTRON{% endblock %}
{% block body %}

<script src="{{ asset('site/js/force-display.js') }}"></script>
<script>
$( document ).ready(function() {
  if (window.innerWidth >= 1024) {
    $('.degustation').click(function() {
        $(".note-degustation").css("display","block");
        $(".note-degustation .dropdown").css("display","block");
        $(".note-elaboration").css("display","none");
        $(".accueil-produits").css("display","none");
    })
      $('.elaboration').click(function() {
        $(".note-elaboration").css("display","block");
        $(".note-elaboration .dropdown").css("display","block");
        $(".note-degustation").css("display","none");
        $(".accueil-produits").css("display","none");
    })
  }
});
</script>
<div id="collection-produits" class="test2">
  <div class="main">
    <div class="collection-home">
      <a class="close" href="{{ path('collection') ~ '?id=' ~ app.request.get('id') }}"><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" preserveAspectRatio="none" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"/></svg></a>
      <div class="menus owl-carousel">
        {% for collection in collections %}
          {% set break = false %}
          {% for sousMenu in sousMenus if not break %}
            {% if (collection.id == sousMenu.idCollection.id) %}
              <a class="menu {% if sousMenu.idCollection.id == idCollection %}active{% endif %}" href="{{ path('collection_product', { id: sousMenu.id }) }}" style="border-color: #{{ collection.color }};">
                {% if (app.request.locale == 'en') %}{{ collection.titreEn | raw }}{% else %}{{ collection.titreFr | raw }}{% endif %}
              </a>
              {% set break = true %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
      <div class="sousMenus owl-carousel">
        {% for sousMenu in sousMenusCollection %}
            {% if sousMenu.idCollection.id == idCollection %}
            <div class="sousMenu" data-hash="{{ loop.index }}">
              <div class="visuel">
                <img src="{{ asset('upload/'~sousMenu.image) }}" alt="{{ sousMenu.titreFr }}">
              </div>
              <div class="description">
                <div class="first_part">
                  <h2>{% if app.request.locale == 'en' %}{{ sousMenu.titreEn }}{% else %}{{ sousMenu.titreFr }}{% endif %}</h2>
                  <div class="accueil-produits">
                    {% if app.request.locale == 'en' %}{{ sousMenu.descriptionEn | raw }}{% else %}{{ sousMenu.descriptionFr | raw }}{% endif %}
                    <p class="marge9"><span>{{ "Degré" | trans }} :</span> {{ sousMenu.degre }}%</p>
                    <p class="marge9"><span>{{ "Contenance" | trans }} :</span> {% if app.request.locale == 'en' %}{{ sousMenu.contenanceEn }}{% else %}{{ sousMenu.contenanceFr }}{% endif %}</p>
                    <p class="marge9"><span>{{ "Conserver" | trans }}</span> {% if app.request.locale == 'en' %}{{ sousMenu.conserverEn }}{% else %}{{ sousMenu.conserverFr }}{% endif %}</p>
                  </div>
                </div>
                <div class="second_part">
                  <a class="recette" href="{% if app.request.locale == 'en' %}{{ sousMenu.recetteEn }}{% else %}{{ sousMenu.recetteFr }}{% endif %}?id={{sousMenu.id}}&index={{loop.index0}}">{{ "Recettes" | trans }}</a>
                  <div class="note-degustation">
                    <h3>{{ "Note de dégustation" | trans }}</h3>
                    <div class="dropdown">
                      {% if app.request.locale == 'en' %}{{ sousMenu.noteDegustationEn | raw }}{% else %}{{ sousMenu.noteDegustationFr | raw }}{% endif %}
                    </div>
                  </div>
                  <div class="note-elaboration">
                    <h3>{{ "Elaboration" | trans }}</h3>
                    <div class="dropdown">
                      {% if app.request.locale == 'en' %}{{ sousMenu.elaborationEn | raw }}{% else %}{{ sousMenu.elaborationFr | raw }}{% endif %}
                    </div>
                  </div>
                  <div class="link-produits">
                    <a href="{% if app.request.locale == 'en' %}{{ sousMenu.recetteEn }}{% else %}{{ sousMenu.recetteFr }}{% endif %}"><span><b>&rsaquo;</b>{{ "Recettes" | trans }}</span></a>
                    <a class="degustation"><span><b>&rsaquo;</b>{{ "Note de dégustation" | trans }}</span></a>
                    <a class="elaboration"><span><b>&rsaquo;</b>{{ "Elaboration" | trans }}</span></a>
                  </div>
                </div>
              </div>
            </div>
            {% endif %} 
        {% endfor %}
      </div>
    </div>    
  </div>
</div>

<script type="text/javascript">
  $('.sousMenus').owlCarousel({
    items: 1,
    nav: true,
    loop: true,
    URLhashListener: true,
    startPosition: (getAnchor() -1),
    navText: [
      '<div class="owl-prev"><svg width="30" height="70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" preserveAspectRatio="none" fill-rule="evenodd" clip-rule="evenodd"><path d="M20 .755l-14.374 11.245 14.374 11.219-.619.781-15.381-12 15.391-12 .609.755z"/></svg></div>',  
      '<div class="owl-next"><svg width="30" height="70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" preserveAspectRatio="none" fill-rule="evenodd" clip-rule="evenodd"><path d="M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z"/></svg></div>'
    ]
  });

  var owl = $('.menus');
  var barsElements = [];
  var barsObjects = [];

  var owlUp = false;
  var barsUp = false;

  var indexPosition = $('.menu.active', owl).index();

  var options = {
    startPosition: indexPosition,
    dots: false,
    autoWidth: true,
    center: true,
    loop: true,
    mouseDrag: false,
    touchDrag: false
  };

  function getAnchor() {
    var currentUrl = document.URL,
    urlParts   = currentUrl.split('#');
    return (urlParts.length > 1) ? urlParts[1] : null;
  }

  function initOwlMenu() {
    owl.owlCarousel(options);
    owlUp = true;
  }

  function initSimpleBars() {
    barsElements = document.querySelectorAll('.accueil-produits, .note-degustation, .note-elaboration');
    barsElements.forEach(function(barsElement) { barsObjects.push(new SimpleBar(barsElement, { autoHide: false })); });
    barsUp = true;
  }
  
  function removeSimpleBars() {
    barsObjects.forEach(function(barObject, index) {
      var content = barObject.getContentElement();
      var element = barsElements[index];
      barObject.unMount();
      element.removeAttribute('data-simplebar');
      element.innerHTML = content.innerHTML;
    });
    barsObjects = [];
    barsUp = false;
  }

  var width = window.innerWidth;

  if (width < 1440) {
    initOwlMenu();
  }

  if (width >= 1024) {
    initSimpleBars();
  }

  window.onresize = function() {
  
    width = window.innerWidth;
  
    if (width < 1440 && !owlUp) {
      initOwlMenu();
    } else if (width >= 1440 && owlUp) {
      owl.trigger('destroy.owl.carousel');
      owlUp = false;
    }
  
    if (width >= 1024 && !barsUp) {
      initSimpleBars();
    } else if (width < 1024 && barsUp) {
      removeSimpleBars();
    }

    if (width < 1024 && width >= 568) {
      $('.note-degustation, .note-elaboration').css("display", "block");
    }else{
      $('.note-degustation, .note-elaboration').css("display", "none");
    }
  
  };

  $('.second_part').on('click', 'h3', function() {
    $(this).toggleClass('active');
  });


</script>

<style>

    .simplebar-scrollbar:before {
      background: #{{ defaultColor }};
    }
    .simplebar-scrollbar,
    .simplebar-track.simplebar-vertical,
    .simplebar-track.simplebar-horizontal {
      width: 6px;
    }
    .simplebar-track.simplebar-vertical,
    .simplebar-track.simplebar-horizontal {
      background-color: #ffffff;
    }
    .collection-home .menus #marc_{{ idCollection }} a {
      border-bottom: 2px solid #{{ defaultColor }};
    }
    .sousMenu .description h2,
    .sousMenu .description p span,
    .sousMenu .description .recette,
    .sousMenu .description .note-degustation h3,
    .sousMenu .description .note-elaboration h3 {
      color: #{{ defaultColor }} !important;
    }
    .sousMenu .description .link-produits a span {
      position: relative;
      padding: 0 10px 0 25px;
      height: 29px;
      line-height: 29px;
      color: #FFFFFF;
      background: none !important;
    }
    .sousMenu .description .link-produits a span b {
      position: absolute;
      top: -9px;
      left: 11px;
      font-size: 20px;
      color: #{{ defaultColor }} !important;
    }
  </style>
{% endblock %}