{% extends "admin/layout.html.twig" %}
{% block body %}
<!-- start content -->
<div id="content">

    <!--  start page-heading -->
    <div id="page-heading">
        <h1>Ajouter sous menu collection </h1>
    </div>
    <!-- end page-heading -->

    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
        <tr>
            <th rowspan="3" class="sized"><img src="{{ asset('admin/images/shared/side_shadowleft.jpg')}}" width="20" height="300" alt="" /></th>
            <th class="topleft"></th>
            <td id="tbl-border-top">&nbsp;</td>
            <th class="topright"></th>
            <th rowspan="3" class="sized"><img src="{{ asset('admin/images/shared/side_shadowright.jpg')}}" width="20" height="300" alt="" /></th>
        </tr>
        <tr>
            <td id="tbl-border-left"></td>
            <td>
                <!--  start content-table-inner ...................................................................... START -->
                <div id="content-table-inner">
                    {{ form_start(form)}}
                        <table cellspacing="0" cellpadding="0" border="0" id="id-form">
                            <tbody>
                                <tr>
                                    <th valign="top">Collection:</th>
                                    <td>{% autoescape false %}{{ form_widget(form.idCollection) }}{% endautoescape %}</td>
                                    <td></td>
                                </tr>                           
                                <tr>
                                    <th valign="top">Degré :</th>
                                    <td>{{ form_widget(form.degre) }}</td>
                                    <td></td>
                                </tr>                               
                                <tr>
                                    <th valign="top">Image:</th>
                                    <td>{{ form_widget(form.image)}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th valign="top">Icone:</th>
                                    <td>{{ form_widget(form.icone)}}</td>
                                    <td></td>
                                </tr>                               
                                <tr>
                                    <th valign="top">Titre FR:</th>
                                    <td>{{ form_widget(form.titreFr) }}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th valign="top">Description FR:</th>
                                    <td>{% autoescape false %}{{ form_widget(form.descriptionFr) }}{% endautoescape %}</textarea></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th valign="top">Note Degustation FR:</th>
                                    <td>{{ form_widget(form.noteDegustationFr) }}</textarea></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th valign="top">Elaboration FR:</th>
                                    <td>{{ form_widget(form.elaborationFr) }}</textarea></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th valign="top">Contenance FR:</th>
                                    <td>{{ form_widget(form.contenanceFr) }}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th valign="top">Conserver FR:</th>
                                    <td>{{ form_widget(form.conserverFr) }}</td>
                                    <td></td>
                                </tr>
                                 <tr>
                                    <th valign="top">Recette Fr:</th>
                                    <td>{{ form_widget(form.recetteFr) }}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th valign="top">Titre EN:</th>
                                    <td>{{ form_widget(form.titreEn) }}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th valign="top">Description En:</th>
                                    <td>{{ form_widget(form.descriptionEn) }}</textarea></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th valign="top">Note Degustation En:</th>
                                    <td>{{ form_widget(form.noteDegustationEn) }}</textarea></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th valign="top">Elaboration En:</th>
                                    <td>{{ form_widget(form.elaborationEn) }}</textarea></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th valign="top">Contenance En:</th>
                                    <td>{{ form_widget(form.contenanceEn) }}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th valign="top">Conserver En:</th>
                                    <td>{{ form_widget(form.conserverEn) }}</td>
                                    <td></td>
                                </tr>
                                 <tr>
                                    <th valign="top">Recette En:</th>
                                    <td>{{ form_widget(form.recetteEn) }}</td>
                                    <td></td>
                                </tr>                             
                                <tr>
                                    <th>&nbsp;</th>
                                    <td valign="top">
                                    {{ form_widget(form.submit), { 'label': 'Valider' }) }}
                                    {{ form_rest(form) }} 
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    {{ form_end(form) }} 
                </div>
                <!--  end content-table-inner ............................................END  -->
            </td>
            <td id="tbl-border-right"></td>
        </tr>
        <tr>
            <th class="sized bottomleft"></th>
            <td id="tbl-border-bottom">&nbsp;</td>
            <th class="sized bottomright"></th>
        </tr>
    </table>
    <div class="clear">&nbsp;</div>
</div>
<!--  end content -->

<script type="text/javascript">
$(document).ready(function() {
	$('.styledselect_form_1').selectbox({ inputClass: "styledselect_form_1" });
});
</script>
{% endblock %}