{% extends "admin/layout.html.twig" %}
{% block body %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
        <h1>Liste des articles (page d'accueil) </h1>
    </div>
    <!-- end page-heading -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
        <tr>
            <th rowspan="3" class="sized"><img src="{{ asset('admin/images/shared/side_shadowleft.jpg')}}" width="20" height="300" alt="" /></th>
            <th class="topleft"></th>
            <td id="tbl-border-top">&nbsp;</td>
            <th class="topright"></th>
            <th rowspan="3" class="sized"><img src="{{ asset('admin/images/shared/side_shadowright.jpg')}}" width="20" height="300" alt="" /></th>
        </tr>
        <tr>
            <td id="tbl-border-left"></td>
            <td>
                <!--  start content-table-inner ...................................................................... START -->
                <div id="content-table-inner">
                    {% if articles %}
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" id="product-table">
                            <tbody>
                                <tr>
                                    <th class="table-header-repeat line-left minwidth-1"><a href="#0">Image</a>	</th>
                                    <th class="table-header-repeat line-left minwidth-1"><a href="#0">Titre fr </a></th>
                                    <th class="table-header-repeat line-left"><a href="#0">Description fr</a></th>
                                    <th class="table-header-repeat line-left minwidth-1"><a href="#0">Titre en </a></th>
                                    <th class="table-header-repeat line-left"><a href="#0">Description en</a></th>
                                    <th class="table-header-options line-left"><a href="#0">Actions</a></th>
                                </tr>
                                       {% for article in articles %}
                                <tr>
                                    <td align="center"><img width="150" src='{{ asset('upload/'~article.image) }}'  /></td>
                                    <td>{{ article.titleFr }}</td>
                                    <td>{{ article.descFr|raw }}</td>
                                    <td>{{ article.titreEn }}</td>
                                    <td>{{ article.descEn|raw }}</td>
                                    <td class="options-width">
                                        <a class="icon-1 info-tooltip" href="{{ path('admin_homepage_add_article', { 'id': article.id }) }}"></a>
                                        <a class="icon-2 info-tooltip" href="{{ path('delete', { 'id': article.id , 'table':'HomePage' }) }}"></a>
                                    </td>
                                </tr>

                                        {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}

                    </div>
                    <!--  end content-table-inner ............................................END  -->
                </td>
                <td id="tbl-border-right"></td>
            </tr>
            <tr>
                <th class="sized bottomleft"></th>
                <td id="tbl-border-bottom">&nbsp;</td>
                <th class="sized bottomright"></th>
            </tr>
        </table>
        <div class="clear">&nbsp;</div>

    </div>
    <!--  end content -->
{% endblock %}