{% extends "layout.html.twig" %}
{% block title %}JOSEPH CARTRON{% endblock %}
{% block body %}


<script type="text/javascript" src="{{ asset('site/js/jquery.cycle2.js') }}"></script>
<script type="text/javascript" src="{{ asset('site/js/jquery.cycle2.carousel.js') }}"></script>
<script type="text/javascript" src="{{ asset('site/js/jquery.cycle2.tile.js') }}"></script>
<script type="text/javascript" src="{{ asset('site/js/mobile-toggle.js') }}"></script>

 <script type="text/javascript">
	$(function() 
	{
  		$('.desconly').jScrollPane({scrollbarWidth: 4, autoReinitialise: true});
  		$('.subMenu').jScrollPane({scrollbarWidth: 6});

	  	$('.next').hover(function() { $('#degustation .main').stop().animate({backgroundPosition: '45% 0px'}, 2000) }, 
	  	function() { $('#degustation .main').stop().animate({backgroundPosition: '50% 0'}, 2000) });

		
	
		
		$('.imprimer').click(function(){ window.print() })

	})
</script>

<style>
  .desconly{
  width: 400px;
  height: 370px;
  overflow: auto;
  }
  .jspDrag{
  background:#7C8184;
  }
  .jspTrack{
  background:#FFF;
  }
  .menu_degustation .jspDrag{
  background:#FFF !important;
  }
</style>
<div id="degustation-produits">
  <div class="main">
    <div class="degustation-home">
      <div class="menu_degustation">
        <ul>

          {% for degustation in degustations %}
          <li class="menuLiWithSubMenu">
            {% set break = false %}
                {% for sousMenu in sousMenus if not break %}
                    {% if(degustation.id == sousMenu.idDegustation.id) %}
                    <a href="{{ path('tasting_product',{id:sousMenu.id}) }}" >
                        {% if(app.session.get('_locale')=='en') %} {{ degustation.titreEn|raw }} {% else %} {{ degustation.titreFr|raw }} {% endif %}
                    </a>
                    {% set break = true %}
                    {% endif %}
                {% endfor %}
            <div class="scrollMenu">
              <ul class="subMenu">
                {% for sousMenu in sousMenus %}
                {% if(sousMenu.idDegustation.id == degustation.id) %}
                <li>
                  <a href="{{ path('tasting_product',{id:sousMenu.id}) }}">
                    {% if(app.session.get('_locale')=='en') %} {{ sousMenu.titreEn }} {% else %} {{ sousMenu.titreFr }} {% endif %}
                  </a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </li>
          {% endfor %}

        </ul>
      </div> <!-- # end menu degustation -->
      <div class="content">
      <!-- remplacer les liens -->
        <a href="#" class="view dn">
          <svg id="viewIcon" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"></path></svg>
          <svg id="hideIcon" width="20" height="20"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M634 471L36 3.51A16 16 0 0 0 13.51 6l-10 12.49A16 16 0 0 0 6 41l598 467.49a16 16 0 0 0 22.49-2.49l10-12.49A16 16 0 0 0 634 471zM296.79 146.47l134.79 105.38C429.36 191.91 380.48 144 320 144a112.26 112.26 0 0 0-23.21 2.47zm46.42 219.07L208.42 260.16C210.65 320.09 259.53 368 320 368a113 113 0 0 0 23.21-2.46zM320 112c98.65 0 189.09 55 237.93 144a285.53 285.53 0 0 1-44 60.2l37.74 29.5a333.7 333.7 0 0 0 52.9-75.11 32.35 32.35 0 0 0 0-29.19C550.29 135.59 442.93 64 320 64c-36.7 0-71.71 7-104.63 18.81l46.41 36.29c18.94-4.3 38.34-7.1 58.22-7.1zm0 288c-98.65 0-189.08-55-237.93-144a285.47 285.47 0 0 1 44.05-60.19l-37.74-29.5a333.6 333.6 0 0 0-52.89 75.1 32.35 32.35 0 0 0 0 29.19C89.72 376.41 197.08 448 320 448c36.7 0 71.71-7.05 104.63-18.81l-46.41-36.28C359.28 397.2 339.89 400 320 400z"></path></svg>
        </a>
        <a href="{{ path('static_page',{'page':'Savoir-faire'}) }}" class="retour dn">
          <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"/></svg>
        </a>
        

        <div id="slideshow-1">

          <a href="#" class="cycle-prev"></a>
          <a href="#" class="cycle-next"></a>
          
          <div id="cycle-1" data-cycle-slides=".cycle" data-cycle-fx="scrollHorz"  data-cycle-timeout="0" data-cycle-prev="#slideshow-1 .cycle-prev" data-cycle-next="#slideshow-1 .cycle-next" data-cycle-caption="#slideshow-1 .custom-caption">
      
            {% for sousMenuDegustation in sousMenusDegustation %}
            <div class="article_{{ sousMenuDegustation.id }} cycle {% if(sousMenuDegustation.couleurArrierePlan=='noir') %} {{ "imageNoir" }} {% endif %} {% if sousMenuDegustation.id == app.request.get('id') %}cycle-slide-active{% endif %}">
              <img src="{{ asset('upload/'~sousMenuDegustation.image) }}" width="977" height="577" alt="" />
              <a href="javascript:window.history.back()" class="back">{{ "Retour" | trans }}</a>
              <div class="description">
                <h3>{% if(app.session.get('_locale')=='en') %} {{ sousMenuDegustation.titreEn }} {% else %} {{ sousMenuDegustation.titreFr }} {% endif %}</h3>
                <div class="desconly">
  
                  <div class="text txtScroll">
                    {% if(app.session.get('_locale')=='en') %} {{ sousMenuDegustation.descriptionEn|raw }} {% else %} {{ sousMenuDegustation.descriptionFr|raw }} {% endif %}
                  </div>
                  <div class="sep"></div>
          {% if app.session.get('_locale')=='en' and sousMenuDegustation.noteDegustationEn|trim != '' %}
                  <h4>Tasting Tip</h4>
                  <div class="text">
                    {% if(app.session.get('_locale')=='en') %} {{ sousMenuDegustation.noteDegustationEn|raw }} {% else %} {{ sousMenuDegustation.noteDegustationFr|raw }} {% endif %}
                  </div>
          {% endif %}
                  
          {% if app.session.get('_locale')=='fr' and sousMenuDegustation.noteDegustationFr|trim != '' %}
                  <h4>Note de Dégustation</h4>
                  <div class="text">
                    {% if(app.session.get('_locale')=='en') %} {{ sousMenuDegustation.noteDegustationEn|raw }} {% else %} {{ sousMenuDegustation.noteDegustationFr|raw }} {% endif %}
                  </div>
          {% endif %}
                  
                </div>
                <div class="icons">
                  <a href="http://www.facebook.com/sharer.php?u=http://www.cartron.fr" class="facebook"></a>
                  <a href="#" class="telecharger"></a>
                  <a href="javascript:window.print();" class="imprimer"></a>
                </div>
              </div>
            </div>
            {% endfor %}



          </div>
        </div>

      </div> <!-- # end content degustation -->          
    </div>    
  </div>
</div>
<style>
  .text p {color: #2F383E}
</style>

<script>
$(document).ready(function() { 

	$(".cycle").each(function() {
		var $links = $(this).find(".text a");
		var ids = "#";
		$links.each(function() {
			ids += $(this).attr("href") + ",";
		});
		$links.each(function() {
			var url = "{{ path('tasting_product', {id: 'id'}) }}";
			url = url.replace("id", $(this).attr("href"));
			$(this).attr("href", url + ids);
		});		
	});

	if(document.location.hash){
		var elements = [];
		var parameters = document.location.hash;
		parameters = parameters.substring(1,parameters.length);
		parameters = parameters.split(",");
		for(var i= 0; i < parameters.length; i++) {
			elements.push($(".article_"+parameters[i]));
		}
		$("#cycle-1").html(elements);
	} 
	
	var position = $('#cycle-1 .cycle').index( $('.article_{{sousMenuDegustationDefault.id}}') );
	$('#cycle-1').show().cycle({'startingSlide':position, 'log':false});
});

</script>



{% endblock %}

