{% extends "layout.html.twig" %}
{% block title %}JOSEPH CARTRON{% endblock %}
{% block body %}
<script src="{{ asset('site/js/jquery.js') }}"></script>
<script src="{{ asset('site/js/jquery-ui.js') }}"></script>
<script src="{{ asset('site/js/jquery.toggleval.js') }}"></script>
<script src="{{ asset('site/js/jquery.jcarousel.min.js') }}"></script>
<script src="{{ asset('site/js/jquery.jqtransform.js') }}"></script>
<script src="{{ asset('site/js/jquery.easing.1.3.js') }}"></script>
<script src="{{ asset('site/js/camera.min.js') }}"></script>
<script src="{{ asset('site/js/jquery.mousewheel.js') }}"></script>
<script src="{{ asset('site/js/jquery.hoverflow.js') }}"></script>
<script src="{{ asset('site/js/jquery.hoverIntent.minified.js') }}"></script>
<script src="{{ asset('site/js/jquery.backgroundpos.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('site/js/jquery.cycle2.js') }}"></script>
<script type="text/javascript" src="{{ asset('site/js/jquery.cycle2.carousel.js') }}"></script>
<script type="text/javascript" src="{{ asset('site/js/jquery.cycle2.tile.js') }}"></script>
<script type="text/javascript" src="{{ asset('site/js/mobile-toggle.js') }}"></script>
<script type="text/javascript" src="{{ asset('site/js/degustation.js') }}"></script>
<script src="{{ asset('site/js/main.js') }}"></script>
<script src="{{ asset('site/js/main1.js') }}"></script>

 <script type="text/javascript">
	$(function() 
	{
	  	$('.next').hover(function() { $('#degustation .main').stop().animate({backgroundPosition: '45% 0px'}, 2000) }, 
	  	function() { $('#degustation .main').stop().animate({backgroundPosition: '50% 0'}, 2000) });

		$('.imprimer').click(function(){ window.print() })
	})

    window.onresize = function() {
      width = window.innerWidth;
      if (width > 568){
          $("#viewIcon").css("display", "none");
          $("#hideIcon").css("display", "none");
          $("#slideshow-1 img").css("opacity", "1");
          $(".desconly").css("opacity", "1");
      }else{
          $("#viewIcon").css("display", "block");
          $("#hideIcon").css("display", "none");
          $("#slideshow-1 img").css("opacity", "0.3");
      }
    }

</script>

<style>
  .desconly{
  width: 400px;
  height: 370px;
  overflow: auto;
  }
  .jspDrag{
  background:#7C8184;
  }
  .jspTrack{
  background:#FFF;
  }
  .menu_degustation .jspDrag{
  background:#FFF !important;
  }
</style>
<div id="degustation-produits">
  <div class="main">
    <div class="degustation-home">
      <div class="menu_degustation">
        <ul>

          {% for degustation in degustations %}
          <li class="menuLiWithSubMenu">
            {% set break = false %}
                {% for sousMenu in sousMenus if not break %}
                    {% if(degustation.id == sousMenu.idDegustation.id) %}
                    <a href="#" >
                        {% if(app.request.locale =='en') %} {{ degustation.titreEn|raw }} {% else %} {{ degustation.titreFr|raw }} {% endif %}
                    </a>
                    {% set break = true %}
                    {% endif %}
                {% endfor %}
            <div class="scrollMenu">
              <ul class="subMenu">
                {% for sousMenu in sousMenus %}
                {% if(sousMenu.idDegustation.id == degustation.id) %}
                <li>
                  <a href="{{ path('tasting_product',{id:sousMenu.id}) }}">
                    {% if(app.request.locale =='en') %} {{ sousMenu.titreEn }} {% else %} {{ sousMenu.titreFr }} {% endif %}
                  </a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </li>
          {% endfor %}

        </ul>
      </div> <!-- # end menu degustation -->
      <div class="content">
      <!-- remplacer les liens -->
        <a href="#" class="view dn">
          <svg id="viewIcon" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M464 448H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h416c26.51 0 48 21.49 48 48v288c0 26.51-21.49 48-48 48zM112 120c-30.928 0-56 25.072-56 56s25.072 56 56 56 56-25.072 56-56-25.072-56-56-56zM64 384h384V272l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L208 320l-55.515-55.515c-4.686-4.686-12.284-4.686-16.971 0L64 336v48z"></path></svg>
          <svg id="hideIcon" width="20" height="20"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M634 471L36 3.51A16 16 0 0 0 13.51 6l-10 12.49A16 16 0 0 0 6 41l598 467.49a16 16 0 0 0 22.49-2.49l10-12.49A16 16 0 0 0 634 471zM296.79 146.47l134.79 105.38C429.36 191.91 380.48 144 320 144a112.26 112.26 0 0 0-23.21 2.47zm46.42 219.07L208.42 260.16C210.65 320.09 259.53 368 320 368a113 113 0 0 0 23.21-2.46zM320 112c98.65 0 189.09 55 237.93 144a285.53 285.53 0 0 1-44 60.2l37.74 29.5a333.7 333.7 0 0 0 52.9-75.11 32.35 32.35 0 0 0 0-29.19C550.29 135.59 442.93 64 320 64c-36.7 0-71.71 7-104.63 18.81l46.41 36.29c18.94-4.3 38.34-7.1 58.22-7.1zm0 288c-98.65 0-189.08-55-237.93-144a285.47 285.47 0 0 1 44.05-60.19l-37.74-29.5a333.6 333.6 0 0 0-52.89 75.1 32.35 32.35 0 0 0 0 29.19C89.72 376.41 197.08 448 320 448c36.7 0 71.71-7.05 104.63-18.81l-46.41-36.28C359.28 397.2 339.89 400 320 400z"></path></svg>
        </a>
          {#{% if(app.request.query.get('id')) %}
              {% set closeLink = path('collection_product', { id: app.request.query.get('id') }) ~ '#' ~ app.request.query.get('index') %}
            {% else %}
              {% set closeLink = path('tasting') ~ '?id=' ~ app.request.query.get('index') %}
            {% endif %}#}
             <a href="{{ backUrl }}" class="retour dn">
          <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"/></svg>
        </a>
        

        <div id="slideshow-1">
          <div id="cycle-1" class="owl-carousel sousMenus" style="display: flex">
            {% for sousMenuDegustation in sousMenusDegustation %}
                <div
                    data-hash="{{ loop.index0 }}"
                    data-id="{{ sousMenuDegustation.id }}"
                    style="height: 577px;position: relative;overflow: hidden"
                    class="_owlitem article_{{ sousMenuDegustation.id }}">
                    <div class="visuel">
                        <img src="{{ asset('upload/'~sousMenuDegustation.image) }}"
                             class="{% for degustation in degustations %}{% if(degustation.id == '4') %} {{ "gastronomy"}} {% endif %}{% endfor %}" />
                    </div>

                    <a href="{{ backUrl }}" class="back">{{ "Retour" | trans }}</a>
                    <div class="description">
                        <h3>{% if(app.request.locale =='en') %} {{ sousMenuDegustation.titreEn }} {% else %} {{ sousMenuDegustation.titreFr }} {% endif %}</h3>
                        <div class="desconly">
                            <div class="text txtScroll">
                                {% if(app.request.locale =='en') %} {{ sousMenuDegustation.descriptionEn|raw }} {% else %} {{ sousMenuDegustation.descriptionFr|raw }} {% endif %}
                            </div>
                            <div class="sep"></div>
                            {% if app.request.locale =='en' and sousMenuDegustation.noteDegustationEn|trim != '' %}
                                <h4>Tasting Tip</h4>
                                <div class="text">
                                    {% if(app.request.locale =='en') %} {{ sousMenuDegustation.noteDegustationEn|raw }} {% else %} {{ sousMenuDegustation.noteDegustationFr|raw }} {% endif %}
                                </div>
                            {% endif %}

                            {% if app.request.locale =='fr' and sousMenuDegustation.noteDegustationFr|trim != '' %}
                                <h4>Note de Dégustation</h4>
                                <div class="text">
                                    {% if(app.request.locale =='en') %} {{ sousMenuDegustation.noteDegustationEn|raw }} {% else %} {{ sousMenuDegustation.noteDegustationFr|raw }} {% endif %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="icons">
                            <a href="http://www.facebook.com/sharer.php?u=http://www.cartron.fr" class="facebook"></a>
                            <a href="#" class="telecharger"></a>
                            <a href="javascript:window.print();" class="imprimer"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
          </div>
        </div>

      </div> <!-- # end content degustation -->          
    </div>    
  </div>
</div>
<style>
    .tns-item {z-index: 100}
  .text p {color: #2F383E}
    .tns-nav {
        display: none;
    }
</style>

<script type="text/javascript">

    $(document).ready(function() {
        $("._owlitem").each(function () {
            var $links = $(this).find(".text a");
            var ids = "#";
            $links.each(function () {
                ids += $(this).attr("href") + ",";
            });
            $links.each(function () {
                var url = "/id/degustation_produit";
                url = url.replace("id", $(this).attr("href"));
                $(this).attr("href", url + ids);
            });
        });
    });

    var owl = $('.sousMenus');

    function initOwlMenu(id = null) {
        var startPosition = getAnchor();
        var hash = document.location.hash.substring(1);
        var isRecipePage = hash.indexOf(",") !== -1;

        if(isRecipePage) {
            var recipesToDisplay = hash.split(",");
            var idSelectedRecipe = document.location.pathname.split('/')[1];
            $('._owlitem').filter(function (i) {
                if(recipesToDisplay.indexOf($(this).attr('data-id')) === -1) {
                    $(this).remove();
                    return;
                }
                //$(this).removeAttr('data-hash');
            });
            $('._owlitem').each(function (i) {
                if ($(this).attr('data-id') == idSelectedRecipe) {
                    startPosition = i;
                }
            });
        }

        if(id && (startPosition != parseInt(startPosition, 10))) {
            startPosition = $('._owlitem[data-id="'+ id +'"]').attr('data-hash');
        }

        var slider = tns({
            startIndex: startPosition || 0,
            container: '.sousMenus',
            items: 1,
            slideBy: 1,
            autoplay: false,
            preventScrollOnTouch: 'auto',
            controls: (window.innerWidth >= 1024),
            controlsText: [
                '<div class="owl-prev" style="position: absolute;top: 50%;left:0;margin-top: -20px;padding: 20px;"><svg width="30" height="70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" preserveAspectRatio="none" fill-rule="evenodd" clip-rule="evenodd"><path d="M20 .755l-14.374 11.245 14.374 11.219-.619.781-15.381-12 15.391-12 .609.755z"/></svg></div>',
                '<div class="owl-next" style="position: absolute;top: 50%;right:0;margin-top: -20px;padding: 20px;"><svg width="30" height="70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" preserveAspectRatio="none" fill-rule="evenodd" clip-rule="evenodd"><path d="M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z"/></svg></div>'
            ]
        });
        slider.events.on('indexChanged', function (d) {
            if(! isRecipePage) {
                document.location.hash = (d.index -1);
            }
        });
        //owl.owlCarousel(options);
    }

    function getAnchor() {
        var currentUrl = document.URL,
            urlParts   = currentUrl.split('#');
        return (urlParts.length > 1) ? urlParts[1] : null;
    }

    /*window.onresize = function() {
        width = window.innerWidth;
        initOwlMenu();
    }*/
    initOwlMenu({{ sousMenuDegustationDefault.id }});

</script>
{% endblock %}

