{% extends "layout.html.twig" %}
{% block title %}JOSEPH CARTRON{% endblock %}
{% block body %}
    <script src="{{ asset('site/js/jquery.js') }}"></script>
    <script src="{{ asset('site/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('site/js/jquery.toggleval.js') }}"></script>
    <script src="{{ asset('site/js/jquery.jcarousel.min.js') }}"></script>
    <script src="{{ asset('site/js/jquery.jqtransform.js') }}"></script>
    <script src="{{ asset('site/js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ asset('site/js/camera.min.js') }}"></script>
    <script src="{{ asset('site/js/jquery.jscrollpane.js') }}"></script>
    <script src="{{ asset('site/js/jquery.mousewheel.js') }}"></script>
    <script src="{{ asset('site/js/jquery.hoverflow.js') }}"></script>
    <script src="{{ asset('site/js/jquery.hoverIntent.minified.js') }}"></script>
    <script src="{{ asset('site/js/jquery.backgroundpos.min.js') }}"></script>
    <script src="{{ asset('site/js/owl.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('site/js/jquery.cycle2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('site/js/jquery.cycle2.carousel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('site/js/jquery.cycle2.tile.js') }}"></script>
    <script type="text/javascript" src="{{ asset('site/js/mobile-toggle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('site/js/degustation.js') }}"></script>
    <script src="{{ asset('site/js/main.js') }}"></script>
    <script src="{{ asset('site/js/main1.js') }}"></script>
<script type="text/javascript">
$( document ).ready(function() {
  		$('.desconly').jScrollPane({scrollbarWidth: 4, autoReinitialise: true});
  		$('.subMenu').jScrollPane({scrollbarWidth: 6});
       /*gestion du sous menu sur devices mobiles et tablettes*/
        if (window.innerWidth <= 768) {
        $('.menuLiWithSubMenu > a:first-of-type').click(function(event) {
        event.preventDefault();
                $(this).find(".scrollMenu").stop().fadeTo('fast', 1).show();
                $('.subMenu').jScrollPane({scrollbarWidth: 6, dragMaxHeight: 34});
        });
      }
});
</script>
<div id="degustation">
  <div class="main">
    <div class="degustation-home">
      <div class="menu_degustation">
        <div class="center">
	      <ul>
	        {% for degustation in degustations %}
	        <li class="menuLiWithSubMenu">
                    {% set break = false %}
                    {% for sousMenu in sousMenus if not break %}
                        {% if(degustation.id == sousMenu.idDegustation.id) %}
                        <a class="marc_{{ degustation.id }}" href="{{ path('tasting_product',{id:sousMenu.id}) }}" >
                            {% if(app.request.locale =='en') %} {{ degustation.titreEn|raw }} {% else %} {{ degustation.titreFr|raw }} {% endif %}
                        </a>
                        {% set break = true %}
                        {% endif %}
                    {% endfor %}
	          <div class="scrollMenu">
	            <ul class="subMenu">
	              {% for sousMenu in sousMenus %}
	              {% if(sousMenu.idDegustation.id == degustation.id) %}
	              <li>
	                <a href="{{ path('tasting_product',{id:sousMenu.id}) }}">
	                  {% if(app.request.locale =='en') %} {{ sousMenu.titreEn }} {% else %} {{ sousMenu.titreFr }} {% endif %}
	                </a>
	              </li>
	              {% endif %}
	              {% endfor %}
	            </ul>
				<div style="clear:both;"></div>
	          </div>
	        </li>
	        {% endfor %}
			
	      </ul>
        </div>
      </div> <!-- # end menu degustation -->
      <div class="content">
      
        <div class="parralax">
          {% for degustation in degustations %}

          <div {% if(loop.index >1) %} class="hd" {% else %} class="sh" {% endif %} id="ar_{{ loop.index }}">
            <h2><b><span>{{ "sélection" | trans }}</span> {% if(app.request.locale =='en') %} {{ degustation.titreEn }} {% else %} {{ degustation.titreFr }} {% endif %}</b></h2>                                
            {% set break = false %}
            {% for sousMenu in sousMenus if not break %}
                {% if(degustation.id == sousMenu.idDegustation.id) %}
                <a href="{{ path('tasting_product',{id:sousMenu.id}) }}" class="entrer">{{ 'Entrez' | trans }}</a>
                {% set break = true %}
                {% endif %}
            {% endfor %}
          </div>
          {% endfor %}

          <a href="#0" class="next"></a>
          <a href="#0" class="prev"></a>
          <input type="hidden" id="nbr" value="{{ degustations|length }}" />
        </div> <!-- # end content degustation -->            
      </div> 
    </div>    
  </div>
</div>
<style>
  .hd{display: none}
  .sh{display: block}
</style>
{% endblock %}
