{% block footer %}
<div class="footer">
    <div class="langues-reseaux">
        <div class="langues">
            <dl id="sample" class="dropdown">
                <dt><a href="#0"><span>
                            {% if app.request.locale == "en" %}
                            EN <img class="flag" src="{{ asset('site/images/gb.png') }}" alt="" />
                            {% else %}
                            FR <img class="flag" src="{{ asset('site/images/fr.jpg') }}" alt="" />
                            {% endif %}
                        </span></a></dt>
                <dd>
                    <ul>
                    {% if app.request.locale == "en" %}
                        <li><a href="{{ path('choose_locale', {'locale' : 'fr'}) }}">FR <img class="flag"
                                    src="{{ asset('site/images/fr.jpg') }}" alt="" /></a></li>
                    {% else %}
                        <li><a href="{{ path('choose_locale', {'locale' : 'en'}) }}">EN <img class="flag"
                                    src="{{ asset('site/images/gb.png') }}" alt="" /></a></li>
                    {% endif %}
                    </ul>
                </dd>
            </dl>
        </div>
        <ul class="reseaux">
            <li><a href="/contact" class="contactez-nous">{{ "Contactez-nous" | trans }}</a></li>
            <li><a href="https://www.facebook.com/jcartron" class="facebook" title="Facebook">Facebook</a></li>
        </ul>
        <br clear="all">
    </div>

    <div class="menu-footer menu-footer-01">
        <ul>
            <li><a href="#0" class="mentions-legales">{{ "Mentions légales" | trans }}</a></li>
        </ul>
    </div>

    <p class="mention">
        {{ "L’abus d’alcool est dangereux pour la santé. Consommer avec modération" | trans }}.
        <a target="_blank" href="http://www.2340.fr"><img style="margin-left:5px;" src="/site/images/logo_2340.png"></a>
    </p>
    <div class="overlay-mentions">
            <div class="pop-up-mentions">
                <a href="" class="close dn"><span>{{ "Fermer" | trans }}</span></a>
                <h1>{{ "mentions légales" | trans }}</h1>
                <p>{{ "texte mentions légales" | trans | raw }}</p>
            </div>
        </div>
</div>
{% endblock %}