<!DOCTYPE html>
<html>

<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Accueil connecté » cartron pro</title>
    <link href="{{ asset('site/css/espace-pro/language-selector.css') }}" type="text/css" rel="stylesheet" media="all">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    
    <meta property="og:locale" content="fr_FR">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Accueil connecté - cartron pro">
    <meta property="og:description" content="Bienvenue sur l’espace professionnel Vous trouverez ici toutes les informations et fichiers nécessaires concernant la Maison Joseph Cartron.">
    <meta property="og:url" content="http://www.cartron.fr/pro/accueil-connecte/">
    <meta property="og:site_name" content="cartron pro">

    <link rel="alternate" type="application/rss+xml" title="cartron pro » Accueil connecté Flux des commentaires" href="http://www.cartron.fr/pro/accueil-connecte/feed/">
    <link href="{{ asset('site/css/espace-pro/includes/admin-bar.min.css') }}" type="text/css" rel="stylesheet" media="all" id="admin-bar-css">
    <link href="{{ asset('site/css/espace-pro/includes/styles.css') }}" type="text/css" rel="stylesheet" media="all" id="contact-form-7-css">
    <link href="{{ asset('site/css/espace-pro/includes/adminbar.css') }}" type="text/css" rel="stylesheet" media="all" id="boxes-css">
    <script src="https://code.jquery.com/jquery-1.8.3.min.js" integrity="sha256-YcbK69I5IXQftf/mYD8WY0/KmEDCv1asggHpJk1trM8=" crossorigin="anonymous"></script>

    <script type="text/javascript">var icl_lang = 'fr';var icl_home = 'http://www.cartron.fr/pro/';</script>
    <script src="{{ asset('site/js/espace-pro/sitepress.js') }}" type="text/javascript"></script>

    <style type="text/css" media="print">#wpadminbar { display:none; }</style>
    <style type="text/css" media="screen">
        html { margin-top: 28px !important; }
        * html body { margin-top: 28px !important; }
    </style>
    
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="{{ asset('site/css/espace-pro/main.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('site/css/espace-pro/jScrollSpane.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('site/css/espace-pro/style.css') }}" type="text/css" rel="stylesheet">

    <script src="{{ asset('site/js/espace-pro/jquery-migrate.js') }}" type="text/javascript"></script>
    <script src="{{ asset('site/js/espace-pro/jquery-ui.js') }}" type="text/javascript"></script>
    <script src="{{ asset('site/js/espace-pro/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('site/js/espace-pro/jquery.jscrollpane.js') }}" type="text/javascript"></script>
    <script src="{{ asset('site/js/espace-pro/jquery.mousewheel.js') }}" type="text/javascript"></script>
    <script src="{{ asset('site/js/espace-pro/jquery.sudoSlider.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('site/js/espace-pro/main.js') }}" type="text/javascript"></script>
    
    <meta property="og:image" content="http://www.cartron.fr/bundles/sitecartron/images/logo-facebook.png" />
    <meta id="viewport" name="viewport" />
</head>

<body class="page page-id-7 page-template-default logged-in admin-bar  customize-support">
    <div class="site">
        <div class="header">
            <a href="{{ path('homepage') }}" class="logo dn"><span>JOSEPH CARTRON</span></a>
            <div class="nav-top">
                <div class="header-content">
                    <ul class="menu-top">
                        <li><a class="patrimoine"
                                href="{{ path('pro_accueil') }}">{{ "Espace professionnel" |trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="pro">
            <div class="main">
                <div class="content">
                    {% include 'espace-pro/menu.html.twig' %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="overlay-passe-oublie">
            <div class="pop-up-passe-oublie">
                <a href="" class="close dn"><span>Fermer</span></a>
                <label>Votre Email</label>
                <input type="text" name="emailenvoie" id="mop" class="input toggleval" value="">
                <input type="submit" id="ok_mop" name="ok" value="OK" class="submit">
            </div>
        </div>
        {% include 'espace-pro/footer.html.twig' %}
        {% if app.request.locale == "fr" %}
        <div class="overlay-mentions">
            <div class="pop-up-mentions">
                <a href="" class="close dn"><span>Fermer</span></a>
                <h1>mentions légales</h1>
                <div class="scrollMention">
                    <p>
                        Raison sociale : SOCIETE DES ETABLISSEMENTS CARTRON (S.E.C.) <br>
                        Capital de 638 400,00 Euros<br>
                        RCS DIJON B 035 780 253<br>
                        Directeur de la publication : Judith Cartron<br>
                    </p>
                    <p>
                        <b>Adresse:</b><br>
                        Joseph Cartron - 25, Rue du Docteur Louis Legrand – CS 30028<br>
                        21701 Nuits-Saint-Georges Cedex - France<br>
                        <b>Email:</b> cartron@cartron.fr
                        <b>Téléphone:</b> +33 (0)3 80 62 00 90
                    </p>
                    <p>
                        <b>Design & Développement:</b> BIGGERBAND<br>
                        1 rue de Paradis 75010 Paris<br>
                        <b>Maintenance technique:</b> LOGOMOTION<br>
                        19, rue Champ Passavent - BP2 - 21380 Messigny et Vantoux<br>
                        <b>Hébergeur:</b><br>
                        Ce site est hébergé sur les serveurs de la société :<br>
                        OVH SAS (http://www.ovh.com)<br>
                        140 Quai du Sartel 59100 ROUBAIX<br>
                        Tél : +33 (0)3 20 45 36 80<br>
                    </p>
                    <p>
                        <b>Crédits Images:</b> Joseph Cartron
                    </p>
                    <p>
                        <b>Conditions d'utilisation et propriétés:</b><br>
                        Toute représentation totale ou partielle de ce site et de son contenu, par quelques procédés que ce soient, sans autorisation préalable est interdite et constituerait une contrefaçon sanctionnée par les articles L335-2 et suivants du Code de la Propriété Intellectuelle. Les utilisateurs du site sont tenus de respecter les dispositions de la Loi Informatique, Fichiers et Libertés, dont la violation est passible de sanctions pénales. Ils doivent notamment s'abstenir, s'agissant des informations nominatives auxquelles ils accèdent, de toute collecte, de toute utilisation détournée, et d'une manière générale, de tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes.
                        L’abus d’alcool est dangereux pour la santé. Consommer avec modération.

                    </p>
                </div>
            </div>
        
        {% else %}
        <div class="overlay-mentions">
            <div class="pop-up-mentions">
                <a href="" class="close dn"><span>Fermer</span></a>
                <h1>legal terms</h1>
                <div class="scrollMention">
                    <p><b>Raison sociale :</b> Joseph Cartron<br>
                        Capital de 638 400,00 Euros<br>
                        RCS 035 780 253<br>
                        Directeur de la publication : Judith Cartron<br>
                        <b>Adresse:</b>
                        Joseph Cartron - 25, Rue du Docteur Louis Legrand – CS 30028<br>
                        21701 Nuits-Saint-Georges Cedex - France<br>
                        <b>Email:</b> cartron@cartron.fr<br>
                        <b>Téléphone:</b> +33 (0)3 80 62 00 90<br>
                        <b>Design & Développement:</b> BIGGERBAND<br>
                        1 rue de Paradis 75010 Paris & 19 rue Esprit des Lois 33000 Bordeaux<br>
                        <b>Maintenance technique:</b> LOGOMOTION<br>
                        19, rue Champ Passavent - BP2 - 21380 Messigny et Vantoux<br>
                        <b>Hébergeur:</b>
                        Ce site est hébergé sur les serveurs de la société :<br>
                        OVH SAS (http://www.ovh.com)<br>
                        140 Quai du Sartel 59100 ROUBAIX<br>
                        Tél : +33 (0)3 20 45 36 80<br>
                        <b>Crédits Images:</b> Joseph Cartron<br>
                        <b>Conditions d'utilisation et propriétés:</b><br>
                        Toute représentation totale ou partielle de ce site et de son contenu, par quelques procédés que ce soient, sans autorisation préalable est interdite et constituerait une contrefaçon sanctionnée par les articles L335-2 et suivants du Code de la Propriété Intellectuelle. Les utilisateurs du site sont tenus de respecter les dispositions de la Loi Informatique, Fichiers et Libertés, dont la violation est passible de sanctions pénales. Ils doivent notamment s'abstenir, s'agissant des informations nominatives auxquelles ils accèdent, de toute collecte, de toute utilisation détournée, et d'une manière générale, de tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes.
                        L’abus d’alcool est dangereux pour la santé. Consommer avec modération.</p></p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <script src="{{ asset('site/js/espace-pro/admin-bar.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('site/js/espace-pro/jquery.form.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
    /* <![CDATA[ */
    var _wpcf7 = {"loaderUrl":"http:\/\/www.cartron.fr\/pro\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Envoi en cours ..."};
    /* ]]> */
    </script>
    <script src="{{ asset('site/js/espace-pro/scripts.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        (function() {
            var request, b = document.body, c = 'className', cs = 'customize-support', rcs = new RegExp('(^|\\s+)(no-)?'+cs+'(\\s+|$)');

            request = true;

            b[c] = b[c].replace( rcs, ' ' );
            b[c] += ( window.postMessage && request ? ' ' : ' no-' ) + cs;
        }());
    </script>

</body>

</html>