{% extends "espace-pro/layout.html.twig" %}
{% block body %}
    <div id="contenu-right">
        <div id="post-nav">
        {% if prev != false %}
            <a href="{{ path('pro_resource', { 'resource': prev.id }) }}" rel="prev"></a>
        {% endif %}
        {% if next != false %}
            <a href="{{ path('pro_resource', { 'resource': next.id }) }}" rel="next"></a>
        {% endif %}
        </div>
        <div class="image-left">
            <img src="{{ asset('upload/'~resource.picture) }}" class="magic_fields"> </div>
        <div id="detail-right" class="paysage">
            <h1>{{ category.nom }} <span>- {{ resource.title }}</span></h1>
            <div id="downloads">
                <ul>
                {% for download in resource.downloads %}
                    {% if download.locale == app.request.locale %}
                        <li>
                            <a target="_blank" download="{{ download.title }}" href="{{ asset('upload/'~download.file) }}">
                                {% set title = download.title|split('/') %}
                                {% if title[1] is defined %}
                                    {{ title[0] }} / <span> {{ title[1] }}</span>
                                {% else %}
                                    {{ title[0] }}
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}