{% extends "layout.html.twig" %}
{% block title %}JOSEPH CARTRON{% endblock %}
{% block body %}
<script type="text/javascript">
    $( document ).ready(function() {
        // gestion des checkboxes
        $('input[type="checkbox"]').change(function () {
            var $this = this.closest(".ez-checkbox");
            $($this).toggleClass("ez-checked");
        });
    });
</script>

<div id="requestAccess">
    <div class="main">
        <div class="espacePro">
            <h2 class="contact">{{"Demande d'accès professionnel" |trans}}</h2>
            {% if status %}
        	    <p class="address">{{ "Votre message a bien été envoyé"|trans }}</p>
            {% endif %}
            {{ form_start(form, { 'attr': {'id': 'formAccess'}})}}
                {{ form_widget(form.nom) }}
                {{ form_widget(form.prenom) }}
                {{ form_widget(form.email) }}
                {{ form_widget(form.societe) }}
                <div class="checkbox_container">
                    <span>{{"Votre Profil" |trans}}</span>
                    <br>
                    <div class="ez-checkbox">
                        {{ form_widget(form.agent) }}
                    </div>
                    {{ form_label(form.agent, 'Agent') }}
                    <div class="ez-checkbox">
                        {{ form_widget(form.importateur) }}
                    </div>
                    {{ form_label(form.importateur, 'Importateur') }}
                    <div class="ez-checkbox">
                        {{ form_widget(form.professionnel) }}
                    </div>
                    {{ form_label(form.professionnel, 'Professionnel') }}
                </div>
                {{ form_widget(form.message) }}
                <br clear="all" />
                <div class="valider">
                    {{ form_rest(form) }}
                    {{ form_widget(form.submit), { 'label': 'Valider' }) }}
                </div>
            {{ form_end(form) }}
        </form>
        </div>    
    </div>
</div>

{% endblock %}
