{% extends "layout.html.twig" %}
{% block title %}JOSEPH CARTRON{% endblock %}
{% block body %}

<div id="requestAccess">
    <div class="main">
        <div class="espacePro">
            <h2 class="contact">{{"Demande d'accès à l'espace professionnel"|trans}}</h2>
            {% if status %}
        	    <p class="address">{{ "Votre message a bien été envoyé"|trans }}</p>
            {% endif %}
            {{ form_start(form, { 'attr': {'id': 'formAccess'}})}}
                {{ form_widget(form.nom) }}
                {{ form_widget(form.prenom) }}
                {{ form_widget(form.email) }}
                {{ form_widget(form.societe) }}
                {{ form_widget(form.message) }}
                <br clear="all" />
                <div class="valider">
                    {{ form_rest(form) }}
                    {{ form_widget(form.submit) }}
                </div>
            {{ form_end(form) }}
        </form>
        </div>    
    </div>
</div>

{% endblock %}
