{% extends "SiteCartronBundle::layout.html.twig" %}
{% block title %}Cartron: {{ page }}{% endblock %}
{% block body %}
{% if page== "Savoir-faire" %}
<script type="text/javascript">
    $(function() {
        $('.desc-licornes').jScrollPane({scrollbarWidth: 4});

        $('.savoir-faire-home li a')
                .hover(function(e) {
            $(this).next('.captionShine').hoverFlow(e.type, {left: 214}, 'slow');
        }, function(e) {
            $(this).next('.captionShine').hoverFlow(e.type, {left: -214}, 0);
        });
        $('.savoir-faire').addClass("active");
    })
    </script>
    <div id="savoir-faire">
        <div class="main">
            <div class="savoir-faire-home">
                <ul>
                    <li>
                        <img alt="" src="{{ asset('bundles/sitecartron/images/savoir-faire_04.jpg') }}">      
                    </li>
                    <li>
                        <img alt="" src="{{ asset('bundles/sitecartron/images/savoir-faire-05.jpg') }}">           
                    </li>
                    <li>
                        <img alt="" src="{{ asset('bundles/sitecartron/images/savoir-faire-06.jpg') }}">             
                    </li>
                    <li>
                        <a href="{{ path('site_cartron_page_statique',{'page':'Savoir-faire-elaboration'}) }}"><img alt="" src="{{ asset('bundles/sitecartron/images/elaboration-gout.jpg') }}">      </a>
                        <span class="captionShine"></span>
                    </li>
                    <li>
                        <img alt="" src="{{ asset('bundles/sitecartron/images/savoir-faire-07.jpg') }}">           
                    </li>
                    <li>
                        <a href="{{ path('site_cartron_page_statique',{'page':'Savoir-faire-creation'}) }}"><img alt="" src="{{ asset('bundles/sitecartron/images/laboratoire-creation.jpg') }}">      </a>    
                        <div class="captionShine"></div>    
                    </li>
                    <li>
                        <img alt="" src="{{ asset('bundles/sitecartron/images/cartron-savoir-faire.jpg') }}">      
                    </li>
                    <li>
                        <img alt="" src="{{ asset('bundles/sitecartron/images/savoir-faire-08.jpg') }}">             
                    </li>
                    <li>
                        <img alt="" src="{{ asset('bundles/sitecartron/images/savoir-faire-09.jpg') }}">            
                    </li>
                    <li>
                        <img alt="" src="{{ asset('bundles/sitecartron/images/savoir-faire-10.jpg') }}">             
                    </li>
                    <li>
                        <img alt="" src="{{ asset('bundles/sitecartron/images/savoir-faire-11.jpg') }}">            
                    </li>
                    <li>
                        <img alt="" src="{{ asset('bundles/sitecartron/images/savoir-faire-12.jpg') }}">          
                    </li>
                    <li>
                        <a href="{{ path('site_cartron_page_statique',{'page':'Savoir-faire-esprit'}) }}"><img alt="" src="{{ asset('bundles/sitecartron/images/esprit-maison.jpg') }}">        </a> 
                        <div class="captionShine" style="left: -214px;"></div>  
                    </li>
                    <li>
                        <img alt="" src="{{ asset('bundles/sitecartron/images/savoir-faire-13.jpg') }}">         
                    </li>
                    <li>
                        <img alt="" src="{{ asset('bundles/sitecartron/images/savoir-faire-14.jpg') }}">          
                    </li>
                    <li>
                        <a href="{{ path('site_cartron_page_statique',{'page':'Savoir-faire-fruits'}) }}"><img alt="" src="{{ asset('bundles/sitecartron/images/selection-fruits.jpg') }}">         </a>  
                        <div class="captionShine"></div>  
                    </li>
                </ul>
            </div>    
        </div>
    </div>
{% elseif page== "Savoir-faire-elaboration" %}
    <script type="text/javascript">
        $(function() {
            $('.desc-creation').jScrollPane({scrollbarWidth: 4});
             $('.savoir-faire').addClass("active");
        })
        </script>
        <div id="savoir-faire">
            <div class="main">
                <div class="savoir-faire-home">
                    <div class="savoir-faire-creation">
                        <a href="{{ path('site_cartron_page_statique',{'page':'Savoir-faire'}) }}" class="retour dn"><span>Retour</span></a>
                        <img src="{{ asset('bundles/sitecartron/images/img-elaboration.jpg') }}" alt="" />
                        <h2><span>{{ "l’élaboration" | trans }}</span> {{ "du goût" | trans }}</h2>
                        <div class="desc-creation">
                            <h3>{{ "Les Crèmes et les Liqueurs de création" | trans }}</h3>
                            <p>{{ "La Bourgogne est le coeur et l’inspiration de la maison Cartron" | trans }}</p>
                            <p>{{ "Les produits Joseph Cartron s’inscrivent dans la tradition des produits Bourguignons : Ils sont le résultat d’une alchimie unique, d’une combinaison de savoir-faire entre producteurs locaux, distillateurs locaux pour l’eau de vie et la maison Joseph Cartron" | trans }}.</p>

                                <p>{{ "Ces liens étroits et durables avec les producteurs du terroir, sur plusieurs générations ont permis de construire de véritables partenariats, d’acquérir une connaissance intime du fruit et de travailler les créations Cartron dans le respect des recettes originales" | trans }}. {{ "Cette sélection drastique des fruits permet aux produits Joseph Cartron de révéler toute l’authenticité du fruit .
                            En effet, Aujourd’hui encore La maison Joseph Cartron achète 70% de ses fruits en Bourgogne. Ainsi, elle travaille des fruits récoltés à pleine maturité puisqu’elle choisit elle même le moment de la récolte . Ces conditions de récolte rendent possible le transfert de l’intégralité de la saveur du fruit" | trans }}.</p>


                                </div>

                                <a href="#" class="link-eau-vie">{{ "Les Eaux de vie de tradition >" | trans }}</a>

                                    <div class="link-creation-bt">
                                        <a href="{{ path('site_cartron_page_statique',{'page':'Savoir-faire-creation'}) }}"><span>{{ "le laboratoire" | trans }}</span> {{ "de création" | trans }}</a>
                                        <a href="{{ path('site_cartron_page_statique',{'page':'Savoir-faire-fruits'}) }}"><span>{{ "la sélection" | trans }}</span> {{ "des fruits" | trans }}</a>
                                    </div>
                            </div>
                        </div>    
                    </div>
                </div>
 {% elseif page== "Savoir-faire-creation" %}
                <script type="text/javascript">
                    $(function() {
                        $('.desc-creation').jScrollPane({scrollbarWidth: 4});
                         $('.savoir-faire').addClass("active");
                    })
                    </script>
                    <div id="savoir-faire">
                        <div class="main">
                            <div class="savoir-faire-home">
                                <div class="savoir-faire-creation">
                                    <a href="{{ path('site_cartron_page_statique',{'page':'Savoir-faire'}) }}" class="retour dn"><span>Retour</span></a>
                                    <img src="{{ asset('bundles/sitecartron/images/img-creation.jpg') }}" alt="" />
                                    <h2><span>{{ "le laboratoire" | trans }}</span> {{ "de création" | trans }}</h2>
                                    <div class="desc-creation">
                                        <p>{{ "Les coulisses de fabrication renferment un concentré de talent, de recettes, d'exigence et de savoir-faire que chaque génération aime à se transmettre et à cultiver" | trans }}.</p>

                                        <p>{{ "En effet, l'ensemble des processus de fabrication est en parfait équilibre et harmonie : Sélection et cueillette du fruit à pleine maturité, macération dans l'alcool neutre, infusion, mélange et ajout de sucre, filtrage, distillation , vieillissement, assemblage... restent artisanaux" | trans }}.</p>

                                        <p>{{ "De plus, chaque production avant commercialisation fait l'objet de tests de goûts par les équipes de production et les nez de la Maison. La justesse de ce patrimoine, de ce savoir-faire, c'est ce qui identifie lapromesse de la marque Joseph Cartron : l'explosion de toutes ses notes gustatives sur le fruit" | trans }}.</p>

                                        
                                    </div>
                                    <div class="link-creation-bt">
                                        <a href="{{ path('site_cartron_page_statique',{'page':'Savoir-faire-elaboration'}) }}"><span>{{ "l'élaboration" | trans }}</span> {{ "du goût" | trans }}</a>
                                        <a href="{{ path('site_cartron_page_statique',{'page':'Savoir-faire-fruits'}) }}"><span>{{ "la sélection" | trans }}</span> {{ "des fruits" | trans }}</a>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
 {% elseif page== "Savoir-faire-fruits" %}
                    <script type="text/javascript">
                        $(function() {
                            $('.desc-creation').jScrollPane({scrollbarWidth: 4});
                             $('.savoir-faire').addClass("active");
                        })
                        </script>
                        <div id="savoir-faire">
                            <div class="main">
                                <div class="savoir-faire-home">
                                    <div class="savoir-faire-creation">
                                        <a href="{{ path('site_cartron_page_statique',{'page':'Savoir-faire'}) }}" class="retour dn"><span>Retour</span></a>
                                        <img src="{{ asset('bundles/sitecartron/images/img-fruits.jpg') }}" alt="" />
                                        <h2><span>{{ "La séléction" | trans }}</span> {{ "des fruits" | trans }}</h2>
                                        <div class="desc-creation">
                                            <p>{{ "Choisir avec soin les meilleurs matières premières" | trans }}</p>
                                    <p>{{ "La sélection des fruits est draconienne , c’est le début de l’expression du savoir-faire de la maison, c’est sans doute la raison pour laquelle la maison Joseph Cartron travaille depuis plusieurs générations avec les mêmes producteurs de fruits" | trans }}.</p>

                                                <p>{{ "C’est également à ce stade que peut débuter la création et l’innovation , en fonction de la parfaite connaissance des fruits et de leur ramassage au moment idoine, puis de la maturation nécessaire à l’expression de goûts et de parfums" | trans }}.</p>

                                                <p>{{ "Traiter les fruits avec respect grâce au savoir-faire de la maison" | trans }}.</p>

                                                <p>{{ "En effet, Les opération sont menées de façon artisanale, dans le respect de recettes éprouvées par le temps" | trans }}.</p> 

                                                </div>

                                                <div class="link-creation-bt">
                                                    <a href="{{ path('site_cartron_page_statique',{'page':'Savoir-faire-creation'}) }}"><span>{{ "le laboratoire" | trans }}</span> {{ "de création" | trans }}</a>
                                                    <a href="{{ path('site_cartron_page_statique',{'page':'Savoir-faire-elaboration'}) }}"><span>{{ "l‘élaboration" | trans }}</span> {{ "du goût" | trans }}</a>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
 {% elseif page== "Savoir-faire-fruits" %}
                                <script type="text/javascript">
                                    $(function() {
                                        $('.desc-creation').jScrollPane({scrollbarWidth: 4});
                                         $('.savoir-faire').addClass("active");
                                    })
                                    </script>
                                    <div id="savoir-faire">
                                        <div class="main">
                                            <div class="savoir-faire-home">
                                                <div class="savoir-faire-creation">
                                                    <a href="{{ path('site_cartron_page_statique',{'page':'Savoir-faire'}) }}" class="retour dn"><span>Retour</span></a>
                                                    <img src="{{ asset('bundles/sitecartron/images/img-fruits.jpg') }}" alt="" />
                                                    <h2><span>{{ "La séléction" | trans }}</span> {{ "des fruits" | trans }}</h2>
                                                    <div class="desc-creation-noScroll">
                                                        <p>{{ "Choisir avec soin les meilleurs matières premières" | trans }}</p><p>
                                        {{ "La sélection des fruits est draconienne , c’est le début de l’expression du savoir-faire de la maison, c’est sans doute la raison pour laquelle la maison Joseph Cartron travaille depuis plusieurs générations avec les mêmes producteurs de fruits" | trans }}.</p>

                                                            <p>{{ "C’est également à ce stade que peut débuter la création et l’innovation , en fonction de la parfaite connaissance des fruits et de leur ramassage au moment idoine, puis de la maturation nécessaire à l’expression de goûts et de parfums" | trans }}.</p>

                                                            <p>{{ "Traiter les fruits avec respect grâce au savoir-faire de la maison" | trans }}.</p>

                                                            <p>{{ "En effet, Les opération sont menées de façon artisanale, dans le respect de recettes éprouvées par le temps" | trans }}.
                                        </p>

                                                                

                                                            </div>

                                                            <div class="link-creation-bt">
                                                                <a href="{{ path('site_cartron_page_statique',{'page':'Savoir-faire-creation'}) }}"><span>{{ "le laboratoire" | trans }}</span> {{ "de création" | trans }}</a>
                                                                <a href="{{ path('site_cartron_page_statique',{'page':'Savoir-faire-elaboration'}) }}"><span>{{ "l‘élaboration" | trans }}</span> {{ "du goût" | trans }}</a>
                                                            </div>
                                                        </div>
                                                    </div>    
                                                </div>
                                            </div>
{% elseif page== "Savoir-faire-esprit" %}
                                            <script type="text/javascript">
                                                $(function() {
                                                    $('.desc-creation').jScrollPane({scrollbarWidth: 4});
                                                     $('.savoir-faire').addClass("active");
                                                })
                                                </script>
                                                <div id="savoir-faire">
                                                    <div class="main">
                                                        <div class="savoir-faire-home">
                                                            <div class="savoir-faire-creation">
                                                                <a href="{{ path('site_cartron_page_statique',{'page':'Savoir-faire'}) }}" class="retour dn"><span>Retour</span></a>
                                                                <img src="{{ asset('bundles/sitecartron/images/img-fruits.jpg') }}" alt="" />
                                                                <h2><span>{{ "La séléction" | trans }}</span> {{ "des fruits" | trans }}</h2>
                                                                <div class="desc-creation-noScroll">
                                                                    <p>{{ "Choisir avec soin les meilleurs matières premières" | trans }} :
                                            {{ "La sélection des fruits est draconienne , c’est le début de l’expression du savoir-faire de la maison, c’est sans doute la raison pour laquelle la maison Joseph Cartron travaille depuis plusieurs générations avec les mêmes producteurs de fruits" | trans }}.</p>

                                                                        <p>{{ "C’est également à ce stade que peut débuter la création et l’innovation , en fonction de la parfaite connaissance des fruits et de leur ramassage au moment idoine, puis de la maturation nécessaire à l’expression de goûts et de parfums" | trans }}.</p>

                                                                        <p>{{ "Traiter les fruits avec respect grâce au savoir-faire de la maison" | trans }}.</p>

                                                                        <p>{{ "En effet, Les opération sont menées de façon artisanale, dans le respect de recettes éprouvées par le temps" | trans }}.
                                            {{ "Laisser faire la nature , laisser le temps au produit d’exprimer au mieux la saveur du fruit dans le juste équilibre entre le fruit, l’alcool et le sucre" | trans }}.</p>

                                                                            <p>{{ "Créer des saveurs de tradition et d’innovation grâce à des assemblages nouveaux élaborés en collaboration avec de grands mixologues" | trans }}.</p>    

                                                                        </div>

                                                                        <div class="link-creation-bt">
                                                                            <a href="{{ path('site_cartron_page_statique',{'page':'Savoir-faire-creation'}) }}"><span>{{ "le laboratoire" | trans }}</span> {{ "de création" | trans }}</a>
                                                                            <a href="{{ path('site_cartron_page_statique',{'page':'Savoir-faire-elaboration'}) }}"><span>{{ "l‘élaboration" | trans }}</span> {{ "du goût" | trans }}</a>
                                                                        </div>
                                                                    </div>
                                                                </div>    
                                                            </div>
                                                        </div>
{% elseif page== "Patrimoine" %}
                                                <script type="text/javascript">
                                                            $(function() {
                                                                $('.patrimoine').addClass("active");
                                                            })
                                                            </script>
                                                        <div class="main" id="patrimone">
                                                            <div id="slide_1" class="patrimoine_slides">
                                                                <div class="content">
                                                                    <div class="titre">
                                                                        <h2>{{ "L’HISTOIRE"|trans }}</h2>
                                                                        <span>{{ "Cartron, créateur de saveur depuis"|trans }} 1882</span>
                                                                    </div>
                                                                        <p><em>{{ "En 1882 Joseph Cartron fonde la maison éponyme à Nuits St Georges" |trans}}...</em></p>
                                                                        <a href="{{ path('site_cartron_page_statique',{'page':'histoire'}) }}" class="lire_suite">{{"Lire la suite"|trans }}</a>
                                                                </div>
                                                            </div> <!-- # end slide 1 -->
                                                            <div id="slide_2" class="patrimoine_slides">
                                                                <div class="slides2">
                                                                    <div class="content">
                                                                        <div class="titre">
                                                                            <h2>{{ "LA BOURGOGNE"|trans }}</h2>
                                                                            <span>{{ "En Héritage"|trans }}</span>
                                                                        </div>
                                                                            <p><em>{{ "La bourgogne fait partie intégrante de l’histoire de la famille Cartron depuis plus de trois siècles"|trans }}.</em></p>
                                                                        <a href="{{ path('site_cartron_page_statique',{'page':'la-bourgogne'}) }}" class="lire_suite">{{"Lire la suite"|trans }}</a>
                                                                    </div>
                                                                </div>
                                                            </div> <!-- # end slide 2 -->

                                                            <div id="slide_3" class="patrimoine_slides">
                                                                <div class="content">
                                                                    <div class="titre">
                                                                        <h2>{{"LES LICORNES"|trans }}</h2>
                                                                        <span>{{ "L’emblème de la Maison Cartron"|trans }}</span>
                                                                    </div>
                                                                        <p><em>{{ "Amateur d’art et de littérature, Ami des surréalistes , Armand Cartron a créé au début des années"|trans}} 30</em></p>
                                                                    <a href="{{ path('site_cartron_page_statique',{'page':'licornes'}) }}" class="lire_suite">{{"Lire la suite"|trans }}</a>
                                                                </div>
                                                            </div>	 <!-- # end slide 3 -->

                                                        </div>
{% elseif page== "histoire" %}
                                                        <div id="histoire">
                                                            <div class="main">
                                                                <div class="content-histoire">
                                                                    <a href="{{ path('site_cartron_page_statique',{'page':'Patrimoine'}) }}" class="retour dn"><span>{{ "Retour"|trans }}</span></a>
                                                                    <h1><a href="{{ path('site_cartron_page_statique',{'page':'Patrimoine'}) }}">{{ "L’HISTOIRE"|trans }}<span> {{ "Cartron, créateur de saveur depuis"|trans }} 1882</span></a></h1>
                                                                    <p class="intro">{{ "En 1882 Joseph Cartron fonde la maison éponyme à Nuits St Georges" |trans}}...</p>
                                                                    <ul>
                                                                        <li><a href="{{ path('site_cartron_page_statique',{'page':'joseph-cartron'}) }}"><span class="annee">1882</span> <span class="nom">JOSEPH <br /><strong>CARTRON</strong></span></a></li>
                                                                        <li><a href="{{ path('site_cartron_page_statique',{'page':'armand-cartron'}) }}"><span class="annee">1940</span> <span class="nom">ARMAND <br /><strong>CARTRON</strong></span></a></li>
                                                                        <li><a href="{{ path('site_cartron_page_statique',{'page':'xavier-cartron'}) }}"><span class="annee">1990</span> <span class="nom">XAVIER <br /><strong>CARTRON</strong></span></a></li>
                                                                        <li><a href="{{ path('site_cartron_page_statique',{'page':'judith-cartron'}) }}"><span class="annee">2011</span> <span class="nom">JUDITH <br /><strong>CARTRON</strong></span></a></li>
                                                                    </ul>

                                                                </div>
                                                            </div>
                                                        </div>
{% elseif page== "la-bourgogne" %}
                                                        <div id="bourgogne">
                                                            <div class="main">
                                                                <div class="content-histoire">
                                                                    <a href="{{ path('site_cartron_page_statique',{'page':'Patrimoine'}) }}" class="retour dn"><span>Retour</span></a>
                                                                    <h1><a href="{{ path('site_cartron_page_statique',{'page':'Patrimoine'}) }}">LA BOURGOGNE<span> En Héritage</span></a></h1>
                                                                    <p class="intro"><em>La bourgogne fait partie intégrante de l’histoire de la famille Cartron depuis plus de trois siècles.</em></p>
                                                                    <ul>
                                                                        <li><a href="{{ path('site_cartron_page_statique',{'page':'la-bourgogne-histoire'}) }}"><span>L’histoire de la famille cartron</span><br />
                                                                                en bourgogne depuis plus de 3 siècles</a></li>
                                                                        <li><a href="{{ path('site_cartron_page_statique',{'page':'la-bourgogne-et-le-coeur'}) }}"><span>la bourgogne est le coeur</span><br />
                                                                                et l’inspiration de la maison joseph cartron</a></li>
                                                                    </ul>
                                                                </div>

                                                            </div>
                                                        </div>
{% elseif page== "licornes" %}
                                                        <div id="licornes">
                                                            <div class="main">
                                                                <div class="content-histoire">
                                                                    <a href="{{ path('site_cartron_page_statique',{'page':'Patrimoine'}) }}" class="retour dn"><span>Retour</span></a>
                                                                    <h1><a href="{{ path('site_cartron_page_statique',{'page':'Patrimoine'}) }}">les licornes<span> L’emblème de la maison Cartron</span></a></h1>
                                                                    <img src="{{ asset('bundles/sitecartron/images/img-licornes.jpg') }}" alt="" />
                                                                    <div class="desc-licornes">
                                                                        <p>Les Licornes, Emblème de la Maison Joseph Cartron.</p>

                                                                        <p>Amateur d’art et de littérature, ami des surréalistes, Armand crée au début des années 30 un blason orné de deux licornes pour représenter sa société.<br />
                                                                            En effet, la licorne, chère à Dali, est à la fois une figure héraldique symbole de vertu, de noblesse, de féminité et de pureté qui figure sur de nombreux blasons depuis le XVIIème siècle... et une figure  emblématique de la Bourgogne avec la tapisserie de la Dame à la Licorne du musée de Cluny.<br />
                                                                            Cette licorne médiévale désigne également pour certains alchimistes une voie d’éveil dans leur quête de la pierre philosophale.
                                                                            Armand Cartron a sans doute voulu signifier là sa quête de l’excellence du goût.<br />
                                                                            Enfin, pour refermer la page de la licorne, Roger Caillois dit que la licorne incarne “solve et coagula” (pour spiritualiser le corps et donner corps à l’esprit).</p>
                                                                         
                                                                        <p>Cela pourrait bien se référer également aux saveurs originelles créées par la Maison Joseph Cartron...</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
{% elseif page== "joseph-cartron" %}
                                                        <script type="text/javascript">
                                                            $(function() {
                                                                $('.desc-histoire').jScrollPane({scrollbarWidth: 4});
                                                            })
                                                            </script>
                                                            <div id="histoire">
                                                                <div class="main">
                                                                    <div class="content-histoire">
                                                                        <a href="{{ path('site_cartron_page_statique',{'page':'histoire'}) }}" class="retour dn"><span>Retour</span></a>
                                                                        <h1><a href="{{ path('site_cartron_page_statique',{'page':'histoire'}) }}">L’HISTOIRE<span> Cartron, créateur de saveur depuis 1882</span></a></h1>
                                                                        <ul>
                                                                            <li><a href="{{ path('site_cartron_page_statique',{'page':'joseph-cartron'}) }}"><span class="annee">1882</span> <span class="nom">JOSEPH <br /><strong>CARTRON</strong></span></a></li>
                                                                        </ul>
                                                                        <img src="{{ asset('bundles/sitecartron/images/img-joseph-cartron.jpg') }}" alt="" />
                                                                        <div class="desc-histoire">
                                                                            <p>{{ "En 1882 Joseph Cartron fonde la maison éponyme à Nuits St Georges, fournissant les débits de boissons, la jeune société distribuait les incontournables limonades et eau de Seltz et fabriquait en outre des liqueurs d’anthologie comme la Prunelle, le Marasquin, le Cacao, le Kummel , l’Idéal Bourguignon ou encore la Bisette" |trans}}.</p>

                                                                            <p>{{ "Mais ce qui distingua dés le départ cette petite entreprise familiale , c’est la création de la crème de cassis Double crème appelée à l’époque «Double crème de cassis Cartron» comme une reconnaissance naturelle de l’authenticité et de l’originalité de ce produit dans le berceau même de la crème de cassis" |trans}}.</p>
																																						<p>{{ "Sans enfant, Joseph, le fondateur" |trans}}.</p>   
																																						 <p>{{ "L’entreprise, bien implantée localement" |trans}}.</p> 
                                                                        </div>
                                                                    </div>
                                                                    <div class="menu-bt-histoire">
                                                                        <ul>
                                                                            <li><a href="{{ path('site_cartron_page_statique',{'page':'joseph-cartron'}) }}" class="dn active"><span>JOSEPH CARTRON</span></a><p><span class="annee">1882</span> <span class="nom">JOSEPH <br /><strong>CARTRON</strong></span></p></li>
                                                                            <li><a href="{{ path('site_cartron_page_statique',{'page':'armand-cartron'}) }}" class="dn"><span>ARMAND CARTRON</span></a><p><span class="annee">1940</span> <span class="nom">ARMAND <br /><strong>CARTRON</strong></span></p></li>
                                                                            <li><a href="{{ path('site_cartron_page_statique',{'page':'xavier-cartron'}) }}" class="dn"><span>XAVIER CARTRON</span></a><p><span class="annee">1990</span> <span class="nom">XAVIER <br /><strong>CARTRON</strong></span></p></li>
                                                                            <li><a href="{{ path('site_cartron_page_statique',{'page':'judith-cartron'}) }}" class="dn"><span>JUDITH CARTRON</span></a><p><span class="annee">2011</span> <span class="nom">JUDITH <br /><strong>CARTRON</strong></span></p></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
{% elseif page== "armand-cartron" %}
                                                            <script type="text/javascript">
                                                                $(function() {
                                                                    $('.desc-histoire').jScrollPane({scrollbarWidth: 4});
                                                                })
                                                                </script>
                                                                <div id="histoire">
                                                                    <div class="main">
                                                                        <div class="content-histoire">
                                                                            <a href="{{ path('site_cartron_page_statique',{'page':'histoire'}) }}" class="retour dn"><span>{{ "Retour" |trans}}</span></a>
                                                                            <h1><a href="{{ path('site_cartron_page_statique',{'page':'histoire'}) }}">{{ "L’HISTOIRE" |trans}}<span> {{ "Cartron, créateur de saveur depuis"|trans}} 1882</span></a></h1>
                                                                            <ul>
                                                                                <li><a href="{{ path('site_cartron_page_statique',{'page':'armand-cartron'}) }}"><span class="annee">1940</span> <span class="nom">ARMAND <br /><strong>CARTRON</strong></span></a></li>
                                                                            </ul>
                                                                            <img src="{{ asset('bundles/sitecartron/images/img-armand-cartron.jpg') }}" alt="" />
                                                                            <div class="desc-histoire">
                                                                                <p>{{ "C’est Armand, le fils d’Henri, entré dans la société dans les années 30 qui va diriger l’entreprise de 1940 à 1985, et la marquer de son empreinte .
                                                                                    C’est sous son règne que les murs de l’entreprise ont été naturellement poussés pour l’agrandir et que le conditionnement des bouteilles a été mécanisé" |trans}}.</p>

                                                                                <p>{{ "Armand est un créatif, gastronome, lettré, pianiste émérite, il est aussi un nez et un palais très fin. Il va donc développer largement la gamme des produits en s’attachant à la qualité des saveurs et des parfums .
                                                                                    C’est à lui que la maison doit de nombreuses recettes originales, telles que le n°7 , septième essai d’une rare alchimie destinée à partager la Bourgogne des fruits rouges grâce à l’harmonie particulière de 15 composants.
                                                                                    Ces créations consignées par écrit dans un cahier d’écolier sont aujourd’hui encore jalousement gardées.
                                                                                    Enfin, Armand, crée un réseau d’agents multicartes en France qui va permettre à la société de s’orienter vers la belle restauration et les cavistes en plein développement, qui draînent la clientèle à la recherche de qualité .
                                                                                    Ce réseau de distribution sélective perdure encore aujourd’hui" |trans}}.</p>
																																										<p>{{ "Armand est un créatif" |trans}}.</p>
																																										<p>{{ "La Maison lui doit de nombreuses recettes originales" |trans}}.</p>
																																										<p>{{ "Ces créations, consignées par écrit" |trans}}.</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="menu-bt-histoire">
                                                                            <ul>
                                                                                <li><a href="{{ path('site_cartron_page_statique',{'page':'joseph-cartron'}) }}" class="dn"><span>JOSEPH CARTRON</span></a><p><span class="annee">1882</span> <span class="nom">JOSEPH <br /><strong>CARTRON</strong></span></p></li>
                                                                                <li><a href="{{ path('site_cartron_page_statique',{'page':'armand-cartron'}) }}" class="dn active"><span>ARMAND CARTRON</span></a><p><span class="annee">1940</span> <span class="nom">ARMAND <br /><strong>CARTRON</strong></span></p></li>
                                                                                <li><a href="{{ path('site_cartron_page_statique',{'page':'xavier-cartron'}) }}" class="dn"><span>XAVIER CARTRON</span></a><p><span class="annee">1990</span> <span class="nom">XAVIER <br /><strong>CARTRON</strong></span></p></li>
                                                                                <li><a href="{{ path('site_cartron_page_statique',{'page':'judith-cartron'}) }}" class="dn"><span>JUDITH CARTRON</span></a><p><span class="annee">2011</span> <span class="nom">JUDITH <br /><strong>CARTRON</strong></span></p></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
{% elseif page== "xavier-cartron" %}
                                                                <script type="text/javascript">
                                                                    $(function() {
                                                                        $('.desc-histoire').jScrollPane({scrollbarWidth: 4});
                                                                    })
                                                                    </script>
                                                                    <div id="histoire">
                                                                        <div class="main">
                                                                            <div class="content-histoire">
                                                                                <a href="{{ path('site_cartron_page_statique',{'page':'histoire'}) }}" class="retour dn"><span>{{ "Retour"|trans}}</span></a>
                                                                                <h1><a href="{{ path('site_cartron_page_statique',{'page':'histoire'}) }}">{{ "L’HISTOIRE"|trans}}<span> {{ "Cartron, créateur de saveur depuis"|trans}} 1882</span></a></h1>
                                                                                <ul>
                                                                                    <li><a href="{{ path('site_cartron_page_statique',{'page':'joseph-cartron'}) }}"><span class="annee">1990</span> <span class="nom">XAVIER <br /><strong>CARTRON</strong></span></a></li>
                                                                                </ul>
                                                                                <img src="{{ asset('bundles/sitecartron/images/img-xavier-cartron.jpg') }}" alt="" />
                                                                                <div class="desc-histoire">
                                                                                    <p>{{ "En 1990, succédant à son père, Xavier Cartron prend la direction de la société familiale"|trans}}.</p>

                                                                                    <p>{{ "Après HEC et une carrière de 22 années dans la finance , c’est un nouveau regard qu’il pose sur la maison mais avec,toujours, le souci de faire vivre ce patrimoine . Il va définir une stratégie claire quant au positionnement haut de gamme de ses produits, lancer un grand programme de modernisation de l’outil de production et développer une stratégie de distribution sélective offensive en France et à l’international"|trans}}.</p>

                                                                                    <p>{{ "A ces fins, Xavier Cartron étoffe le réseau d’agents multicartes et s’entoure d’une véritable équipe d’encadrement. Il crée une organisation aux rouages bien huilés de façon à toujours offrir un produit de qualité et à être à l’écoute de ses clients .
                                                                                        Le développement à l’export s’accélère alors fortement . Les produits de la maison Joseph Cartron s’établissent légitimement dans les restaurants étoilés et font leur apparition sur les étagères des bars des hôtels de Luxe.
                                                                                        La transmission étant partie intégrante de l’ADN de Joseph Cartron, c’est bien naturellement, qu’à son tour, Xavier Cartron a passé la main à sa fille en 2011"|trans}}.</p>
																																												<p>{{ "La transmission familiale étant partie"|trans}}.</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="menu-bt-histoire">
                                                                                <ul>
                                                                                    <li><a href="{{ path('site_cartron_page_statique',{'page':'joseph-cartron'}) }}" class="dn"><span>JOSEPH CARTRON</span></a><p><span class="annee">1882</span> <span class="nom">JOSEPH <br /><strong>CARTRON</strong></span></p></li>
                                                                                    <li><a href="{{ path('site_cartron_page_statique',{'page':'armand-cartron'}) }}" class="dn"><span>ARMAND CARTRON</span></a><p><span class="annee">1940</span> <span class="nom">ARMAND <br /><strong>CARTRON</strong></span></p></li>
                                                                                    <li><a href="{{ path('site_cartron_page_statique',{'page':'xavier-cartron'}) }}" class="dn active"><span>XAVIER CARTRON</span></a><p><span class="annee">1990</span> <span class="nom">XAVIER <br /><strong>CARTRON</strong></span></p></li>
                                                                                    <li><a href="{{ path('site_cartron_page_statique',{'page':'judith-cartron'}) }}" class="dn"><span>JUDITH CARTRON</span></a><p><span class="annee">2011</span> <span class="nom">JUDITH <br /><strong>CARTRON</strong></span></p></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
{% elseif page== "judith-cartron" %}
                                                                    <script type="text/javascript">
                                                                        $(function() {
                                                                            $('.desc-histoire').jScrollPane({scrollbarWidth: 4});
                                                                        })
                                                                        </script>
                                                                        <div id="histoire">
                                                                            <div class="main" id="main">
                                                                                <div class="content-histoire">
                                                                                    <a href="{{ path('site_cartron_page_statique',{'page':'histoire'}) }}" class="retour dn"><span>{{ "Retour"|trans}}</span></a>
                                                                                    <h1><a href="{{ path('site_cartron_page_statique',{'page':'histoire'}) }}">{{ "L’HISTOIRE"|trans}}<span> {{ "Cartron, créateur de saveur depuis"|trans}} 1882</span></a></h1>
                                                                                    <ul>
                                                                                        <li><a href="{{ path('site_cartron_page_statique',{'page':'joseph-cartron'}) }}"><span class="annee">2011</span> <span class="nom">JUDITH <br /><strong>CARTRON</strong></span></a></li>
                                                                                    </ul>
                                                                                    <img src="{{ asset('bundles/sitecartron/images/img-judith-cartron.jpg') }}" alt="" />
                                                                                    <div class="desc-histoire">
                                                                                        <p>{{ "A l’âge de 38 ans, Judith Cartron prend un virage important : Elle quitte une carrière professionnelle bien tracée et Paris pour rejoindre l’entreprise familiale"|trans}}.</p> 

                                                                                        <p>{{ "Judith Cartron a pris progressivement les rênes de l’entreprise aux côtés de son père qui pendant 3 ans lui transmet les valeurs et le savoir-faire de l’entreprise"|trans}}.</p>

                                                                                       <p>{{ "Passionnée par ce  nouveau challenge"|trans}}.
                                                                                        </p> <p>{{ "Depuis juillet 2011, Judith Cartron est présidente de la Maison Joseph Cartron devenant ainsi la première femme, et la 5ème génération de cette fameuse lignée de distillateurs liquoristes, à diriger l’entreprise"|trans}}.
                                                                                        </p>
																																												<p>{{ "Elle développe aujourd’hui"|trans}}.
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="menu-bt-histoire">
                                                                                    <ul>
                                                                                        <li><a href="{{ path('site_cartron_page_statique',{'page':'joseph-cartron'}) }}" class="dn"><span>JOSEPH CARTRON</span></a><p><span class="annee">1882</span> <span class="nom">JOSEPH <br /><strong>CARTRON</strong></span></p></li>
                                                                                        <li><a href="{{ path('site_cartron_page_statique',{'page':'armand-cartron'}) }}" class="dn"><span>ARMAND CARTRON</span></a><p><span class="annee">1940</span> <span class="nom">ARMAND <br /><strong>CARTRON</strong></span></p></li>
                                                                                        <li><a href="{{ path('site_cartron_page_statique',{'page':'xavier-cartron'}) }}" class="dn"><span>XAVIER CARTRON</span></a><p><span class="annee">1990</span> <span class="nom">XAVIER <br /><strong>CARTRON</strong></span></p></li>
                                                                                        <li><a href="{{ path('site_cartron_page_statique',{'page':'judith-cartron'}) }}" class="dn active"><span>JUDITH CARTRON</span></a><p><span class="annee">2011</span> <span class="nom">JUDITH <br /><strong>CARTRON</strong></span></p></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
{% elseif page== "la-bourgogne-histoire" %}

                                                                        <div id="bourgogne">
                                                                            <div class="main">
                                                                                <div class="content-histoire">
                                                                                    <a href="{{ path('site_cartron_page_statique',{'page':'la-bourgogne'}) }}" class="retour dn"><span>{{ "Retour"|trans}}</span></a>
                                                                                    <h1><a href="{{ path('site_cartron_page_statique',{'page':'la-bourgogne'}) }}">{{ "LA BOURGOGNE"|trans}}<span> {{ "En Héritage"|trans}}</span></a></h1>
                                                                                    <ul class="titre-bourgogne">
                                                                                        <li><a href="#"><span>{{ "L’histoire de la famille cartron"|trans}}</span><br />
                                                                                                {{ "en bourgogne depuis plus de 3 siècles"|trans}}</a></li>
                                                                                    </ul>
                                                                                    <img src="{{ asset('bundles/sitecartron/images/img-bourgogne-histoire.jpg') }}" alt="" />
																																										<script type="text/javascript">
                                                                $(function() {
                                                                    $('.desc-histoire').jScrollPane({scrollbarWidth: 4});
                                                                })
                                                                </script>
                                                                                    <div class="desc-histoire">
                                                                                        <p>{{ "La Bourgogne fait partie intégrante de l’histoire de la famille Cartron depuis plus de trois siècles"|trans}}.<br />
                                                                                            {{ "En effet, Jean Cartron quitte l’ouest de la France, et plus précisément la Vendée, au moment de la Révolution Française pour venir s’installer en Bourgogne, à Argilly, à quelques kilomètres de Nuits-Saint-Georges. Il devient rapidement propriétaire terrien grâce à son mariage avec une Bourguignonne"|trans}}.</p>

                                                                                        <p>{{ "Par la suite, son petit-fils, Pierre Cartron, le père de Joseph, s’installe à Nuits-Saint-Georges au début des années 1870. C’est dans cette ville que Joseph créera la société éponyme en 1882 où elle est toujours ancrée"|trans}}.<br />
                                                                                            {{ "C’est aussi la Bourgogne qui lui a donné ses armes en lieu et place des licornes et l’envie de rechercher l’excellence du goût"|trans}}.<br />
                                                                                            {{ "Depuis cette date, Nuits-Saint-Georges et la Bourgogne ont toujours été le berceau de la famille Cartron"|trans}}.</p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="menu-bt-histoire">
                                                                                    <ul>
                                                                                        <li><a href="{{ path('site_cartron_page_statique',{'page':'la-bourgogne-histoire'}) }}" class="dn active"><span>JOSEPH CARTRON</span></a><p><span>{{ "L’histoire de la famille cartron"|trans}}</span><br />
                                                                                                {{ "en bourgogne depuis plus de 3 siècles"|trans}}</p></li>
                                                                                        <li><a href="{{ path('site_cartron_page_statique',{'page':'la-bourgogne-et-le-coeur'}) }}" class="dn"><span>JOSEPH CARTRON</span></a><p><span>{{ "la bourgogne est le coeur"|trans}}</span><br />
                                                                                                {{ "et l’inspiration de la maison joseph cartron"|trans}}</p></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
{% elseif page== "la-bourgogne-et-le-coeur" %}
<script type="text/javascript">
                                                                $(function() {
                                                                    $('.desc-histoire').jScrollPane({scrollbarWidth: 4});
                                                                })
                                                                </script>
                                                                        <div id="bourgogne">
                                                                            <div class="main">
                                                                                <div class="content-histoire">
                                                                                    <a href="{{ path('site_cartron_page_statique',{'page':'la-bourgogne'}) }}" class="retour dn"><span>{{ "Retour"|trans}}</span></a>
                                                                                    <h1><a href="{{ path('site_cartron_page_statique',{'page':'la-bourgogne'}) }}">{{ "LA BOURGOGNE"|trans}}<span> {{ "En Héritage"|trans}}</span></a></h1>
                                                                                    <ul class="titre-bourgogne">
                                                                                        <li><a href=""><span>{{ "la bourgogne est le coeur"|trans}}</span><br />
                                                                                                {{ "et l’inspiration de la maison joseph cartron"|trans}}</a></li>
                                                                                    </ul>
                                                                                    <img src="{{ asset('bundles/sitecartron/images/img-la-bourgogne-et-le-coeur.jpg') }}" alt="" />
                                                                                    <div class="desc-histoire">
                                                                                        <p>{{ "La Bourgogne est le coeur et l'inspiration de la Maison Joseph Cartron"|trans}}<br />
                                                                                            {{ "Les produits Joseph Cartron s'inscrivent dans la tradition des produits bourguignons : les liens étroits et durables créés avec les producteurs et distillateurs du terroir depuis plusieurs générations ont permis à la Maison Joseph Cartron de construire de véritables partenariats, d'acquérir une connaissance intime du fruit et de travailler ses créations avec les variétés de fruits les plus aromatiques, dans le respect des recettes originales"|trans}}.</p>

                                                                                        <p>{{ "Aujourd'hui encore, la Maison Joseph Cartron achète 70% de ses fruits en Bourgogne, ce qui lui permet de choisir elle-même le moment de la récolte et de travailler les fruits à un stade de maturité optimum"|trans}}.<br />
                                                                                            {{ "L'utilisation de ces variétés de fruits locales, souvent à faible rendement comme le cassis Noir de Bourgogne, permet des créations typiquement bourguignonnes absolument incomparables en terme de goût telles que"|trans}} :</p>
                                                                                        <ul>
                                                                                            <li>{{ "La Crème de Cassis de Bourgogne qui a toujours été le fer de lance de la Maison"|trans}}</li>
                                                                                            <li>{{ "Les Crèmes de Pêche de Vigne, de Framboise, de Cerise de Bourgogne"|trans}}</li>
                                                                                            <li>{{ "Le Ratafia et le Guignolet de Bourgogne"|trans}}</li>
                                                                                            <li>{{ "La Poire Williams des Monts de la Côte d'Or"|trans}}</li>
                                                                                            <li>{{ "Le Marc et la Fine de Bourgogne"|trans}}...</li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="menu-bt-histoire">
                                                                                    <ul>
                                                                                        <li><a href="{{ path('site_cartron_page_statique',{'page':'la-bourgogne-histoire'}) }}" class="dn"><span>JOSEPH CARTRON</span></a><p><span>{{ "L’histoire de la famille cartron"|trans}}</span><br />
                                                                                                {{ "en bourgogne depuis plus de 3 siècles"|trans}}</p></li>
                                                                                        <li><a href="{{ path('site_cartron_page_statique',{'page':'la-bourgogne-et-le-coeur'}) }}" class="dn active"><span>JOSEPH CARTRON</span></a><p><span>{{ "la bourgogne est le coeur"|trans}}</span><br />
                                                                                                {{ "et l’inspiration de la maison joseph cartron"|trans}}</p></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
{% endif %}
{% endblock %}